



<div id='cssmenu1'>
  <ul>
    <li><%= link_to "Inicio ",  root_path, :class => "linka" %></li>
    <li class="active"><a href='#'>Tipos de partes interesadas</a></li>
  </ul>
</div>
<br><br>



<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="res"><%= link_to "Partes Interesadas", clinte_proveedors_path %></li>

    <li role="presentation" class="asi active"><%= link_to "Tipos",cliente_proveedor_types_path %></li>
   

  </ul>
</div>
<br><div class = "row title-table">
   <div class = "col-md-8"  style="padding-left: 0px;">
      <p>Tipos de partes interesadas <span class="label label-primary"><%=@cliente_proveedor_types.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @cliente_proveedor_types, :entry_name => 'Procesos' %></span> </p>


     
   </div>
   <div class = "col-md-2 paginate text-left title-table1">
     
<%= will_paginate @cliente_proveedor_types%>
   </div>

   <div class = "col-md-2">
       <%= link_to 'Nuevo', new_cliente_proveedor_type_path, remote: true, class: "btn btn-primary"  if current_user.role == "SuperAdmin" ||  current_user.rol.configuracion %>
   </div>
</div>





<div class = "row">


   <table class="table">
      <thead>
         <tr class = "tr-table">
          
            <th style="width:25%">Nombre</th>
            <th style="width:50%%">Descripcion</th|>
        
            <th style="width:20%" ></th>
         </tr>
      </thead>
      <tbody>
         <% @cliente_proveedor_types.each do |cliente_proveedor_type| %>
         <tr>
        

        <td><%= cliente_proveedor_type.name %></td>
        <td><%= cliente_proveedor_type.description %></td>
            <td>
               <%= link_to  edit_cliente_proveedor_type_path(cliente_proveedor_type), remote:true, :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               <%= link_to  cliente_proveedor_type,  method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda quel registro se borrara permanentemente',
              'image-url': ''}, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
               <% end %>
            </td>
         </tr>
         <% end %>
      </tbody>
   </table>
   
     

   
</div>

<style>
.btn-danger{background-color: #d9534f
 !important}
   .shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
.fil
{margin: 0px;
}
.search
   {
   width:200px !important;
   height: 27px!important;
   display:inline-block !important;
   }
</style>

      <script>
  $('.btn-danger').hide();

$('#all_id').click(function(){

    if ( $(this).is(':checked') )
    {
            $('.ck').prop('checked', true);
            $('.btn-danger').fadeIn();
             $('td').css('background-color', 'whitesmoke');
       }
        else{
            $('.ck').prop('checked', false);
            $('.btn-danger').fadeOut();
            $('td').css('background-color', 'white');
         }
    });

$('.ck').click(function(){
var a = 0;
  if ( $(this).is(':checked') )
    {
            $('td').css('background-color', 'whitesmoke');
            $('.btn-danger').fadeIn();
       }
        else{
            $('td').css('background-color', 'white');
$(".ck").each(function(){  //todos los que sean de la clase row1
    if($(this).is(':checked')){
       a  = 1;
    }
});
            if (a != 1)
            {
            $('.btn-danger').fadeOut();
            $('#all_id').prop('checked', false);
          }
         }
    });


//filtros
$(document).on('turbolinks:load',function() {
   

   if ("<%=params[:filtros]%>" != "" ||  "<%=params[:commit]%>" != "")
   {
 $('.busqueda').show();


   }
   else
   {
    $('.busqueda').hide();


   }




 });
//filtros
$('.sh').val("<%=params[:search]%>") ;
    $('.sh1').val("<%=params[:search1]%>") ;


</script>


<style>
  .fc-toolbar h2 {
margin: 0;
color: #0db497;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    color:#0db497;

    }

 .fc-view, .fc-view > table {
    
}
</style>

<style>
.imaacc img
{
border-radius: 40px;
}
.cnt
{
border: 1px solid #c3c3c3;
margin-bottom: 10px;
-webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.3s;
    padding: 13px;
}
.rtr1
{
-webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.3s;
  color:gray;

}
.rtr1:hover
{
box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
background: #0db493;
color:white;

}


.rtd
{
padding: 5px;

}
.titulo
{
background:#f2f2f2;
}
.cnt:hover
{

}
.myd
{

    font-size: 26px;
    background: #e8e8e8;
    color: #0db493;
    font-family: 'Days One', sans-serif;
    padding-left: 32px;
}
.prox
{
  font-size: 16px;
    color: #0db4a4;
}
.rtr1
{

}
.fc1
{
  padding: 1px !important;
}
.br
{
      border-radius: 10px;
      margin-right: 10px;
}
</style>
