<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= action_type %> Seguimiento</h4>
      </div>
<%= form_for([ @report, @rseguimiento] , remote: true) do |f| %>
  <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">

  <%= f.hidden_field :admin_user , :value => current_user.admin_user %>
  <%= f.hidden_field :report_id , :value => @report.id%>
  <%= f.hidden_field :user_id ,:value =>  current_user.id %>

 

  <div class="field">
    <%= f.label "Descripción" %>
    <%= f.text_area :descripcion,  class: "form-control" %>
  </div>
<div class="field">
    <%= f.label "Evidencia" %>
    <%= f.file_field :evidencia,  class: "form-control" %>
  </div>
<br>
         <% if @report.state != "Cerrado" && get_employed1.id == @report.employed_id %>
                 <div class="form-group">
                  <%= f.label "Solicitar Cierre" %>
                  <%= f.check_box :s_cierre ,  class: ""  %>
               </div>
               <%end%> 
         <% if @report.state != "Cerrado" && get_employed1.id == @report.cierra_id %>
      
               <div class="form-group">
                  <%= f.label "Cerrar" %>
                  <%= f.check_box :cerrar ,  class: "cierra1"  %>
               </div>
         <%end%>      
               <div class="form-group cierra">
                  <%= f.label "Eficacia" %>
                  <%= f.check_box :eficaz  %>
               </div>
               <div class="form-group cierra">
                  <%= f.label "Conclusión" %>
                  <%= f.text_area :conclucion ,  class: "form-control area"%>
               </div>
              


               </div>
 

  <br>
<hr>
  <div class="form-group text-center">
   <%= f.submit "Guardar", class: 'btn btn-primary btnpad' %>
   <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  </div>
<% end %>


<script>
   $('.cierra').hide();
   $('.cierra1').change(function(){
   
   
              if ( $(this).is(':checked') )
     {
             $('.cierra').fadeIn();
             
        }
         else{
               
     $('.cierra').fadeOut();
           
          }
     });
   
   
</script>