<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rseguimiento.user_id %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @rseguimiento.admin_user %>
</p>

<p>
  <strong>F seguimiento:</strong>
  <%= @rseguimiento.f_seguimiento %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @rseguimiento.descripcion %>
</p>

<p>
  <strong>Report:</strong>
  <%= @rseguimiento.report_id %>
</p>

<p>
  <strong>Evidencia:</strong>
  <%= @rseguimiento.evidencia %>
</p>

