<div class="row">
<p class="myd">DASHBOARD</p>
</div>


<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
     <li role="presentation" class="indi active"><%= link_to "indicadores", root_path %></li>
    
   <li role="presentation" class="res active"><%= link_to "Gestion pendiente de Cierre", dashboard_index_path %></li>
      
     <li role="presentation" class="asi active"><%= link_to "Gestion pendiente de Seguimiento", asignados_d_path %></li>
    



    <li role="presentation" class="rep active"><%= link_to "Todos los reportes", mis_reportesd_path %></li>

  </ul>

<style>
	.fc-toolbar h2 {
margin: 0;
color: #0db497;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    color:#0db497;

    }

 .fc-view, .fc-view > table {
    
}
</style>

<style>
.imaacc img
{
border-radius: 40px;
}
.cnt
{
border: 1px solid #c3c3c3;
margin-bottom: 10px;
-webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.3s;
    padding: 13px;
}
.rtr1
{
-webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.3s;
  color:gray;

}
.rtr1:hover
{
box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;



}


.rtd
{
padding: 5px;

}
.titulo
{
background:#f2f2f2;
}
.cnt:hover
{

}
.myd
{

    font-size: 26px;
    background: #e8e8e8;
    color: #0db493;
    font-family: 'Days One', sans-serif;
    padding: 0px;
}
.prox
{
  font-size: 16px;
    color: #0db4a4;
}
.rtr1
{

}
.fc1
{
  padding: 1px !important;
}
.br
{
      border-radius: 10px;
      margin-right: 10px;
}
</style>


<script>
	
if ("<%=action_name%>" == "index")	
{	$('.res').addClass('active');
$('.asi').removeClass('active');
$('.inv').removeClass('active');
$('.indi').removeClass('active');
 $('.rep').removeClass('active');
}
else if ("<%=action_name%>" == "asignados_d")
{$('.res').removeClass('active');
$('.asi').addClass('active');
$('.inv').removeClass('active');
 $('.indi').removeClass('active');
  $('.rep').removeClass('active');
 }
 else if ("<%=action_name%>" == "employed_indicators")
{
  $('.res').removeClass('active');
$('.asi').removeClass('active');
$('.inv').removeClass('active');
 $('.indi').addClass('active');
  $('.rep').removeClass('active');
 }
 else if ("<%=action_name%>" == "mis_reportesd")
{

  $('.res').removeClass('active');
$('.asi').removeClass('active');
$('.inv').removeClass('active');
 $('.indi').removeClass('active');
 $('.rep').addClass('active');

 }
else

	{
$('.indi').removeClass('active');
$('.res').removeClass('active');
$('.asi').removeClass('active');
$('.inv').addClass('active');
 $('.rep').removeClass('active');
	}

</script>