<div class="panel panel-default" style="    border-bottom: 3px solid #aeaeae;
   border-radius: 0 0 10px 10px;">
   <div class="panel-heading"><strong><%=report.description%></strong><br>
      <span><strong>Proceso: </strong><%=report.proceso.name%></span>
      <span><strong>Fuente: </strong><%=report.source_parent.name%></span>
      <span><strong>Tipo: </strong><%=report.source.name%></span>
      <br>
   </div>
   <div class="panel-body">
      <%if @report_array[i]["cierre"]%>
      <div class="alert alert-<%=estado_contador_alert(report.contador_seg)%>" style="display:inline-block">
         El Reporte esta pendiente de cierre
      </div>
      <%end%>
      <%if @accion_array[i]["cierre"]%>
      <%
         correciones = report.accions.where(tipo: "Correcion").abiertas.where(employed: @employed.id).alerta1.count
         acciones = report.accions.where(tipo: "Accion").abiertas.where(employed: @employed.id).alerta1.count
         actividades = report.accions.where(tipo: "Actividad").abiertas.where(employed: @employed.id).alerta1.count
         
         %>
      <div class="alert alert-info" style="display: <%= correciones > 0 ? "inline-block" : "none"%>">  
          Correciones  pendientes de cierre <span class="br-info"> <%= correciones  %></span>
      </div>
      <div class="alert alert-info" style="display: <%= acciones > 0 ? "inline-block" : "none"%>">  
          Acciones  pendientes de cierre <span class="br-info"> <%= acciones  %></span>
      </div>
      <div class="alert alert-info" style="display: <%= actividades > 0 ? "inline-block" : "none"%>">  
           Actividades  pendientes de cierre <span class="br-info"> <%= actividades  %></span>
      </div>
      <%end%>
      <%if @task_array[i]["cierre"]%>
      <div class="alert alert-info" style="display: inline-block">  
         Tareas  pendientes de cierre <span class="br-info"><%=  report.tasks.abiertas.where(employed: @employed.id).alerta.count %></span>
      </div>
      <%end%>




</div>
</div>









