<div class="panel panel-default" style="    border-bottom: 3px solid #aeaeae;
   border-radius: 0 0 10px 10px;">
   <div class="panel-heading">
  <div class="row">
    <div class="col-md-10">
           <strong><span style="font-size:16px;color:#0db497"><%=report.codigo%>:</span> <%=report.description%></strong><br>
      <span><strong>Proceso: </strong><%=report.proceso.name%></span>
      <span><strong>Fuente: </strong><%=report.source_parent.name%></span>
      <span><strong>Tipo: </strong><%=report.source.name%></span>
        
    </div>

    <div class="col-md-2 text-right">
      <%= link_to "Ir al Reporte" ,report_path(report.id), class: "btn btn-primary", style: ""%>
    </div>

   </div>

    
   </div>

   <div class="panel-body">
      <%if @report_array[i]["cierre"]%>
      <div class="alert alert-<%=estado_contador_alert(report.contador_seg)%>" style="display:inline-block">
        <i class="fas fa-exclamation-triangle" style="font-size:16px;color:<%=estado_contador(report.contador_seg)%>" ></i> Pendiente cerrar el Reporte
      </div>
      <%end%>
      <%if @accion_array[i]["cierre"]%>
      <%
         correciones = report.accions.where(tipo: "Correcion").abiertas.where(employed: @employed.id).alerta1
         acciones = report.accions.where(tipo: "Accion").abiertas.where(employed: @employed.id).alerta1
         actividades = report.accions.where(tipo: "Actividad").abiertas.where(employed: @employed.id).alerta1
         
         %>
    <div class="alert alert-info" style="display: <%= correciones.alerta1.count > 0 ? "inline-block" : "none"%>">  
          Correciones pendientes de cierre
          <%if correciones.proximas.count > 0 %>
           <i class="fas fa-exclamation-triangle" style="font-size:16px;color:orange;" ></i> <span class="badge-orange"> <%= correciones.proximas.count  %></span>
           <%end%> 
             <%if correciones.vencidas.count > 0 %>
            <i class="fas fa-exclamation-triangle" style="font-size:16px;color:#c32626;" ></i><span class="badge-red">  <%= correciones.vencidas.count  %></span>
            <%end%>
      </div>
         
  

  <div class="alert alert-info" style="display: <%= acciones.alerta1.count > 0 ? "inline-block" : "none"%>">  
          Acciones  pendientes de cierre
          <%if acciones.proximas.count > 0 %>
           <i class="fas fa-exclamation-triangle" style="font-size:16px;color:orange;" ></i> <span class="badge-orange"> <%= acciones.proximas.count  %></span>
           <%end%> 
             <%if acciones.vencidas.count > 0 %>
            <i class="fas fa-exclamation-triangle" style="font-size:16px;color:#c32626;" ></i><span class="badge-red">  <%= acciones.vencidas.count  %></span>
            <%end%>
      </div>


       <div class="alert alert-info" style="display: <%= actividades.alerta1.count > 0 ? "inline-block" : "none"%>">  
          Actividades  pendientes de cierre
          <%if actividades.proximas.count > 0 %>
           <i class="fas fa-exclamation-triangle" style="font-size:16px;color:orange;" ></i> <span class="badge-orange"> <%= actividades.proximas.count  %></span>
           <%end%> 
             <%if actividades.vencidas.count > 0 %>
            <i class="fas fa-exclamation-triangle" style="font-size:16px;color:#c32626;" ></i><span class="badge-red">  <%= actividades.vencidas.count  %></span>
            <%end%>
      </div>
      






      <%end%>
      <%if @task_array[i]["cierre"]%>
      <div class="alert alert-info" style="display: inline-block"> 
         <% t_vencidas = report.tasks.abiertas.vencidas.where(employed: @employed.id).count
            t_proximas = report.tasks.abiertas.proximas.where(employed: @employed.id).count    
         %>
         Tareas  pendientes de cierre 

         <%if t_proximas > 0 %>
         <i class="fas fa-exclamation-triangle" style="font-size:16px;color:orange;" ></i> 
         <span class="badge-orange"><%=  t_proximas %></span>
         <%end%>
         <%if t_vencidas > 0 %>
         <i class="fas fa-exclamation-triangle" style="font-size:16px;color:#c32626;" ></i> 
          <span class="badge-red"><%=  t_vencidas %></span>
         <%end%>
      </div>
      <%end%>
 <%if @accion_array[i]["cierre"] ||  @task_array[i]["cierre"]%>

<a class="btn btn-primary ver-pendientes" role="button" data-toggle="collapse" href="#collapseExample<%=report.id%>" aria-expanded="false" aria-controls="collapseExample">
  Ver Pendientes
</a>

<%end%>

<div class="collapse" id="collapseExample<%=report.id%>" style="margin-top:30px;">
  <div class="well">
   <div class="alert" >
   <%if @accion_array[i]["cierre"]%>
  <h3 style="color:gray;margin:0px;">Gestion</h3>
  <div class="row">
      <div class="col-md-12">
         <table class="table tl">
            <thead>
               <tr>
                  <th style="width: 150px">Fecha de Compromiso</th>
                  <th style="width: 250px">Descripción</th>
                  <th>Responsable</th>
                  
                  <th>Días para cierre</th>
                  <th>Seguimiento</th>
                  <th>Link</th>
               </tr>
            </thead>
            <tbody>
               <% report.accions.abiertas.where(employed: @employed.id).alerta1.each do |accion| %>
               <%clase = ""
                  accion.contador_seg < 0 ?  clase = "vencidob" : clase = "proximob"
                  clase = "vigenteb" if accion.contador_seg > 5 %>
               <tr>
                  <td class="<%=clase%>"><%=accion.f_compromiso%></td>
                  <td class="text-left"><strong><%=accion.tipo%>: </strong><%=accion.descripcion%></td>
                  <td><%=accion.employed.first_name%> <%=accion.employed.first_last_name%></td>
                  
                  <td><%=accion.contador_seg%></td>
                  <td><%if accion.f_seguimiento != 0%>
                     <% time = "" 
                        if accion.f_seguimiento != 0 && accion.fp_seguimiento != nil
                         if accion.fp_seguimiento > Time.now 
                               
                                   time = "" 
                            
                            else 
                        
                              time = " Pendiente"
                         end
                          else
                            time = ""   
                        end  
                        %>
                     <span><%=get_date(accion.fp_seguimiento)%><%=time%></span>
                     <%else%>
                     Sin frecuencia de Seguimiento 
                     <%end%>
                  </td>
                  <td><a href="/reports/<%=report.id%>/accions/<%=accion.id%>"><i class="fa fa-eye" aria-hidden="true" style="font-size:20px;"></i> Ir a la <%=accion.tipo%></a></td>
               </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
   <%end%>
   <% report.accions.abiertas.each do |accion| %>
   <%if accion.tasks.abiertas.alerta.where(employed: @employed.id).count > 0%>
  <h3 style="color:gray;margin:0px;">Tareas</h3>
   <div class="row">
      <div class="col-md-12">
         <table class="table tl">
            <thead>
               <tr>
                   <th style="width: 150px">Fecha de Compromiso</th>
                  <th style="width: 250px">Descripción</th>
                  <th>Responsable</th>
                  <th>Días para cierre</th>
                  <th>Link</th>
               </tr>
            </thead>
            <tbody>
               <% accion.tasks.abiertas.alerta.where(employed: @employed.id).each do |task| %>
               <%clase = ""
                  task.contador_seg < 0 ?  clase = "vencidob" : clase = "proximob"
                  clase = "vigenteb" if task.contador_seg > 5 %>
               <tr>
                  <td class="<%=clase%>"><%=task.f_compromiso%></td>
                  <td class="text-left"><%=task.name%></td>
                  <td><%=task.employed.first_name%> <%=task.employed.first_last_name%></td>
                  
                  <td><%=task.contador_seg%></td>
                  <td><a href="/reports/<%=report.id%>/accions/<%=accion.id%>"><i class="fa fa-eye" aria-hidden="true" style="font-size:20px;"></i> Ir a la Tarea</a></td>
               </tr>
               <%end%>
            </tbody>
         </table>
      </div>
   </div>
    <%end%>
   <%end%>
</div>
  </div>
</div>





</div>
</div>

<style>
.ver-pendientes
{
    float: right;
    position: relative;
    top: 38px;
    left: 15px;
    border-radius: 7px 0px;

}
.badge-red
{
    
    color: #c32626 !important;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 2px;
}

.badge-orange
{
 margin: 0px 5px 0px 0px;
    color: orange !important;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 2px;
}
    
</style>








