      <div class="row rtr rtr1 filter2" >
               <%employed = Employed.find(employed_p)%>
               <div class="row">
                  <div class="col-md-2 rtd"> 
                     <%if report.s_cierre %>
                     <i class="fa fa-thumbs-o-up" style = "font-size:15px;margin-right: 2px;" aria-hidden="true"></i>
                     <%end%>
                     <strong><%= desc %><br></strong>
                     <%=get_employed(employed.email).first_name%> <%=get_employed(employed.email).first_last_name%>
                  </div>

                  <%color = ""
                     report.contador_seg < 0 ?  color = "#d82c2c" : color = "orange"
                     color = "#22c488" if report.contador_seg > 5 %>
                   
                   <div class="col-md-2 rtd ">
                         <strong>Proceso<br></strong>
                         <%=report.proceso.name%>
                  </div>  

                 <div class="col-md-2 rtd ">
                         <strong>Fuente<br></strong>
                         <%=report.source_parent.name%>
                  </div>  

                  <div class="col-md-2 rtd ">
                         <strong>Tipo<br></strong>
                         <%=report.source.name%>
                  </div>
    
                  
                  <div class="col-md-3 rtd fc1 text-center" style= "background:<%=color%>;color:white">
                     <strong>Fecha de compromiso: <br></strong> 
                     <%=get_date(report.f_compromiso)%>&nbsp;&nbsp;&nbsp; <%= report.contador_seg < 0 ?  "Vencido" :  "Faltan"%> <%=report.contador_seg.abs%> días
                  </div>
                  
                  <div class="col-md-1 rtd text-right">
                     <a class="" href="/reports/<%=report.id%>">
                     <i class="fa fa-eye" aria-hidden="true" style="font-size:20px;"></i> Reporte 
                     </a>
                  </div>
               </div>
               <hr class="hr">
              
               <div class="col-md-3 rtd">
                  <div class="row text-center">
                     <div class="col-md-12" style="" >
                        <strong>Gestion del Reporte</strong>
                     </div>
                     <div class="col-md-4" style="background:#0db4a4; color:white">
                        <strong><%=report.accions.abiertas.vigentes.count%></strong>
                     </div>
                     <div class="col-md-4" style="background:orange; color:white">
                        <strong><%=report.accions.abiertas.proximas.count%></strong>
                     </div>
                     <div class="col-md-4" style="background:#d82c2c; color:white">
                        <strong><%=report.accions.abiertas.vencidas.count%></strong>
                     </div>

                     <div class="col-md-12" style="margin-top:10px;">
                         <% num_segs = 0 %>
                      <!-- Recorre las acciones y mira si alguna tiene seguimiento pendiente y revisa si la accion tiene fp seguiemiento-->
                         <% report.accions.abiertas.each do |accion|%>
                              
                              <% if accion.f_seguimiento != 0 && accion.fp_seguimiento != nil
                            accion.fp_seguimiento > Time.now  ? num_segs = num_segs : num_segs = num_segs + 1%>
                              <%end%>
                            

                                <%end%>
                 <span style="font-weight: bold;">Seguimientos Pendientes <%=num_segs%></span>       
                     </div>
                  </div>
               </div>

               <div class="col-md-1 rtd"><a class="" style="margin-right:10px;" role="button" data-toggle="collapse" href="#collapseExample<%=report.id%>" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fa fa-caret-down" aria-hidden="true" style="font-size:20px;"></i>  
                  </a>
               </div>
                <div class="col-md-8 rtd"> <strong>Descripción: </strong><span class="filter3"><%=report.name%></span></div>
               <div class="collapse col-md-12" id="collapseExample<%=report.id%>">
                  <div class="well">
                     <h4>Gestion del Reporte</h4>
                     <table class="table tl">
                        <thead>
                           <tr>
                              <th>Tipo</th>
                              <th>Descripción</th>
                              <th>Responsable</th>
                              <th>Fecha de Compromiso</th>
                              <th>Días para cierre</th>
                              <th>Seguimiento</th>
                              <th>Link</th>
                           </tr>
                        </thead>
                        <tbody>
                           <% report.accions.abiertas.each do |accion|%>
                           <%clase = ""
                              accion.contador_seg < 0 ?  clase = "vencidob" : clase = "proximob"
                              clase = "vigenteb" if accion.contador_seg > 5 %>
                           <tr>
                              <td><%=accion.tipo%></td>
                              <td><%=accion.name%></td>
                              <td><%=accion.employed.first_name%> <%=accion.employed.first_last_name%></td>
                              <td class="<%=clase%>"><%=accion.f_compromiso%></td>
                              <td><%=accion.contador_seg%></td>
                              <td><%if accion.f_seguimiento != 0%>
                 <% time = "" 
                if accion.f_seguimiento != 0 && accion.fp_seguimiento != nil
                 if accion.fp_seguimiento > Time.now 
                       
                           time = "" 
                    
                    else 

                      time = " Pendiente"
                 end
                  else
                    time = ""   
                end  
         %>
                <span><%=get_date(accion.fp_seguimiento)%><%=time%></span>
                  <%else%>
                  Sin frecuencia de Seguimiento
                  <%end%></td>
                              <td><a href="/reports/<%=report.id%>/accions/<%accion.id%>"><i class="fa fa-eye" aria-hidden="true" style="font-size:20px;"></i> Ir a la <%=accion.tipo%></a></td>
                           </tr>
                           <%end%>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>


<style>
 .rtr1
 {
   background: #fffee1;
   border-bottom: 1px solid gainsboro;
   padding: 0px  10px;
   border: 1px solid #cbcbcb;
   margin-bottom: 30px;"               
 }

</style>            