

<%if @report_array[i]["cierre"]%>
<div class="alert alert-warning">
    Cerrar Reporte
</div>
<%end%>




<%if @accion_array[i]["cierre"]%>
<div class="alert alert-warning">
    Acciones <%=report.accions.abiertas.where(employed: @employed.id).alerta1.count%><br>



    <% report.accions.abiertas.where(employed: @employed.id).alerta1.each do |accion| %>
         Gestion Pendiente de Cierre <br>
       <span style="padding:0px 5px;border:3px solid <%=estado_contador(accion.contador_seg)%>"><strong><%= accion.tipo%>: </strong><%= accion.descripcion%></span>
 
          
     <%end%>      

     <% report.accions.abiertas.each do |accion| %>
        
        <%if accion.tasks.abiertas.alerta.where(employed: @employed.id).count > 0%>
          
            <% accion.tasks.abiertas.alerta.where(employed: @employed.id).each do |task| %>
                
               <span style=" padding:0px 5px;border:3px solid <%=estado_contador(task.contador_seg)%>"><strong>Tarea: </strong><%= task.name%></span>

            <%end%>
        <%end%>
  
       

    <%end%>
    

</div>
<%end%>