<div class="row rtr rtr1" style="  background: #fffee1;border-bottom: 1px solid gainsboro;padding: 10px;border: 1px solid #cbcbcb;
    margin-bottom: 10px;">
    <div class="row">

   
                   <div class="col-md-3 rtd"> 
               <strong><%=desc%><br></strong>
              <%=get_employed(employed_p).first_name%> <%=get_employed(employed_p).first_last_name%></div>
                  <%color = ""
                  task.contador_seg < 0 ?  color = "#d82c2c" : color = "orange"
                  color = "#22c488" if task.contador_seg > 5 %>

                
                 <div class="col-md-2 rtd fc1 text-center">
               <strong>Pertenece a la <%=task.accion.tipo%>: <br></strong> 
                      
                      <%=task.accion.codigo%> <button type="button" class="ver" data-toggle="modal" data-target="#myModala<%=task.id%>">(Ver)</button><a href="/reports/<%=task.accion.report_id%>/accions/<%=task.accion.id%>">(Ir)</a>

              </div>


                 <div class="col-md-2 rtd fc1 text-center">
               <strong>Pertenece al Reporte: <br></strong> 
                      
                      <%=task.accion.report.codigo%> <button type="button" class="ver" data-toggle="modal" data-target="#myModalr<%=task.id%>">(Ver)</button><a href="/reports/<%=task.accion.report_id%>">(Ir)</a>

              </div>


               
                  
               <div class="col-md-3 rtd fc1 text-center" style= "background:<%=color%>;color:white">
               <strong>Fecha de compromiso: <br></strong> 
               <%=get_date(task.f_compromiso)%>&nbsp;&nbsp;&nbsp; <%= task.contador_seg < 0 ?  "Vencido" :  "Faltan"%> <%=task.contador_seg.abs%> días</div>

               

                <div class="col-md-1 rtd text-right">
<a class="" href="/reports/<%=task.accion.report_id%>/accions/<%=task.accion.id%>/tasks/<%=task.id%>">
<i class="fa fa-eye" aria-hidden="true" style="font-size:20px;"></i> Tarea 

</a>


    

               </div>

             
                </div>
                <br>
                <div class="row">
                   <div class="col-md-12 rtd" style="font-size:16px;"><strong>TAREA: </strong><%=task.name%></div>
                

                </div>
                 
               </div>






 <div class="modal fade" id="myModalr<%=task.id%>" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reporte <%=task.accion.report.codigo%></h4>
        </div>
        <div class="modal-body">
          <p><strong>Reporte:</strong> <%=task.accion.report.name%></p>
            <br>
          <p><strong>Descripcion Detallada:</strong> <%=task.accion.report.description%></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="myModala<%=task.id%>" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reporte <%=task.accion.Codigo%></h4>
        </div>
        <div class="modal-body">
          <p> <%=task.accion.name%></p>
            <br>
          <p><strong>Descripcion Detallada:</strong> <%=task.accion.descripcion%></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>



  <style>

    .ver
      {
        background: none;
        color: #428bca;
        border: 0px;
      }
   
 .rtr1
 {
   background: #fffee1;
   border-bottom: 1px solid gainsboro;
   padding: 0px  10px;
   border: 1px solid #cbcbcb;
   margin-bottom: 30px;"               
 }

       
  </style>