<%= render 'encabezado'%>

<br>
<div class="row">
   <div class="col-md-6">
      
    
      <div class="conteinter reporte ">
         <div class="row rtr">

            <p class = "prox">Reportes Vencidos <span class="label label-danger br"><%=@ireportspv.count%></span> y Proximos a Vencer <span class="label label-warning br"><%=@ireportsv.count%></span></p>
            <hr class="hr">
         </div>
         <div class="row rtr">
            <div class="col-md-3 rtd"><strong><i class="fa fa-calendar" aria-hidden="true"></i> Entrega</strong></div>
            <div class="col-md-3 rtd"><strong>Responsable:</strong> </div>
            <div class="col-md-6 rtd"><strong>Descripcion:</strong></div>
         </div>
         <div class="descnum1">
            <% @ireports.each do |report|%>
            <%= link_to report_path(report) do %>
            <div class="row rtr rtr1">
               <%employed = Employed.find(report.employed_reporta)%>
               <%color = ""
                  report.contador_seg < 0 ?  color = "#d82c2c" : color = "orange"%>
               <div class="col-md-3 rtd fc1" style= "background:<%=color%>;color:white"><%=get_date(report.f_compromiso)%></div>
               <div class="col-md-3 rtd"><%= Employed.find(report.employed_id).first_name%> <%= Employed.find(report.employed_id).first_last_name%></div>
               <div class="col-md-6 rtd"><%=report.name%></div>
            </div>
            <%end%>
            <%end%>
         </div>
         <br>
         <p class = "prox"><strong>(Asigne)</strong> Acciones Vencidas <span class="label label-danger br"><%=@iaccionspv.count%></span> y Proximas a Vencer 
            <span class="label label-warning br"><%=@iaccionsv.count%></span>
         </p>
         <hr class="hr">
         <div class="descnum1">
            <% @iaccions.each do |accion|%>
            <%= link_to accion_path(accion) do %>
            <div class="row rtr rtr1">
               <%color = ""
                  accion.contador_seg < 0 ?  color = "#d82c2c" : color = "orange"%>
               <div class="col-md-3 rtd fc1" style= "background:<%=color%>;color:white"><%=get_date(accion.f_compromiso)%></div>
               <div class="col-md-3 rtd"><%= Employed.find(accion.employed_id).first_name%> <%= Employed.find(accion.employed_id).first_last_name%></div>
               <div class="col-md-6 rtd"><%=accion.name%></div>
            </div>
            <%end%>
            <%end%>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div id="calendar"></div>
   </div>
</div>


<style>
  .fc-toolbar h2 {
margin: 0;
color: #0db497;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    color:#0db497;

    }

 .fc-view, .fc-view > table {
    
}
</style>

<style>
.imaacc img
{
border-radius: 40px;
}
.cnt
{
border: 1px solid #c3c3c3;
margin-bottom: 10px;
-webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.3s;
    padding: 13px;
}
.rtr1
{
-webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.3s;
  color:gray;

}
.rtr1:hover
{
box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
background: #0db493;
color:white;

}


.rtd
{
padding: 5px;

}
.titulo
{
background:#f2f2f2;
}
.cnt:hover
{

}
.myd
{

    font-size: 26px;
    background: #e8e8e8;
    color: #0db493;
    font-family: 'Days One', sans-serif;
    padding-left: 32px;
}
.prox
{
  font-size: 16px;
    color: #0db4a4;
}
.rtr1
{

}
.fc1
{
  padding: 1px !important;
}
.br
{
      border-radius: 10px;
}
</style>