<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" type="text/javascript" charset="utf-8" async defer></script>

<%= render 'encabezado'%>
<!--holaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
<body class="w3-light-grey">
  <div class="w3-content w3-margin-top" style="max-width:1400px;">
    <div class="w3-row-padding">
      <div class="w3-third" style="width: 320px;">
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container" style="text-align:center; padding-top: 17px;" >
            <%= @employed.avatare? ? image_tag(@employed.avatare_url(:medium)) : image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRuEG5mQKFGi9hNgrdBJnEyBfw2Kl0JNXwoHiXjVeKQemKOQqFe", style: "height: 104px;")%>
        </div>
        <br><br>
        <div class="w3-container">
          <strong><h4 style="color: black;"><%= @employed.first_name %> <%= @employed.second_name %> <%= @employed.first_last_name %> <%= @employed.second_last_name %></h4></strong>

          <p style="font-size: 13px;"><i class="far fa-envelope fa-fw w3-margin-right w3-large w3-text-teal" style="color: #0cb497 !important;"></i><%= @employed.email %></p>

          <p><i class="fa fa-address-card  fa-fw w3-margin-right w3-large w3-text-teal" style="color: #0cb497 !important;"></i> <%= @employed.document_type%> - <%= @employed.document%></p>

          <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-large w3-text-teal" style="color: #0cb497 !important;"></i><%= @employed.birth_date %></p>

          <p><i class="fa fa-venus-mars fa-fw w3-margin-right w3-large w3-text-teal" style="color: #0cb497 !important;"></i><%= @employed.genero %></p>

          <div id="container" style="height: 250px;"></div>
          
          <hr>

            <div class="row" style="text-align: center;">

            <%= link_to 'Editar', edit_employed_path(@employed), remote: true, class: "btn btn-primary btn-block" %>
            </div>

          <br>

        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom" style="width: 110%;">
        <div class="w3-container">

          <div class="row">
                 <br>
<div class="col-md-9" style="padding: 0px;">
   <p style = "font-size: 12px;
"><i class="fa fa-calendar-check-o" style="font-size: 16px;color:#0db45a" aria-hidden="true"></i> <span style = "margin-right:25px">Vigentes</span>
   <i class="fa fa-calendar-times-o" aria-hidden="true" style="font-size: 16px;color: red;"></i> <span style = "margin-right:25px">Vencidos</span>
   <i class="fa fa-thumbs-o-up" style="font-size: 16px;color:  #279afd;" aria-hidden="true"></i> <span style = "margin-right:25px">Cumplio Fecha de Entrega</span>
   <i class="fa fa-thumbs-o-down" aria-hidden="true" style="font-size: 16px;color: #d27f37;"></i> <span style = "margin-right:25px">No Cumplio Fecha de Entrega</span>
   </p>
</div>

<div class="col-md-5" style="padding: 0px; float: right; width: 203px;">
   <p style = "font-size: 12px;
"><i class="fas fa-circle" style="font-size: 16px;color:#0db45a" aria-hidden="true"></i> <span style = "margin-right: 10px">Exelente</span>
   <i class="fas fa-circle" aria-hidden="true" style="font-size: 16px;color: #d27f37;"></i> <span style = "margin-right:10px">Buena</span>
   <i class="fas fa-circle" style="font-size: 16px;color:  red;" aria-hidden="true"></i> <span style = "margin-right:10px">Mala</span>
   </p>
</div>
<br><br>
      <table class="table indicadores" >
      <thead>
      <tr class = "tr-table">
          
            <th style = "border-bottom: none !important;"></th>
            <th style = "border-bottom: none !important;"></th>
            <th  colspan="3" style = "border-right: 1px solid gray;
    border-left: 1px solid gray;border-bottom: none !important; font-size: 16px !important;">Abiertos</th>
            <th  colspan="4" style = "border-left: 1px solid gray;border-bottom: none !important; font-size: 16px !important;">Cerrados</th>
        

         <tr class = "tr-table">
          
            <th></th>
            <th style=" font-size: 14px !important;">Total</th>

           <th style = "border-left:1px solid gray"> <i class="fa fa-calendar-check-o" style="font-size: 16px;color:#0db45a" aria-hidden="true"></i>
</th>
  
            <th><i class="fa fa-calendar-times-o" aria-hidden="true" style="font-size: 16px;color: red;"></i>
</th><th style = "border-right:1px solid gray; font-size: 14px !important; ">Total</th>
            
            <th> <i class="fa fa-thumbs-o-up" style="font-size: 16px;color:#279afd" aria-hidden="true"></i>
</th>
            <th><i class="fa fa-thumbs-o-down" aria-hidden="true" style="font-size: 16px;color: #d27f37;"></i>
</th><th style=" font-size: 14px !important;" >Total</th>
<th style=" font-size: 14px !important;">% Cumplimiento</th>
         </tr>
      </thead>
      <tbody>
        <tr>
        <td class="text-left" style = "font-weight:bold; font-size: 14px !important;" >Reportes</td>
        <td ><%= @reports.count %></td>
      
         <td class="color1"><%= @racumplio %></td>
          <td class="color2"><%= @ranocumplio %></td>
            <td><%= @rabiertos %></td>
        
        <td class="color3"><%= @rcumplio %></td>
        <td class="color4"><%= @rnocumplio %></td>
         <td><%= @rcerrados %></td>
         <%if @rcerrados != 0 %>
        <td style = "color:white;background:<%=get_color_porcentaje(@rporcentaje)%>">% <%= @rporcentaje%></td>
        <%else%>
        <td style="font-size: 14px !important;">Sin Datos</td>
        <%end%>
        </tr>
      
          <tr>
        <td class="text-left" style = "font-weight:bold; font-size: 14px !important;">Acciones</td>
       <td><%= @acciones %></td>
       
   <td class="color1"><%= @aacumplio %></td>
         <td class="color2"><%= @aanocumplio %></td>
          <td><%= @aabiertas %></td>
        
       
        <td  class="color3"><%= @acumplio %></td>
         <td class="color4"><%= @anocumplio %></td>
         <td><%= @acerradas %></td>
         <%if @acerradas != 0 %>
        <td style = "color:white;background:<%=get_color_porcentaje(@aporcentaje)%>">% <%= @aporcentaje%></td>
        <%else%>
        <td style="font-size: 14px !important;">Sin Datos</td>
        <%end%>
        </tr>
          <tr>
        <td class="text-left" style = "font-weight:bold; font-size: 14px !important;">Tareas</td>
             <td><%= @tasks%></td>
       
    <td  class="color1"><%= @tacumplio %></td>
        <td class="color2"><%= @tanocumplio %></td>
         <td><%= @tabiertas %></td>
        
        
        <td  class="color3"><%= @tcumplio %></td>
        <td class="color4"><%= @tnocumplio %></td>
        <td><%= @tcerradas %></td>
         <%if @tcerradas != 0 %>
        <td style = "color:white;background:<%=get_color_porcentaje(@tporcentaje)%>">% <%= @tporcentaje%></td>
        <%else%>
        <td style="font-size: 14px !important;">Sin Datos</td>
        <%end%>
        </tr>
          <tr class="total">
        <td class="text-right" style = "font-weight:bold; font-size: 14px !important;">Totales</td>
             <td><%= @total1%></td>
        <td  class="color1"><%= @total2%></td>
         <td class="color2"><%= @total3%></td>
         
        <td><%= @total4%></td>
        <td  class="color3"><%= @total5 %></td>
        <td  class="color4"><%= @total6 %></td>
        <td><%= @total7 %></td>
         <%if @total7 != 0 %>
        <td style = "color:white;background:<%=get_color_porcentaje(@total8)%>">% <%= @total8%></td>
        <%else%>
        <td style="font-size: 14px !important;">Sin Datos</td>
        <%end%>
        </tr>
      </tbody>
   </table>
  <br><br>
<div class="row tortas">
  

<div class="col-md-4">
  <div id="container10" style="height: 200px"></div>

  <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>


</div>
<div class="col-md-4">
  <div id="container11" style="height: 200px"></div>
    <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
<div class="col-md-4">
  <div id="container12" style="height: 200px"></div>
    <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>

<div class="col-md-12">
  <hr>
</div>
<div class="col-md-4" >
  <div id="container13" style="height: 200px"></div>
   <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
<div class="col-md-4">
  <div id="container14" style="height: 200px"></div>
   <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
<div class="col-md-4">
  <div id="container15" style="height: 200px"></div>
   <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
</div>
  <div class="col-md-6" style="margin-bottom: 37px !important; display:none">
    <!--<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>-->
   <div id="container1" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
</div>

   <div class="col-md-6" style="margin-bottom: 37px !important;display:none">
    <!--<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>-->
   <div id="container2" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
</div>



            
          </div>
        </div>
 
      </div>


    <!-- End Right Column -->
    </div>
    
  <!-- End Grid  height 104px-->
  </div>
  <!-- End Page Container -->
</div>

<!--holaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->


<style>
  .tortas table
  {
    display: none
  }
   .img img
   {
   width: 100px;
   border-radius: 45%;}
   .indicadores
   {
    text-align: center;
    margin-bottom: 0px !important;
   }
   .total td
   {
    font-weight: bold;
    font-size-adjust: 16px;
    font-size: 12px !important;
   }
.w3-display-container{
    border-top: 3px solid #dbdbdb;
}
.w3-margin-bottom {
  border-top: 3px solid #dbdbdb;
}

.w3-container h4{
    margin-bottom: 18px;
    text-align: center;
}

.color1{
    color: #0db45a;
}

.color2{
    color: red;
}

.color3{
    color: #279afd;
}

.color4{
    color: #d27f37;
}
.table th {
    font-size: 15px !important;
    text-align: left;
}
</style>





<script>
    
Highcharts.chart('container', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: '%Rendimiento'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 100,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: ''
        },
        plotBands: [{
            from: 0,
            to: 60,
            color: '#d82c2c' // green
        }, {
            from: 60,
            to: 80,
            color: 'orange' // yellow
        }, {
            from: 80,
            to: 100,
            color: '#08af62' // red
        }]
    },

    series: [{
        name: 'Speed',
        data: [<%=@total8%>],
        tooltip: {
            valueSuffix: ' Rendimiento'
        }
    }]

},
// Add some life
function (chart) {
    if (!chart.renderer.forExport) {
        setInterval(function () {
            var point = chart.series[0].points[0],
                newVal,
                inc = Math.round((Math.random() - 0.5) * 1);

            newVal = point.y + inc;
            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);

        }, 3000);
    }
});
</script>




<script>
    Highcharts.chart('container1', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Abiertos'
    },
        xAxis: {
        categories: [
            'Reportes',
            'Acciones',
            'Tareas'         
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Total',
        color: '#817575',
        data: [ 100 , 100 ,100]
    },

    {
        name: 'Vigentes',
        color: '#0db493',
        data: [<%=@rporcentaje_abi_cump%>, <%=@aporcentaje_abi_cump%>,<%=@tporcentaje_abi_cump%>]

    },  {
        name: 'Vencidos',
        color: '#d82c2c',
        data: [<%=@rporcentaje_abi_no%>, <%=@aporcentaje_abi_no%>, <%=@tporcentaje_abi_no%>]

    }, 

    ]
});
</script>


<script>
    Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cerrados'
    },
        xAxis: {
        categories: [
            'Reportes',
            'Acciones',
            'Tareas'         
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{ 
        name: 'Total',
        color: '#E78533',
        data: [ 100, 100, 100]

    },

    { 
        name: 'Cumplidos',
        color: '#279afd',
        data: [ <%=@rporcentaje%>, <%=@aporcentaje%>, <%=@tporcentaje%>]

    }, {
        name: 'No Cumplidos',
        color: '#b9661e',
        data: [ <%=@rporcentaje_no%>, <%=@aporcentaje_no%>,<%=@tporcentaje_no%>]

    }

    ]
});
</script>


<script>
  

Highcharts.chart('container10', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Reportes Abiertos'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Vigentes',
      color: "#0db45a",
      y: <%=@rporcentaje_abi_cump%>,
    }, {
      name: 'Vencidos',
      color: "#c41818",
      y: <%=@rporcentaje_abi_no%>
    }]
  }]
});



Highcharts.chart('container11', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Acciones Abiertas'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Vigentes',
      color: "#0db45a",
      y: <%=@rporcentaje_abi_cump%>,
    }, {
      name: 'Vencidos',
      color: "#c41818",
      y: <%=@rporcentaje_abi_no%>
    }]
  }]
});



Highcharts.chart('container12', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Tareas Abiertas'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Vigentes',
      color: "#0db45a",
      y: <%=@rporcentaje_abi_cump%>,
    }, {
      name: 'Vencidas',
      color: "#c41818",
      y: <%=@rporcentaje_abi_no%>
    }]
  }]
});
</script>




<script>
  

Highcharts.chart('container13', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Reportes Cerrados'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Cumplio',
      color: "#279afd",
      y: <%=@rporcentaje%>,
    }, {
      name: 'No cumplio',
      color: "#e17a22",
      y: <%=@rporcentaje_no%>
    }]
  }]
});



Highcharts.chart('container14', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Acciones Cerradas'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Cumplio',
      color: "#279afd",
      y: <%=@aporcentaje%>,
    }, {
      name: 'No cumplio',
      color: "#e17a22",
      y: <%=@rporcentaje_no%>
    }]
  }]
});



Highcharts.chart('container15', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Tareas Cerradas'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Cumplio',
      color: "#279afd",
      y: <%=@tporcentaje%>,
    }, {
      name: 'No cumplio',
      color: "#e17a22",
      y: <%=@tporcentaje_no%>
    }]
  }]
});
</script>