<%= render 'encabezado'%>
<br>




<div class="row">
   <div class="col-md-12" style= "    border-right: 1px solid gainsboro;     padding: 0px;">
      <div class="conteinter reporte">
         <div class="row rtr">
            <p class = "prox"><strong style="font-size:25px;">Reportes <span style = "font-size:12px;">(Que creaste y estan vencidos o proximos a vencer)</span></strong><br><br> Vencidos <span class="label label-danger br"><%=@reportsv%></span>  Proximos a Vencer <span class="label label-warning br"><%=@reportspv%></p>
            <hr class="hr">
         </div>
         
         <div class="">
             <%if @reports.count > 0 %>
            <% @reports.each do |report|%>
          
          <%= render "reporte", report: report, employed_p: report.employed_reporta, desc: "Asignado por" %>
            
            <%end%>
            <%else%>
               <p class="nh">No hay Reportes</p>
               <%end%>
         </div>
      </div>
   </div>
   </div>
   <hr>
   <div class="row">
   <div class="col-md-12" style= "    border-right: 1px solid gainsboro;    padding: 0px;">
      <div class="conteinter reporte">
         <div class="row rtr">
            <p class = "prox"><strong style="font-size:25px";>Actividades, Acciones y Correcciones  <span style = "font-size:12px;">(Las cuales creaste y estan vencidas o proximas a vencer)</span></strong><br> <br>Vencidas <span class="label label-danger br"><%=@accionsv%></span>  Proximas a Vencer 
               <span class="label label-warning br"><%=@accionspv%></span>
            </p>
            <hr class="hr">
           
            <div class="">
             <%if @accions.count > 0 %>
               <% @accions.each do |accion|%>
              
                  <%= render "accion", accion: accion , employed_p: accion.user.email, desc: "Asignado por" %>
                 
               
               <%end%>
          
            <%else%>
               <p class="nh">No hay Acciones, Correccion ni Actividades </p>
               <%end%>
            </div>
            
         </div>
      </div>
   </div>
 
 </div>   
<hr>
<div class="row">
    <div class="col-md-12" style= "    border-right: 1px solid gainsboro;     padding: 0px;">
      <div class="conteinter reporte">
         <div class="row rtr" >
            <p class = "prox"><strong style="font-size:25px;">Tareas <span style = "font-size:12px;">(Las cuales creaste y estan vencidas o proximas a vencer)</span></strong><br><br> Vencidas <span class="label label-danger br"><%=@tasksv%></span> Proximas a Vencer 
               <span class="label label-warning br"><%=@taskspv%></span>
            </p>
            <hr class="hr">
   
           
            <div class="">
             <%if @tasks.count > 0 %>
               <% @tasks.each do |task|%>
             
                  <%= render "task", task: task , employed_p: task.user.email, desc: "Asignada por" %>
               
               <%end%>
              
            <%else%>
               <p class="nh">No hay Tareas</p>
               <%end%>
            </div>
            
         </div>
      </div>
   </div>
   <div class="col-md-12">
      <div id="calendar" style="display: none"></div>
   </div>
  
</div>
<hr>





<div class="row">
   <div class="col-md-12" style= "    border-right: 1px solid gainsboro;     padding: 0px;">
      <div class="conteinter reporte">

         <div class="">
            <%if @reports.count > 0 %>
            <div id = "filter">
               
            
            <% @reports_array.each do |report|%>
                     <%= render "reporte", report: report, employed_p: report.employed_id, desc: "Responsable"%>
            
            <%end%>
            </div>
            <%else%>
            <p class="nh">No hay Reportes</p>
            <%end%>
         </div>
      </div>
   </div>
</div>



<style>
.nh
{
      text-align: center;
    margin-top: 70px;
    font-size: 14px;
}
  
</style>


<style>
.report-ds
{
  background: #f2f2f2;
  color: gray;
  margin-bottom: 50px;
  padding: 10px;
}
.vencido
{

  border-right: 10px solid #d82c2c;
  border-left: 10px solid #d82c2c;
}
.proximo
{

  border-right: 10px solid orange;
  border-left: 10px solid orange;
}
.vigente
{

  border-right: 10px solid #22c488;
  border-left: 10px solid #22c488;
}
.vencidob
{

  background:  #d82c2c;
  color: white;

}
.proximob
{

  background:  orange;
  color: white;
 
}
.vigenteb
{

  background: #22c488;
  color: white;

}
.table td
{
  text-align: center;
}

.tl th
{
  border-top: 1px solid #cecece !important;
}
.well
{
  background: white !important;
}
</style>