<%= render 'encabezado'%>
<br>


<%if current_user.email == "alejovelez10@gmail.com" %>


<div class="row">
   <div class="col-md-12">
      <div class="conteinter reporte">
         <div class="row rtr">
            <p class = "prox"><strong style="font-size:25px;">Reportes <span style = "font-size:12px;">(Que creaste y estan vencidos o proximos a vencer)</span></strong><br><br> Vencidos <span class="label label-danger br"><%=@reportsv%></span>  Proximos a Vencer <span class="label label-warning br"><%=@reportspv%></p>
            <hr class="hr">
         </div>
         <%=@report_array%>
         </div>
         <%=@reportss.ids%>
         <div class="">
             <%if @reportss.count > 0 %>
            
            <% i = 0  
            @reportss.each do |report|%>
          <%=@report_array[i]%>
          <%if @report_array[i]["cierre"] || @accion_array[i]["cierre"] ||  @task_array[i]["cierre"]%>

          <%= render "report_table", report: report, employed_p: report.employed_reporta, desc: "Asignado por", i: i%>
       
          <%end%>
            <% i = i + 1 
            end%>
       
           

               <%end%>
         </div>
      </div>
   </div>
   </div>

<%end%>


<style>
.nh
{
      text-align: center;
    margin-top: 70px;
    font-size: 14px;
}
  
</style>


<style>
.report-ds
{
  background: #f2f2f2;
  color: gray;
  margin-bottom: 50px;
  padding: 10px;
}
.vencido
{

  border-right: 10px solid #d82c2c;
  border-left: 10px solid #d82c2c;
}
.proximo
{

  border-right: 10px solid orange;
  border-left: 10px solid orange;
}
.vigente
{

  border-right: 10px solid #22c488;
  border-left: 10px solid #22c488;
}
.vencidob
{

  background:  #d82c2c;
  color: white;

}
.proximob
{

  background:  orange;
  color: white;
 
}
.vigenteb
{

  background: #22c488;
  color: white;

}
.table td
{
  text-align: center;
}

.tl th
{
  border-top: 1px solid #cecece !important;
}
.well
{
  background: white !important;
}
.br-info
{
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px 8px;
    background: #aaaaaa;
    color: white;
}
</style>