<%= render 'encabezado'%>
<br>
<div class="row">
   <div class="col-md-6">
      <div class="col-md-12" style= "    border-right: 1px solid gainsboro;     padding: 0px;">
         <div class="conteinter reporte">
            <div class="row rtr">
               <p class = "prox"><strong style="font-size:25px;"> Reportes</strong> <br>Vencidos <span class="label label-danger br"><%=@reportsv%></span>  Proximos a Vencer <span class="label label-warning br"><%=@reportspv%></span> Vigentes <span class="label label-success br"><%=@reportsvi%></span></p>
               <hr class="hr">
            </div>
            <div class="row rtr">
               <div class="col-md-3 rtd"><strong>Asigno</strong> </div>
               <div class="col-md-3 rtd"><strong><i class="fa fa-calendar" aria-hidden="true"></i> Entrega</strong></div>
               
               <div class="col-md-6 rtd"><strong>Descripcion</strong></div>
            </div>
            <div class="descnum1">
               <%if @reports.count > 0 %>
               <% @reports.each do |report|%>
               <%= link_to report_path(report) do %>
               <div class="row rtr rtr1">

                  <%employed = Employed.find(report.employed_reporta)%>
                  <%color = ""
                     report.contador_seg < 0 ?  color = "#d82c2c" : color = "orange"
                     color = "#0db4a0" if report.contador_seg > 5 %>
                  
                  <div class="col-md-3 rtd">
                  <%if report.s_cierre %>
                  <i class="fa fa-thumbs-o-up" style = "font-size:15px;margin-right: 2px;" aria-hidden="true"></i>
              <%end%><%=get_employed(employed.email).first_name%> <%=get_employed(employed.email).first_last_name%></div>
              <div class="col-md-3 rtd fc1" style= "background:<%=color%>;color:white"><%=get_date(report.f_compromiso)%></div>
                  <div class="col-md-6 rtd"><%=report.name%></div>
               </div>
               <%end%>
               <%end%>
               <%else%>
               <p class="nh">No hay Reportes</p>
               <%end%>
            </div>
         </div>
      </div>
      <div class="col-md-12" style= "    border-right: 1px solid gainsboro;    padding: 0px;">
         <div class="conteinter reporte">
            <div class="row rtr">
               <p class = "prox"><strong style="font-size:25px";>Acciones y Correcciones</strong><br> Vencidas <span class="label label-danger br"><%=@accionsv%></span>  Proximas a Vencer 
                  <span class="label label-warning br"><%=@accionspv%></span>Vigentes
                  <span class="label label-success br"><%=@accionsvi%></span>
               </p>
               <hr class="hr">
               <div class="row rtr">
                  <div class="col-md-3 rtd"><strong>Asigno</strong> </div>
                  <div class="col-md-3 rtd"><strong><i class="fa fa-calendar" aria-hidden="true"></i> Entrega</strong></div>
                  <div class="col-md-3 rtd"><strong>Asigno</strong> </div>
                  <div class="col-md-6 rtd"><strong>Descripcion</strong></div>
               </div>
               <div class="descnum1">
                  <%if @accions.count > 0 %>
                  <% @accions.each do |accion|%>
                  <%= link_to report_accion_path(accion.report_id,accion) do %>
                  <div class="row rtr rtr1">
                     <%color = ""
                        accion.contador_seg < 0 ?  color = "#d82c2c" : color = "orange"
                         color = "#0db4a0" if accion.contador_seg > 5 %>
                  
                     <div class="col-md-3 rtd">
                      <%if accion.s_cierre %>
                  <i class="fa fa-thumbs-o-up" style = "font-size:15px;margin-right: 2px;" aria-hidden="true"></i>
              <%end%>
                     <%=get_employed(accion.user.email).first_name%> <%=get_employed(accion.user.email).first_last_name%></div>
                        <div class="col-md-3 rtd fc1" style= "background:<%=color%>;color:white"><%=get_date(accion.f_compromiso)%></div>
                     <div class="col-md-6 rtd"><%=accion.name%></div>
                  </div>
                  <%end%>
                  <%end%>
                  <%else%>
                  <p class="nh">No hay Acciones </p>
                  <%end%>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="col-md-12">
         <div id="calendari"></div>
      </div>
   </div>
</div>
<hr>
<div class="row">
</div>
<hr>
<style>
   .nh
   {
   text-align: center;
   margin-top: 70px;
   font-size: 14px;
   }
</style>