<%= render 'encabezado'%>
<br>

<div class="row">
   <div class="col-md-3 col-xs-12 col-sm-12" style="padding-left: 0px;">
         <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Busqueda por descripcion" title="Type in a name">

   </div>
</div>

<div class="row">
   <div class="col-md-12" style= "    border-right: 1px solid gainsboro;     padding: 0px;">
      <div class="conteinter reporte">
         <div class="row rtr">
            <p class = "prox"><strong style="font-size:25px;">Reportes</strong><br> Vencidos <span class="label label-danger br"><%=@reportsv%></span>  Proximos a Vencer <span class="label label-warning br"><%=@reportspv%></span> Vigentes <span class="label label-success br"><%=@reportsvi%></span></p>
            <hr class="hr">
         </div>
         <div class="">
            <%if @reports.count > 0 %>
            <div id = "filter">
               
            
            <% @reports.each do |report|%>
                     <%= render "reporte", report: report, employed_p: report.employed_id, desc: "Responsable"%>
            
            <%end%>
            </div>
            <%else%>
            <p class="nh">No hay Reportes</p>
            <%end%>
         </div>
      </div>
   </div>
</div>







<style>
   .nh
   {
   text-align: center;
   margin-top: 70px;
   font-size: 14px;
   }
</style>
<style>
   .report-ds
   {
   background: #f2f2f2;
   color: gray;
   margin-bottom: 50px;
   padding: 10px;
   }
   .vencido
   {
   border-right: 10px solid #d82c2c;
   border-left: 10px solid #d82c2c;
   }
   .proximo
   {
   border-right: 10px solid orange;
   border-left: 10px solid orange;
   }
   .vigente
   {
   border-right: 10px solid #22c488;
   border-left: 10px solid #22c488;
   }
   .vencidob
   {
   background:  #d82c2c;
   color: white;
   }
   .proximob
   {
   background:  orange;
   color: white;
   }
   .vigenteb
   {
   background: #22c488;
   color: white;
   }
   .table td
   {
   text-align: center;
   }
   .tl th
   {
   border-top: 1px solid #cecece !important;
   }
   .well
   {
   background: white !important;
   }
   #myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png') !important;
  background-position: 10px 12px !important;
  background-repeat: no-repeat !important;
  width: 100% !important;
  font-size: 16px !important;
  padding: 9px 20px 9px 40px !important;
  border: 1px solid #ddd !important;
  margin-bottom: 12px!important;
}
</style>


<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("filter");
    li = ul.getElementsByClassName("filter2");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByClassName("filter3")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
</script>