<%= render 'encabezado'%>

<div class="container-fluid">
<h3>REPORTES</h3>
<% if @reports_sh.any? %>
<table class="table">
   <% @reports_sh.each do |report| %>
   <tr>
      <td style="width:60%"><%=report.description%></td>
      <td style="width:15%"><%=report.source.name%></td>
      <td  style = "width:15%;background:<%=estado_contador(report.contador_seg)%>;color:white;text-align:center" >   
         <strong>  <%=get_date(report.f_compromiso)%><br> <%= report.contador_seg < 0 ?  "Vencido" :  "Faltan"%> <%=report.contador_seg.abs%> días</strong>
      </td>

       <td style="width:10%;text-align: center">
         <a href="/reports/<%=report.id%>" class="btn btn-primary" style="padding: 0px 10px 0px 10px;    background-color: #2a3f54 !important;border-color: #2a3f54 !important;border-radius: 0px !important;">Ver</a>  
        <a href="/reports/<%=report.id%>" class="btn btn-primary" style="padding: 0px 10px 0px 10px;    background-color: #2a3f54 !important;border-color: #2a3f54 !important;border-radius: 0px !important;"> Ir</a>
         
       </td>
   </tr>
   <%end%>
</table>

<%else%>
  <h4>NO TIENES REPORTES VENCIDAS O PROXIMOS A VENCER</h4>
<%end%>
<h3>ACCIONES</h3>
<% if @accions_sh.any? %>
<table class="table">
   <% @accions_sh.each do |accion| %>
   <tr>
      <td style="width:60%"><%=accion.descripcion%></td>
      <td style="width:15%"><%=accion.tipo%></td>
      <td  style = "width:15%;background:<%=estado_contador(accion.contador_seg)%>;color:white;text-align:center" >   
         <strong>  <%=get_date(accion.f_compromiso)%><br> <%= accion.contador_seg < 0 ?  "Vencido" :  "Faltan"%> <%=accion.contador_seg.abs%> días</strong>
      </td>

       <td style="width:10%;text-align: center">
        <a href="/reports/<%=accion.report.id%>/accions/<%=accion.id%>" class="btn btn-primary"style="padding: 0px 10px 0px 10px;    background-color: #2a3f54 !important;border-color: #2a3f54 !important;border-radius: 0px !important;">Ver</a>
        <a href="/reports/<%=accion.report.id%>/accions/<%=accion.id%>" class="btn btn-primary" style="padding: 0px 10px 0px 10px;    background-color: #2a3f54 !important;border-color: #2a3f54 !important;border-radius: 0px !important;">Ir</a>
     
       </td>
   </tr>
   <%end%>
</table>

<%else%>
  <h4>NO TIENES ACCIONES VENCIDAS O PROXIMAS A VENCER</h4>
<%end%>
<h3>TAREAS</h3>

<% if @tasks_sh.any? %>



<table class="table">
   <% @tasks_sh.each do |task| %>
   <tr>
      <td style="width:70%"><%=task.name%></td>
      <td  style = "width:20%;background:<%= estado_contador (task.contador_seg) %>;color:white;text-align:center" >   
         <strong>  <%=get_date(task.f_compromiso)%><br> <%= task.contador_seg < 0 ?  "Vencido" :  "Faltan"%> <%=task.contador_seg.abs%> días</strong>
      </td>
       <td style="width:8%;">
        <a href="/reports/<%=task.report.id%>/accions/<%=task.accion.id%>/tasks/<%=task.id%>" class="btn btn-primary" style="padding: 0px 10px 0px 10px;    background-color: #2a3f54 !important;border-color: #2a3f54 !important;border-radius: 0px !important;">Ir</a>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal<%=task.report.id%>" style="padding: 0px 10px 0px 10px;background-color: #2a3f54 !important;border-color: #2a3f54 !important;border-radius: 0px !important;">Ver</button>

        <!-- Modal -->
        <div id="modal<%=task.report.id%>" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p id="titulo-modal">Tarea</p>
              </div>
                              <div class="modal-body">

                  <div class="container-fluid" id="contenedor2">

                      <div class="col-md-2 no-padding-left">
                         <%=  task.employed.avatare? ? image_tag(task.employed.avatare_url(:logo)) : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg")%>                 
                      </div>

                       <div class="col-md-10 no-padding-left">

                        <p class="margin-top" style="margin-top: 5px;"><b>Descripcion de la Tarea</b></p>
                        <p><%= task.name %></p> 

                        <div class="col-md-4" style="padding: 0px;">
                          <p class="margin-top"><b>Responsable:</b></p>
                          <p class="no-margin-bottom"><%= task.employed.first_name %> <b id="no-color"><%= task.employed.second_last_name %></b></p>
                        </div>

                        <div class="col-md-4 fecha-hel">
                          <strong>  <%=get_date(task.f_compromiso)%><br> <%= task.contador_seg < 0 ?  "Vencido" :  "Faltan"%> <%=task.contador_seg.abs%> días</strong>
                        </div>

                      </div>
                  </div>
                  <br>

                  <div class="text-center">
                    <i class="fas fa-arrow-down" id="flecha"></i><br>
                    <label class="label label-primary">Pertenece a la Accion:</label>
                  </div>
                  <br>

                  <div class="container-fluid" id="contenedor2">

                      <div class="col-md-2 no-padding-left">
                         <%=  task.employed.avatare? ? image_tag(task.employed.avatare_url(:logo)) : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg")%>                 
                      </div>

                       <div class="col-md-10 no-padding-left">

                        <p class="margin-top" style="margin-top: 5px;"><b>Descripcion de la Accion</b></p>
                        <p><%= task.accion.descripcion %></p> 

                        <div class="col-md-3" style="padding: 0px;">
                          <p class="margin-top"><b>Responsable:</b></p>
                          <p class="no-margin-bottom"><%= task.accion.employed.first_name %> <b id="no-color"><%= task.accion.employed.second_last_name %></b></p>
                        </div>

                        <div class="col-md-4 fecha-hel">
                          <strong>  <%=get_date(task.accion.f_compromiso)%><br> <%= task.accion.contador_seg < 0 ?  "Vencido" :  "Faltan"%> <%=task.accion.contador_seg.abs%> días</strong>
                        </div>

                      </div>
                  </div>
                  <br>

                  <div class="text-center">
                    <i class="fas fa-arrow-down" id="flecha"></i><br>
                    <label class="label label-primary">Pertenece al Reporte:</label>
                  </div>
                  <br>

                  <div class="container-fluid" id="contenedor2">

                      <div class="col-md-2 no-padding-left">
                         <%=  task.employed.avatare? ? image_tag(task.employed.avatare_url(:logo)) : image_tag("https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/44/user.jpeg")%>                 
                      </div>

                       <div class="col-md-10 no-padding-left">

                        <p class="margin-top" style="margin-top: 5px;"><b>Descripcion del Reporte</b></p>
                        <p><%= task.report.description %></p> 

                        <div class="col-md-3" style="padding: 0px;">
                          <p class="margin-top"><b>Responsable:</b></p>
                          <p class="no-margin-bottom"><%= task.report.employed.first_name %> <b id="no-color"> <%= task.report.employed.second_last_name %></b></p>
                        </div>

                        <div class="col-md-4 fecha-hel">
                          <strong>  <%=get_date(task.report.f_compromiso)%><br> <%= task.report.contador_seg < 0 ?  "Vencido" :  "Faltan"%> <%=task.report.contador_seg.abs%> días</strong>
                        </div>

                      </div>
                  </div>

                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
       </td>
   </tr>
   <style type="text/css">
    .fecha-hel{
      float: right; 
      background:<%= estado_contador (task.contador_seg) %>; 
      color: #fff;
      text-align: center;
    }
   </style>
   <%end%>
</table>

<%else%>
  <h4>NO TIENES TAREAS VENCIDAS O PROXIMAS A VENCER</h4>
<%end%>
</div>
<style>

  h3 
  {
    color: #2a3f54;
    font-weight: bold;
    background: #2a3f54;
    margin-bottom: 0px;
    display: inline-block;
    padding: 5px 23px;
    color: white;
    width: 200px;
  }

  #titulo-modal{
    color: #0db497  !important;
    text-align: center;
    font-size: 23px;
  }

  h4  
  {    text-align: center;
    background: whitesmoke;
    padding: 30px;
    color: gray;}

  .table
  {
    margin-bottom: 20px !important;
  }

  #no-color{
     font-weight: normal;
  }

  #contenedor2{
   border: 1px solid #c3c3c3;
}

#contenedor2:hover{box-shadow: 0px 0px 0px gray , 0px 2px 10px gray; transition: box-shadow 0.3s;}

#contenedor2 img{
    width: 64px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.no-padding-left{
  padding-left: 0px;
}

.margin-top{
  margin-bottom: 0px;
}

.no-margin-bottom{
  margin-bottom: 5px;
}

.label{
  color: #fff !important;
  font-size: 10px;
}


  #flecha{
    font-size: 15px;
  }
  .clasemodal{
    padding: 5px 10px;
    color: #fff !important;
    font-size: 9px;
    background-color: #2a3f54 !important;
    cursor: pointer;
  }
</style>