
<div id='cssmenu1'>
  <ul>
    <li><%= link_to "Inicio ",  root_path, :class => "linka" %></li>
    <li class="active"><a href='#'>Empleados</a></li>
  </ul>
</div>
<br><br>

<div class = "row title-table">
   <div class = "col-md-6"  style="padding-left: 0px;">
      <p>Empleados <span class="label label-primary"><%=@employeds.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @employeds, :entry_name => 'Procesos' %></span> </p>


     
   </div>
   <div class = "col-md-4 paginate text-left title-table1">
    
   </div>

   <div class = "col-md-2" style="padding: 0px;">
       <%= link_to 'Nuevo', new_employed_path, remote: true, class: "btn btn-primary", style: "float: right "  if current_user.role == "SuperAdmin" || current_user.rol.configuracion %>
   </div>
</div>



<hr class="hr">
<%= (link_to "Filtros", employeds_path + "?filtros=true", class: "linka canf1") if params[:filtros] != "true" && params[:commit] != "Buscar" %>
<%= (link_to "Cancelar Filtros", employeds_path, class: "linka canf") if (params[:commit] || params[:filtros])  %>

<div class = "row busqueda" style="display:none">
   <div class = "col-md-9">
      <div class="form-group">
         <%= form_tag(employeds_path, :method => "get", id: "search-form") do %>
   
         <%= text_field_tag :search, params[:search], placeholder: "Nombre", class: "form-control search1 shi1" %>
         <%= text_field_tag :search1, params[:search1], placeholder: "Apellido", class: "form-control search1 shi1" %>
         <%= text_field_tag :search2, params[:search2], placeholder: "Email", class: "form-control search1 shi1" %>
         <%=select_tag 'search3', options_for_select(get_cargos.collect{ |u| [u.name, u.id, ] }),{:class => "form-control sh filter shi", include_blank: true , placeholder: "hola"}%> 
         <%= submit_tag "Buscar", :class => "btn btn-primary" %>
    
         <% end %>
      </div>
   </div>
   <div class = "col-md-3">
      <%= form_tag import_employeds_path, multipart: true do %>
  <div class = "col-md-12 text-right">
  <%= file_field_tag :file , class: 'inputfile', id: 'file' %>
  <label for="file"><i class="fa fa-upload" aria-hidden="true"></i>

 <span>Adjuntar</span></label>
  <%= submit_tag "Importar", :class => "btn btn-primary", style: "margin-left:20px !important;" %>
</div>

<% end %>
   </div>
</div>











<div class = "row">
<%= form_tag delete_employeds_path, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda quel registro se borrara permanentemente',
              'image-url': ''} do %>
<p><%= submit_tag "Eliminar", class: "btn btn-danger" %></p>
   <table class="table">
      <thead>
         <tr class = "tr-table">
            <th class="text-left" style="width: 5%"><%= check_box_tag "all_id", 0 %></th> 
            <th>Avatar</th>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Email</th>
            <th>Cargo</th>
        
            <th colspan="3"></th>
         </tr>
      </thead>
      <tbody>
         <% @employeds.each do |employed| %>
         <tr>
           <td><%= check_box_tag "employed_ids[]", employed.id ,false ,class:"ck"%></td>
            <td class = "imgav"><%= employed.avatare? ? image_tag(employed.avatare_url(:thumb)) : image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRuEG5mQKFGi9hNgrdBJnEyBfw2Kl0JNXwoHiXjVeKQemKOQqFe")  %></td>
            <td> <%= employed.first_name   %> <%= employed.first_last_name %></td>
            <td><%= employed.document_type %>:<%= employed.document %></td>
            <td><%= employed.email %></td>
            <td><%= employed.cargo.name if employed.cargo %></td>
         
            <td>
              
              <!--Muestra las opciones a todos menos al employed admin-->
              <%if employed.id != @admin_employed ||  (current_user.role == "SuperAdmin") %> 
            <%= link_to  employed , :class => "opciones" do %>
               <i class="fa fa-eye" aria-hidden="true"></i>
               <% end %>
               <%= link_to  edit_employed_path(employed), :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
              <%if employed.id != @admin_employed %> 
               <%= link_to employed,  method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
               <% end %>
               <% end %>
               <%end%>
              </td>
         </tr>
         <% end %>
      </tbody>
   </table>
  <% end %>
</div>

   <div class = "col-md-4 paginate text-left title-table1">
     
    <%= will_paginate @employeds%>
   </div>


   


<style>
.btn-danger{background-color: #d9534f
 !important}
   .shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
.fil
{margin: 0px;
}
.search
   {
   width:200px !important;
   height: 27px!important;
   display:inline-block !important;
   }
   
</style>

<script>
//seleccionr campos

    $('.btn-danger').hide();

$('#all_id').click(function(){

    if ( $(this).is(':checked') )
    {
            $('.ck').prop('checked', true);
            $('.btn-danger').fadeIn();
             $('td').css('background-color', 'whitesmoke');
       }
        else{
            $('.ck').prop('checked', false);
            $('.btn-danger').fadeOut();
            $('td').css('background-color', 'white');
         }
    });

$('.ck').click(function(){
var a = 0;
  if ( $(this).is(':checked') )
    {
            $('td').css('background-color', 'whitesmoke');
            $('.btn-danger').fadeIn();
       }
        else{
            $('td').css('background-color', 'white');
$(".ck").each(function(){  //todos los que sean de la clase row1
    if($(this).is(':checked')){
       a  = 1;
    }
});
            if (a != 1)
            {
            $('.btn-danger').fadeOut();
            $('#all_id').prop('checked', false);
          }
         }
    });




   //filtros
$(document).on('turbolinks:load',function() {
   
      
      
       $('.sh').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '200px',
            placeholder_text_single: "Proceso",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });

   
   



   if ("<%=params[:filtros]%>" != "" ||  "<%=params[:commit]%>" != "")
   {
 $('.busqueda').show();


   }
   else
   {
    $('.busqueda').hide();


   }




 });

 $('.sh').val("<%=params[:search3]%>") ;


</script>


<script>
  
'use strict';

;( function ( document, window, index )
{
  var inputs = document.querySelectorAll( '.inputfile' );
  Array.prototype.forEach.call( inputs, function( input )
  {
    var label  = input.nextElementSibling,
      labelVal = label.innerHTML;

    input.addEventListener( 'change', function( e )
    {
      var fileName = '';
      if( this.files && this.files.length > 1 )
        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
      else
        fileName = e.target.value.split( '\\' ).pop();

      if( fileName )
        label.querySelector( 'span' ).innerHTML = fileName;
      else
        label.innerHTML = labelVal;
    });

    // Firefox bug fix
    input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
    input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
  });
}( document, window, 0 ));


</script>

<style>
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
        font-size: 1em;
    font-weight: 100!important;
    color: white;
    background-color: #f3f3f3;
    padding: 8px;
    display: inline-block;
    border-bottom: 2px solid gray;
}

.inputfile:focus + label,
.inputfile + label:hover {
    
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
  
</style>