





<div class="jumbotron">
<div class="row show-user" >
<div class="col-md-6">
  <%= @employed.avatare? ? image_tag(@employed.avatare_url(:medium)) : image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRuEG5mQKFGi9hNgrdBJnEyBfw2Kl0JNXwoHiXjVeKQemKOQqFe")  %>
</div>
  <div class="col-md-6">
<h2><%= @employed.first_name %> <%= @employed.second_name %> <%= @employed.first_last_name %> <%= @employed.second_last_name %></h2><br>
  <p><strong><i class="fa fa-envelope" aria-hidden="true"></i>
 </strong>  <%= @employed.email %></p>

  <p><strong><i class="fa fa-user" aria-hidden="true"></i>

</strong>  <%= @employed.document_type%> - <%= @employed.document%></p>

  <p><strong><i class="fa fa-birthday-cake" aria-hidden="true"></i>
</strong>  <%= @employed.birth_date %></p>

<p><strong><i class="fa fa-venus-mars" aria-hidden="true"></i>

</strong>  <%= @employed.genero %></p>

    

  <p>
  <%= link_to 'Edit', edit_employed_path(@employed), remote: true, class: "btn btn-primary btn-lg" %></p>
  
  </p>
<%= link_to 'Back', employeds_path %>
</div>
</div>

  
</div>