<div id="contact-modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= action_type %> Fuente</h4>
      </div>
<%= form_for(@source, remote: true) do |f| %>
  <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">

      <div class = "row">
      <div class="col-md-6">
           <div class="form-group">
    <%= f.label "Nombre" %>
    <%= f.text_field :name,  class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label "Descripcion" %>
    <%= f.text_area :description,  class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label "Codigo" %>
    <%= f.text_field :codigo,  class: "form-control" %>
  </div>
      </div>
      <div class="col-md-6">
        <div class="form-group acc1">
               <label for="">Tipo</label><br>
               <label class="radio-inline">
               <%= f.radio_button :tipo, 'Interna', class: 'rb cksi' %>Interna
               </label>
              <label class="radio-inline">
               <%= f.radio_button :tipo, 'Externa', class: 'rb ckno' %>Externa
    </div>
        <div class="form-group">
  <%= f.label "Tratamiento" %><br>
    <%= f.label "Correcciones" %>
    <%= f.check_box :correccion, class:"scorrecion" %>
    <%= f.label "Analisis de Causa", class: "lb1" %>
    <%= f.check_box :causa, class: "scausa" %>
    <%= f.label "Acciones", class: "lb1" %>
    <%= f.check_box :accion, class: "saccion" %>
  </div>
  <br>
  <div class="form-group">
    <strong>¿</strong><%= f.label "El tratamiento es opcional?" %>
    <%= f.check_box :puede_ac, class: "spuede" %>
  </div>
  <p style = "color:gray" >Al señanalar la anterior casilla tienes la opcion de no hacer el tratamiento con su respectiva actualizacion</p>


      </div>
        
      </div>



<%= f.hidden_field :admin_user , :value => current_user.admin_user %>
  <%= f.hidden_field :user_id ,:value =>  current_user.id %>
 <br>
  
 
  
            <script>

 if ("<%=action_name%>" != "edit")
{
            $('.cksi').prop('checked', true);
   $('.ckno').prop('checked', false);

}

   </script>

  <br>
<hr>
  <div class="form-group text-center">
   <%= f.submit "Guardar", class: 'btn btn-primary btnpad' %>
   <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  </div>
<% end %>
  </div>
    </div>
      </div>
<script>
  
 
</script>
  
  <style >
    .btn-group a
    {
      padding: 0px 5px !important;

    }
.lb1 
{
   margin-left: 10px !important;
}
  </style>
}

<script>
$(document).on('turbolinks:load',function() {

 

  $('.state1').change(function(){

             if ( $(this).is(':checked') )
    {
            $('.saccion').prop('checked', true);
            $('.scorrecion').prop('checked', true);
            $('.scausa').prop('checked', true);
            $('.spuede').prop('checked', false);
     
            
       }
        else{
              $('.saccion').prop('disabled', false);
            $('.scorrecion').prop('disabled', false);
            $('.scausa').prop('disabled', false);
            $('.spuede').prop('disabled', false);
   
          
         }
    });
  });


</script>