<div id="contact-modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= action_type %> Tipo de Hallazgo</h4>
      </div>
<%= form_for(@source, remote: true) do |f| %>
  <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body" style="padding-bottom: 0px! important;">

      <div class = "row">
      <div class="col-md-6">
           <div class="form-group">
    <%= f.label "Nombre" %>
    <%= f.text_field :name,  class: "form-control required", :title => "Es un Campo Obligatorio" %>
  </div>

   <div class="form-group">
    <%= f.label "Descripcion" %>
    <%= f.text_area :description,  class: "form-control area" %>
  </div>
    <div class="form-group">
    <%= f.label "Codigo" %>
    <%= f.text_field :codigo,  class: "form-control required", :title => "Es un Campo Obligatorio" %>
  </div>



               <div class="form-group">
               <%= f.label "Fuentes que Aplican" %><br>
               <%= f.select :source_parent_ids, get_source_parents.collect {|c| ["#{c.name}", c.id]}, {prompt: false}, {:multiple => true,class: 'form-control chosen-select2 mn'} %>
            </div>
             </div>

   



      <div class="col-md-6">
      
        <div class="form-group">
  <%= f.label "Tratamiento" %><br>
    <%= f.label "Correcciones", class: "lb1" %>
    <%= f.check_box :correccion, class:"scorrecion check" %><br>
    <%= f.label "Analisis de Causa", class: "lb1" %>
    <%= f.check_box :causa, class: "scausa check" %><br>
    <%= f.label "Acciones", class: "lb1" %>
    <%= f.check_box :accion, class: "saccion check" %><br>
    <%= f.label "Actividades", class: "lb1" %>
    <%= f.check_box :actividad, class: "sactividad check" %><br>
   
  </div>
 
 
   <hr>
  <div class="form-group">
  <%= f.label "Campos Opcionales" %><br>
    <%= f.label "Evidencia que soporta el Reporte", class: "lb2" %>
    <%= f.check_box :evidencia, class:"check" %>
    <%= f.label "Requisito Legal o Interno", class: "lb2" %>
    <%= f.check_box :requisito, class: "check" %><br>
    <%= f.label "Numerales de Normas", class: "lb2" %>
    <%= f.check_box :numerales, class: "check" %>
  </div>




      </div>
        
      </div>



<%= f.hidden_field :admin_user , :value => current_user.admin_user %>
  <%= f.hidden_field :user_id ,:value =>  current_user.id %>
 <br>
  
 
  
            <script>

 if ("<%=action_name%>" != "edit")
{
            $('.cksi').prop('checked', true);
   $('.ckno').prop('checked', false);

}

   </script>
</div>
<hr>
  <div class="form-group text-center">
   <%= f.submit "Guardar", class: 'btn btn-primary btnpad' %>
   <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  </div>
<% end %>
  </div>
    </div>
<script>
  
 
</script>
  
  <style >
   .error{
   color: red !important;
  }
    .btn-group a
    {
      padding: 0px 5px !important;

    }
.lb1 
{
   margin-left: 10px !important;
   font-weight: 100;
       width: 110px;
}
.lb2 
{
   margin-left: 10px !important;
   font-weight: 100;
       width: 205px;
}
  </style>
}

<script>

   $(document).ready(function(){
     $('#new_source').validate();
    });

$(document).ready(function(){
    $('.chosen-select2').chosen(
        {

          allow_single_deselect: true,
          no_results_text: 'No hay resultados',
          width: '250px;',
          placeholder_text_single: "Seleccione una opción",
          placeholder_text_multiple: "Seleccione una varias opciones"

        });
});
$(document).on('turbolinks:load',function() {
 

 
 

  $('.state1').change(function(){

             if ( $(this).is(':checked') )
    {
            $('.saccion').prop('checked', true);
            $('.scorrecion').prop('checked', true);
            $('.scausa').prop('checked', true);
            $('.spuede').prop('checked', false);
     
            
       }
        else{
              $('.saccion').prop('disabled', false);
            $('.scorrecion').prop('disabled', false);
            $('.scausa').prop('disabled', false);
            $('.spuede').prop('disabled', false);
   
          
         }
    });
  });


</script>

<style>
.check
{
  display: inline-block;
  width: 5% !important;
  height: 25px !important;
      margin-left: 10px !important;
}
.check1
{
  display: inline-block;
  width: 5% !important;
  height: 25px !important;
 
}
  
</style>