<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Crear Fuente</h4>
      </div>
<%= form_for(@source, remote: true) do |f| %>
  <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">

   <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name,  class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description,  class: "form-control" %>
  </div>

<%= f.hidden_field :admin_user , :value => current_user.admin_user %>
  <%= f.hidden_field :user_id ,:value =>  current_user.id %>

   <div class="form-group">
    <%= f.label " ¿Es No Conformidad?" %>
    <%= f.check_box :state %>
  </div>

  <div class="form-group">
    <%= f.submit "Crear", class: 'btn btn-primary' %>
  </div>
<% end %>
  </div>
    </div>
      </div>