 <% @sources.each do |source| %>
      <tr>
       <td><%= check_box_tag "source_ids[]", source.id ,false ,class:"ck"%></td>
        <td><%= source.name %></td>
        <td><%= source.codigo%></td>
         <td><%= source.tipo%></td>
        <td><%= source.description %></td>
        
        <td class = "bool"><%= get_state(source.correccion).html_safe %></td>
        <td class = "bool"><%= get_state(source.causa).html_safe %></td>
        <td class = "bool"><%= get_state(source.accion).html_safe %></td>
        <td class = "bool"><%= get_state(source.actividad).html_safe %></td>

        <!-- <td class = "bool"><%=  (image_tag "https://www.ecured.cu/images/thumb/7/7a/PELOTA_TENIS.jpg/260px-PELOTA_TENIS.jpg", style:"width:30px") if (source.balon)%></td>-->
        <%if params[:page] == nil
          @a = 1
        else
        @a = params[:page]
        end
        if (params[:search] == nil || params[:search] == "") && @ja == nil
          @b = "$%$"
        else
        @b = params[:search]
        end

          %>
        <td class = "bool"><%= link_to  change_path(source.id,@a,@b), remote:true , :class => "opciones" do %>
               <% if source.default %>
               <i class="fa fa-hand-peace-o def" aria-hidden="true"></i>
               <%else%>
               <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
               
               <%end%>
             </td>

               
               <% end %>
        <td class = "bool">  

         <%= link_to  source, :class => "opciones" do %>
               <i class="fa fa-eye" aria-hidden="true"></i>
               <% end %>
               <%= link_to  edit_source_path(source), remote:true, :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               <% source.reports.count == 1 ? aso = "Reporte Asociado" : aso = "Reportes Asociados"%>
               <%= link_to  source,  method: :delete, data:                {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Esta Seguro de elminar esta fuente hay ' + source.reports.count.to_s + " " + aso.to_s,
              'image-url': ''}, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i><% end %>

</td>
      </tr>
    <% end %>

<style>
.bool
{

text-align: center;
}
  
</style>