<div class = "row title-table">
   <div class = "col-md-10">
      <p >Fuentes</p>
   </div>
   <div class = "col-md-2">
      <%= link_to 'Nuevo', new_source_path, remote: true, class: "btn btn-primary"  if current_user.role == "SuperAdmin" || current_user.rol.configuracion %>
   </div>
</div>

<div class = "row">
   <div class = "col-md-6">
      <div class="form-group">
         <%= form_tag(sources_path, :method => "get", id: "search-form") do %>
         <%= text_field_tag :search, params[:search], placeholder: "Ingresar texto", class: "form-control search1" %>
         <%= submit_tag "Buscar", :class => "btn btn-primary" %>
         <% end %>
      </div>
   </div>
   <div class = "col-md-6">
      <%= will_paginate @sources%>
   </div>
</div>
<div class = "row">
   <table class="table">
      <thead>
         <tr class = "tr-table" >
      <th style ="width:15%">Nombre</th>
      <th style ="width:10%">Codigo</th>
      <th style ="width:10%">Tipo</th>
      <th style ="width:30%">Descripcion</th>
   
      <th class = "bool">Correcciones</th>
      <th class = "bool">Causas</th>
      <th class = "bool">Acciones</th>
      <th class = "bool">Puede</th>
      <th class = "bool">Defecto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%= render 'items' %>
  </tbody>
</table>

</div>
