<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @source.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @source.user_id %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @source.admin_user %>
</p>

<p>
  <strong>State:</strong>
  <%= @source.state %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
