<p id="notice"><%= notice %></p>

<p>
  <strong>Numeral:</strong>
  <%= @numeral.numeral %>
</p>


<p>
  <strong>Nombre:</strong>
  <%= @numeral.name %>
</p>


<p>
  <strong>Norma:</strong>
  <%= @numeral.norma_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @numeral.description %>
</p>



<p>
  <strong>Norma:</strong>
  <%= @numeral.norma %>
</p>

<%= link_to 'Editar', edit_norma_numeral_path(@norma,@numeral), remote: true %> |
<%= link_to 'Regresar', norma_numerals_path(@norma) %>
