<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title"><%=action_type%> Cargo</h4>
      </div>
<%= form_for(cargo) do |f| %>
 <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">

  <div class="form-group">
    <%= f.label "Nombre" %>
    <%= f.text_field :name,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Descripcion" %>
    <%= f.text_field :description,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Proceso" %><br>
   <%= f.select :proceso_id,
    @procesos.map { |u| [u.name, u.id] },
               { include_blank: false },
               { class: 'chosen-select form-control'  }
%>
    
  </div>

<%= f.hidden_field :admin_user , :value => current_user.admin_user %>
  <%= f.hidden_field :user_id ,:value =>  current_user.id %>
<br>
<hr>
  <div class="form-group text-center">
   <%= f.submit "Guardar", class: 'btn btn-primary btnpad' %>
   <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  </div>
<% end %>
</div>
    </div>
      </div>

      <script>

        $('.chosen-select').chosen(
        {

          allow_single_deselect: true,
          no_results_text: 'No results matched',
          width: '310px'
        });


      </script>