  <% text_hidden = action_name == "index" ? "text_hidden" : "" %>
<div class="conteinter reporte cnt" id="accion-cont-<%=accion.id%>">
   <div class="row rtr">
      <% ver = @accion != nil && @accion.id == accion.id ? "VER MENOS" : "VER MAS" %>
      <% clases_select1 = @accion != nil && @accion.id == accion.id ? "title-accion-select" : "none" %>
           <div class="col-md-1">
            <%  
               employed1 = accion.employed
               %>
            <%if employed1.avatare_url%>
              <img class ="seg-img" src='<%= employed1.avatare_url %>' style="width: 60px;height: 60px;">
            <%else%>
            <img style="width:60px" class ="seg-img" src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRuEG5mQKFGi9hNgrdBJnEyBfw2Kl0JNXwoHiXjVeKQemKOQqFe'>
            <%end%>
         </div>
      <div class="col-md-10 rtd text-left" style="padding-bottom:0px !important;font-size: 15px;">
         <div class="<%=text_hidden%>" id="text_hidden-<%=accion.id%>">
         <span id="title-accion-<%=accion.id%>" class="filter3 <%=clases_select1%>" style="color: #0db497"><%= accion.tipo %> (<%=  accion.codigo  %>): 
            <span style="color: gray"><%= accion.descripcion %></span>
         </span>
         </div>
       <div>       <hr style="margin-top: 5px;"> <%if accion.causa_efectos.exists?%><strong>Causas: </strong><%= accion.causa_efectos.pluck(:name).join(", ") %><%else%> <strong>Causas: No Tiene</strong>  <%end%></div>
      </div>
         <div class="col-md-1 rtd">
         <span style="float:right"> 
         <%= link_to  edit_report_accion_path(@report,accion), :class => "opciones" do %>
         <i class="fa fa-pencil" aria-hidden="true"></i>
         <% end %>
         <%= link_to  report_accion_path(@report,accion),  method: :delete, data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
         <i class="fa fa-trash" aria-hidden="true"></i>
         <% end %>
         </span> 
      </div>
      <div class="col-md-12">
        
      </div>
   </div>
   <div class="row rtr">
       <div class="col-md-1 rtd">
          <button type="button" style="    border: 0px;font-size: 12px;" class="ver_accion btn-primary" id="accion<%=accion.id%>"><%= ver %></button>
       </div>
      <div class="col-md-2 rtd text-left">
         <strong>Responsable: </strong> <%  
            employed = Employed.find(accion.employed_id)
            %>
         <button type="button" class="btn numerb" data-container="body" data-toggle="popover" data-placement="top" data-content="<p style='text-align:center;margin:0px;padding:0px;'><img src='<%= employed.avatare_url(:thumb) %>'></p><br><strong>Cargo:</strong> <%= employed.cargo.name %><br> <strong>Email:</strong> <%= employed.email%><br><strong>Cedula:</strong> <%= employed.document %>"><%= employed.first_name %> <%= employed.first_last_name %></button>
         
      </div>

      <div class="col-md-3 rtd  text-left">
         <strong >Tareas:   </strong><span class="task-cont-p<%=accion.id%>" style="font-size: 16px;color:gray"><%=accion.tasks.count%> </span>
         <span style="margin-left: 10px;font-size: 16px;color:<%=estado_contador_tasks(accion)%>"><i class='fas fa-lock-open' aria-hidden='true'></i></span>
         <span style="font-size: 16px"><%=accion.tasks.abiertas.count%></span>
         <span style="margin-left: 10px;font-size: 16px"><i class='fas fa-lock' aria-hidden='true'></i></span>
         <span style="font-size: 16px"><%=accion.tasks.cerradas.count%></span>
      </div>
        <div class="col-md-2 rtd  text-left">
         <strong >Seguimimientos:   </strong><span class="seg-cont-p" style="font-size: 16px;"><%=accion.aseguimientos.count%></span> 
      </div>
        <div class="col-md-2 rtd" style = ""><i class="fa fa-calendar" aria-hidden="true" "></i> Fecha de Inicio <br> <%=  get_date(accion.f_compromiso)  %> 
        
      </div>
      <div class="col-md-2 rtd" style = "color:white;background:<%=get_color(accion.contador_seg)%>"><i class="fa fa-calendar" aria-hidden="true" "></i> Fecha de Cierre <br> <%=  get_date(accion.f_compromiso)  %> 
         <%= accion.contador_seg < 0 ?  "Vencido" :  "Faltan"%> <%=accion.contador_seg.abs%> días
      </div>
      
   </div>
   <hr>

</div>

<style>

   .text_hidden
   {
    max-height: 47px;
    overflow: hidden;
   }
</style>