

<% @reports.each do |report| 
      %>


<%= link_to  report_path(report) do %>
<div class="row seg">
<div class="col-md-12">
<div class="col-md-11 name text-left" style = "padding:0px 10px !important;margin-left:0px">

 <strong style="margin-right: 10px"><%=report.source.name%>:</strong><%= report.name%>


</div>
  <div class="col-md-1 ball">
  <%if report.source.balon%>
  <%=  (image_tag "https://www.ecured.cu/images/thumb/7/7a/PELOTA_TENIS.jpg/260px-PELOTA_TENIS.jpg", style:"width:30px") if (@resp == "resp" && report.balon == "responsable")%> 
  <%=  (image_tag "https://www.ecured.cu/images/thumb/7/7a/PELOTA_TENIS.jpg/260px-PELOTA_TENIS.jpg", style:"width:30px") if (@resp == "asig" && report.balon == "asignador")%>
  <%end%> 
</div>
</div>
<div class="col-md-12">
<hr class = "hr" style = "border: 0.5px solid #dedede !important;">
<div class="col-md-3">
<strong>Creación:</strong> <%= get_date(report.created_at)%>
</div>
<div class="col-md-3">
 <strong>Codigo:</strong> <%=report.codigo%>
</div>
<div class="col-md-3">
<% employed = Employed.find(report.employed_id)%>
   <strong>Responsable:</strong> <button type="button" class="btn numerb" data-container="body" data-toggle="popover" data-placement="top" data-content="<p style='text-align:center;margin:0px;padding:0px;'><img src='<%= employed.avatare_url(:thumb) %>'></p><br><strong>Cargo:</strong> <%= employed.cargo.name %><br> <strong>Email:</strong> <%= employed.email%><br><strong>Cedula:</strong> <%= employed.document %>"><%= employed.first_name %> <%= employed.first_last_name %></button>
</div>

<div class="col-md-3 text-right">
<%if report.state == "Abierto"  %>
         <i style = "font-size:20px"  class="fa fa-unlock" aria-hidden="true"></i>
         <%else%>
         <i  style = "font-size:20px" class="fa fa-lock" aria-hidden="true"></i>
         <%end%>
</div>
  
</div>
<div class="col-md-12">


<div class="col-md-3">
 <strong>Costo:</strong> <%=report.costo%>
</div>

<div class="col-md-3" style = "background:<%=estado_contador(report.contador_seg)%>;color:white">
  <strong>Compromiso:</strong> <%= get_date(report.f_compromiso)%>
</div>

  
</div>

  
</div>
 <% end %>
<br>
 <% end %>