
<% if @task.errors.blank? %>
  $('#contact-modal').modal('hide');
 
<%if @tasks.count != 1%>
    
          $('.taskcont').prepend("<%= j render 'accions/rows_task/task_row_create', task: @task, accion: @accion %>");

  <%else%>

    $('.task_abiertasa<%=@accion.id%>').html("<%= j render 'accions/task_abiertas', tasks: @tasks , accion: @accion %>");


  <%end%>
  $('.tasks_abierta').html("(<%= @tasks.count %>)");
   $('.task-cont-p').html("<%= @tasks.count %>");
console.log("<%= @tasks.count %>")
<% else %>
$(".alert").css("display", "block");
  // TODO: show the errors in the UI
  $('.alert').empty('<p></p>');
  <% @task.errors.full_messages.each do |msg| %>
          $('.alert').append('<p><%=msg%></p>');
        <% end %>

<% end %>

