<div class="row">
   <div class="col-md-12 ">
      <p><%= link_to "Inicio /",  root_path, :class => "linka" %>  <%= link_to "Reportes /",  reports_path, :class => "linka" %>  <%= link_to "Reporte (#{@report.codigo})",  @report, :class => "linka" %></p>
   </div>
</div>
<%= render 'tabs'%>
<div class = "row">
<div class="col-md-12 wihtout-padding" >
   <h4 class = "linka htitle text-center">REPORTE</h4>
   <div class="conteinter reporte cnt">
      <div class="row rtr name">
         <div class="col-md-12 rtd"><%=@report.name%></div>
      </div>
      <hr class="hr">
      <div class="row rtr">
         <div class="col-md-2 rtd text-left"><strong>Codigo:</strong> <%= @report.codigo %></div>
         <div class="col-md-2 rtd text-left"><strong>Fuente:</strong> <%= @report.source.name %></div>
         <% employed = Employed.find(@report.employed_id)%>
         <div class="col-md-3 rtd text-left"><strong>Responsable: </strong><button type="button" class="btn numerb" data-container="body" data-toggle="popover" data-placement="top" data-content="<p style='text-align:center;margin:0px;padding:0px;'><img src='<%= employed.avatare_url(:thumb) %>'></p><br><strong>Cargo:</strong> <%= employed.cargo.name %><br> <strong>Email:</strong> <%= employed.email%><br><strong>Cedula:</strong> <%= employed.document %>"><%= employed.first_name %> <%= employed.first_last_name %></button></div>
         <div class="col-md-2 rtd text-left"><strong>Estado: </strong><%= @report.state %></div>
         <div class="col-md-3 rtd text-left"><strong>Compromiso:</strong> <%= get_date(@report.f_compromiso) %></div>
      </div>
     
   
   </div><br>

<div class="col-md-6 wihtout-padding">
   <div class="conteinter htitle" style = "padding:0px">
      <div class="row rtr">
         <div class="col-md-2 rtd"></div>
         <div class="col-md-7 rtd">
            <h4 class="linka margin-cero"><i style = "font-size:20px"  class="fa fa-unlock" aria-hidden="true"></i> TAREAS ABIERTAS (<%= @tasks.count %>)</h4>
         </div>
         <% if @tasks_all.count > 0 %>

         <div class="col-md-3 rtd"><strong><%= (link_to "+ Nueva Tarea", new_report_task_path(@report),remote:true, :class => 'linka pull-right') if (current_user.rol ? current_user.rol.configuracion : false) || current_user.role == "SuperAdmin" %></strong></div>
         <% end %>
      </div>
   </div>
  
   <% if @tasks_all.count > 0 %>
   <% @tasks.each do |task| %>
   <div class="conteinter reporte cnt">
      <div class="row rtr">
     
         <div class="col-md-8 rtd text-left" style = "    padding: 5px !important;
            padding-left: 17px !important;font-size:13px;"><strong ><%= task.name %></strong></div>


         <div class="col-md-4 text-right" style = "padding-left: 40px !importan;padding-top: 0px !important;
            padding-bottom: 0px !important;   padding-right: 40px !important;"> 
            
              <%= link_to  edit_report_task_path(@report,task) + "?tipo=do",remote:true, :class => "opciones" do %>
           <i class="fa fa-thumb-tack" aria-hidden="true"></i>

            <% end %>
            <% if current_user.id == task.user_id%>
            <%= link_to  edit_report_task_path(@report,task),remote:true, :class => "opciones" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
             
            <%= link_to  report_task_path(@report,task),  method: :delete, data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %><% end %>
         </div>
      </div>
      <hr class="hr">
      <div class="row rtr">
         <div class="col-md-4 rtd">
            <strong><i class="fa fa-user" aria-hidden="true"></i>
            </strong> <%  
               employed = Employed.find(task.employed_id)
               %>
            <td  class = "imaacc">
               <button type="button" class="btn numerb" data-container="body" data-toggle="popover" data-placement="top" data-content="<p style='text-align:center;margin:0px;padding:0px;'><img src='<%= employed.avatare_url(:thumb) %>'></p><br><strong>Cargo:</strong> <%= employed.cargo.name %><br> <strong>Email:</strong> <%= employed.email%><br><strong>Cedula:</strong> <%= employed.document %>"><%= employed.first_name %> <%= employed.first_last_name %></button>
         </div>
          <%color = ""
                     task.contador_seg < 0 ?  color = "#d82c2c" : color = "orange"
                     color = "#0db4a0" if task.contador_seg > 5%>
         <div class="col-md-4 rtd" style = "color:white;background:<%=color%>"><strong><strong><i class="fa fa-calendar" aria-hidden="true"></i>
         </strong> <%=  get_date(task.f_compromiso)  %></div>
         <div class="col-md-4 rtd" style = "    font-size: 12px;
            color: gray;"><%=  task.codigo  %></div>
      </div>
   </div>
   <% end %>
   <%else%>
   <div class="jumbotron jumbacc">
   <h3 class="display-3 text-gray">No se ha creado ninguna Tarea</h3>
   <hr class="my-4">
   <%= (link_to "Nueva Tarea", new_report_task_path(@report) ,remote: true, :class => 'btn btn-primary btn-lg') if view_report(@report) || (current_user.role == "SuperAdmin") %>
   </p></div>
   <%end%>
</div>
<div class="col-md-6 wihtout-padding">
<div class="conteinter htitle" style = "padding:0px">
<div class="row rtr">
<div class="col-md-2 rtd"></div>
<div class="col-md-8 rtd">
<h4 class="linka margin-cero"><i style = "font-size:20px"  class="fa fa-lock" aria-hidden="true"></i> TAREAS CERRADAS (<%= @tasksc.count%>)</h4>
</div>
</div>
</div>

<% @tasksc.each do |task| %>
 <div class="conteinter reporte cnt">
      <div class="row rtr">
     
         <div class="col-md-9 rtd text-left" style = "    padding: 5px !important;
            padding-left: 17px !important;font-size:13px; font-weight: 100;"><strong >Tarea:</strong> <%= task.name %></div>


         <div class="col-md-3 text-right" style = "padding-left: 40px !importan;padding-top: 0px !important;
            padding-bottom: 0px !important;   padding-right: 40px !important;"> 
              <% if current_user.id == task.user_id%>
            <%= link_to  edit_report_task_path(@report,task),remote:true, :class => "opciones" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>

            <%= link_to  report_task_path(@report,task),  method: :delete, data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
                 <% end %>
         </div>

          <div class="col-md-9 rtd text-left" style = "    padding: 5px !important;
            padding-left: 17px !important;font-size:13px;font-weight: 100;"><strong >Observacion: </strong><%= task.observacion %></div>
            <div class="col-md-3 rtd text-left" style = "    padding: 5px !important;
            padding-left: 17px !important;font-size:13px;"><i class="fa fa-paperclip" aria-hidden="true"></i> </strong><%= (link_to "Evidencia",task.anexo_url, class:"linka") if task.anexo_url %></div>
      </div>
      <hr class="hr">
      <div class="row rtr">
         <div class="col-md-4 rtd">
            <strong><i class="fa fa-user" aria-hidden="true"></i>
            </strong> <%  
               employed = Employed.find(task.employed_id)
               %>
            <td  class = "imaacc">
               <button type="button" class="btn numerb" data-container="body" data-toggle="popover" data-placement="top" data-content="<p style='text-align:center;margin:0px;padding:0px;'><img src='<%= employed.avatare_url(:thumb) %>'></p><br><strong>Cargo:</strong> <%= employed.cargo.name %><br> <strong>Email:</strong> <%= employed.email%><br><strong>Cedula:</strong> <%= employed.document %>"><%= employed.first_name %> <%= employed.first_last_name %></button>
         </div>
          <%color = ""
                     task.contador_seg < 0 ?  color = "#d82c2c" : color = "#0db4a0"%>
         <div class="col-md-4 rtd" style = "color:white;background:<%=color%>"><strong><strong><i class="fa fa-calendar" aria-hidden="true"></i>
         </strong> <%=  get_date(task.f_compromiso)  %></div>
         <div class="col-md-4 rtd" style = "    font-size: 12px;
            color: gray;"><%=  task.codigo  %></div>
      </div>
   </div>
<% end %>
</div>
<style>
.imaacc img
{
border-radius: 40px;
}
</style>
<script>
   $(function () {
   $('[data-toggle="popover"]').popover({
     trigger: 'hover',
     html: true
     
   
   })
   })
   
</script>
<style>
.imaacc img
{
border-radius: 40px;
}
.cnt
{
border: 1px solid #c3c3c3;
margin-bottom: 10px;
-webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.3s;
}
.rtr
{
text-align:center;
}
.rtd
{
padding: 5px;
text-align:center;
}
.titulo
{
background:#f2f2f2;
}
.cnt:hover
{
box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
}
</style>