<div class="row sign_form">
<div class="col-lg-10 col-lg-offset-1 login1">
<p class = "logop" style = "color:#9a9a9a;    font-size: 30px"><img style= "width:50px;" id="slack" src="https://c1.staticflickr.com/5/4184/34455208672_b8f967e15e_o.png"> Mejora<span>App</span></p>
<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="form-group">
    <%= f.label "Usuario" %>
    <%= f.text_field :name, :class => 'form-control', style:"height:40px;font-size: 16px;" %>
  </div>

  <div class="form-group">
    <%= f.label "Contraseña" %>
    <%= f.password_field :password, :class => 'form-control', style:"height:40px;font-size: 16px;" %>
  </div>
  
   

  <% if devise_mapping.rememberable? -%>
   <div class="form-group display-none">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
<br>
 <div class="form-group">
<%= button_tag type: 'submit', class: "btn btn-primary btn-block is", id: "register-button" do %>
       <i class="fa fa-sign-in" aria-hidden="true"> </i> Iniciar Sesión


    <% end %>
    
    
  
  </div>
<% end %>


</div>
<div class="col-md-10 col-md-offset-1 text-center color-gray" style="margin-top: 30px;">
No tienes una cuenta <%= link_to "Registrarse Aqui", new_registration_path(resource_name), class:"linka" %><br />
</div>
</div>

<style>

  
</style>

