<%if controller_name == "riesgos"%>

<div id='cssmenu1'>
  <ul>
    <li><%= link_to "Inicio ",  root_path, :class => "linka" %></li>
    <li class="active"><%= link_to "Riesgos", riesgos_path %></li>
  </ul>
</div>
<br><br>

<% elsif controller_name == "risk_sources"  %>

<div id='cssmenu1'>
  <ul>
    <li><%= link_to "Inicio ",  root_path, :class => "linka" %></li>
    <li class="active"><%= link_to "Fuentes de Riesgos", risk_sources_path %></li>
  </ul>
</div>
<br><br>

<% elsif controller_name == "classification_risks"  %>

<div id='cssmenu1'>
  <ul>
    <li><%= link_to "Inicio ",  root_path, :class => "linka" %></li>
    <li class="active"><%= link_to "Clasificacion de Riesgos", risk_sources_path %></li>
  </ul>
</div>
<br><br>
<% end -%>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="">  <%= link_to riesgos_path, :class => "" do %>
       <span class="hidden-xs">Riesgos</span>
       <% end %>
    </li>

    <li role="presentation" class="">  <%= link_to risk_sources_path, :class => "" do %>
       <span class="hidden-xs">Fuentes de Riesgos</span>
       <% end %>
    </li>

    <li role="presentation" class ="active">     
       <%= link_to classification_risks_path, :class => "" do %>
       <span class="hidden-xs">Clasificacion de Riesgos</span>
       <% end %>
    </li>

    <li role="presentation" class ="">     
       <%= link_to indicadores_path, :class => "" do %>
       <span class="hidden-xs">Indicadores</span>
       <% end %>
    </li>
</ul>

<style>

    #cssmenu1{
        margin-left: 3px;
        margin-top: 16px;
    }

</style>