<div id='cssmenu1'>
  <ul>
    <li><%= link_to "Inicio ",  root_path, :class => "linka" %></li>
    <li class="active"><%= link_to "Clasificacion de Riesgos", risk_sources_path %></li>
  </ul>
</div>
<br><br>
<div class = "row title-table" style="padding-left: 0px;">
   <div class = "col-md-6"  style="padding-left: 0px;">
      <p>Clasificacion de Riesgos <span class="label label-primary"><%=@classification_risks.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_clasification_info  @classification1, :entry_name => 'Riesgos' %></span> </p>
   </div>


     <div class = "col-md-4 paginate text-left title-table1">
       
      <%= will_paginate  @classification1%>
     </div>


   <div class = "col-md-2">
      <%= link_to 'Nuevo', new_classification_risk_path, remote: true, class: "btn btn-primary", style: "float: right;" if current_user.role == "SuperAdmin"  || current_user.rol.configuracion %>
   </div>
</div>
<br>
<table class="table">
  <thead>
    <tr class="tr-table">
      <th>User</th>
      <th>Admin user</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Contexto</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @classification_risks.each do |classification_risk| %>
      <tr>
        <td><%= classification_risk.user_id %></td>
        <td><%= classification_risk.admin_user %></td>
        <td><%= classification_risk.name %></td>
        <td><%= classification_risk.description %></td>
        <td><%= classification_risk.context %></td>
        <td><%= link_to 'Editar', edit_classification_risk_path(classification_risk), remote: true %></td>
        <td><%= link_to 'Eliminar', classification_risk, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

