<div class = "row title-table" style="padding-left: 0px;">
   <div class = "col-md-6"  style="padding-left: 0px;">
      <p>Clasificacion de Riesgos <span class="label label-primary"><%=@classification_risks.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_clasification_info @classification_risks, :entry_name => 'Riesgos' %></span> </p>
   </div>


     <div class = "col-md-4 paginate text-left title-table1">
       
     </div>


   <div class = "col-md-2">
      <%= link_to 'Nuevo', new_classification_risk_path, remote: true, class: "btn btn-primary", style: "float: right;" if current_user.role == "SuperAdmin"  || current_user.rol.configuracion %>
   </div>
</div>
<br>
<table class="table">
  <thead>
    <tr class="tr-table">
      <th>User</th>
      <th>Admin user</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Contexto</th>
      <th style="width: 99px;">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @classification_risks.each do |classification_risk| %>
      <tr>
        <td><%= classification_risk.user_id %></td>
        <td><%= classification_risk.admin_user %></td>
        <td><%= classification_risk.name %></td>
        <td><%= classification_risk.description %></td>
        <td><%= classification_risk.context %></td>

        <td>
          <%= link_to  edit_classification_risk_path(classification_risk),class: "btn btn-warning", remote: true do %>
          <i class="fas fa-pencil-alt" style="color: #fff"></i>
          <% end -%>
        <%= link_to  classification_risk, class: "btn btn-danger", method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': '' } do %>
                <i class="fas fa-trash-alt" style="color: #fff"></i>
              <% end -%>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>

    <div class="row">
        <div class = "col-md-12 paginate text-center title-table1">
            <%= will_paginate @classification_risks%>
        </div>
   </div>

<style>

  .btn-warning{
    background: #37b597;
    border-color: #37b597;
  }

  .btn-warning:hover{
    background: #37b597;
    border-color: #37b597;
  }

</style>