


<h3 style="color:#0db497">Hola <%=@employed.first_name%> <%=@employed.first_last_name%></h3>
 <p style="color:gray"><%= Employed.where(email: @seg.user.email).first.first_name%> <%=Employed.where(email: @seg.user.email).first.first_last_name%> creo un seguimiento a la Acción <%=@seg.accion.codigo%></p>
<hr style="    border: 0.5px solid #dedede !important;">
<p style="color:gray"><strong style="color:#0db497">Accion: </strong><%=@seg.accion.name%></p>

<p style="color:gray"><strong style="color:#0db497">Descripcion del seguimiento: </strong> <strong style="color:gray"><%=@seg.descripcion%></strong></p>


<a href="https://mejoracontinua.herokuapp.com/reports/<%=@seg.accion.report.id%>/accions/<%=@seg.accion.id%>" style="color:#0db497">Ir a la accion</a>








