<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= action_type %> Proceso</h4>
      </div>
<%= form_for(@rol, remote: true) do |f| %>
  <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">

 <div class="form-group">
    <%= f.label "Nombre" %>
    <%= f.text_field :name,  class: "form-control required", :title => "Es un Campo Obligatorio" %>
  </div>

  <div class="form-group">
    <%= f.label "Configuracion" %>
    <%= f.check_box :configuracion %>
  </div>


 <div class="form-group">
    <%= f.label "Ver todos los reportes" %>
    <%= f.check_box :report_ver, class: "rv"%>
  </div>
   <div class="form-group">
    <%= f.label "Ver todos los de mi Proceso" %>
    <%= f.check_box :report_procesos, class: "rp" %>
  </div>

  <div class="form-group">
    <%= f.label "Crear Reporte" %>
    <%= f.check_box :report_crear %>
  </div>

  <div class="form-group">
    <%= f.label "Editar Reportes" %>
    <%= f.check_box :report_edit %>
  </div>

 <div class="form-group">
    <%= f.label "Borrar Reportes" %>
    <%= f.check_box :report_delete %>
  </div>


 <div class="form-group">
    <%= f.label "Crear Todo" %>
    <%= f.check_box :create_all %>
  </div>
<%= f.hidden_field :admin_user , :value => current_user.admin_user %>
  <%= f.hidden_field :user_id ,:value =>  current_user.id %>

  <br>
<hr>
  <div class="form-group text-center">
   <%= f.submit "Guardar", class: 'btn btn-primary btnpad' %>
   <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
<% end %>
  </div>  </div>  </div>
<script>
  $('.rp').change(function(){

             if ( $(this).is(':checked') )
    {
            $('.rv').prop('checked', false);
            $('.rp').prop('checked', true);
            
     
            
       }
       
    });
    $('.rv').change(function(){

             if ( $(this).is(':checked') )
    {
            $('.rp').prop('checked', false);
            $('.rv').prop('checked', true);
            
     
            
       }
       
    });
 $(document).ready(function(){
     $('#new_rol').validate();
    });
   

</script>


<style>
 
.error{
  color: red !important;  
}
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
</style>