<div id='cssmenu1'>
  <ul>
    <li><%= link_to "Inicio ",  root_path, :class => "linka" %></li>
    <li class="active"><a href='#'>Roles</a></li>
  </ul>
</div>
<br><br>

<div class = "row title-table" style="padding-left: 0px !important;">
   <div class = "col-md-6" style="padding-left: 0px;">
      <p>Roles <span class="label label-primary"><%=@rols.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @rols, :entry_name => 'Procesos' %></span> </p>


     
   </div>
   <div class = "col-md-4 paginate text-left title-table1">
     
   </div>

   <div class = "col-md-2" style="padding: 0px;">
       <%= link_to 'Nuevo', new_rol_path, remote: true, style: "  float: right;", class: "btn btn-primary"  if current_user.role == "SuperAdmin" ||  current_user.rol.configuracion %>
   </div>
</div>



<hr class="hr">
<%= (link_to "Filtros", rols_path + "?filtros=true", class: "linka canf1") if params[:filtros] != "true" && params[:commit] != "Buscar"  %>
<%= (link_to "Cancelar Filtros", rols_path, class: "linka canf") if (params[:commit] || params[:filtros])  %>

<div class = "row busqueda" style="display:none">
   <div class = "col-md-9">
      <div class="form-group fil">
         <%= form_tag(rols_path, :method => "get", id: "search-form") do %>
   
  <%= text_field_tag :search, params[:search], placeholder: "Nombre", class: "form-control search" %>
 
      
         <%= submit_tag "Buscar", :class => "btn btn-primary" %>
    
         <% end %>
      </div>
   </div>

</div>


<div class = "row">
<%= form_tag delete_roles_path, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''} do %>
<p><%= submit_tag "Eliminar", class: "btn btn-danger" %></p>
   <table class="table">
      <thead>
         <tr class = "tr-table">
      <th class="text-left" style="width: 5%"><%= check_box_tag "all_id", 0 %></th>
      <th>Nombre</th>
      <th>Configuracion</th>
      <th>Ver Reportes</th>
      <th>Ver por Proceso</th>
      <th>Crear Reportes</th>
      <th>Editar Reportes</th>
      <th>Borrar Reportes</th>
      <th>Crear Todo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rols.each do |rol| %>
      <tr>
       <td><%= check_box_tag "rol_ids[]", rol.id ,false ,class:"ck"%></td>
        <td><%= rol.name %></td>
        <td><%= get_state(rol.configuracion).html_safe %></td>
        <td><%= get_state(rol.report_ver).html_safe  %></td>
        <td><%= get_state(rol.report_procesos).html_safe  %></td>
        <td><%= get_state(rol.report_crear).html_safe  %></td>
        <td><%= get_state(rol.report_edit).html_safe  %></td>
        <td><%= get_state(rol.report_delete).html_safe  %></td>
        <td><%= get_state(rol.create_all).html_safe  %></td>
        <td>
        <%if !rol.default%>
        <%= link_to  rol, :class => "opciones" do %>
               <i class="fa fa-eye" aria-hidden="true"></i>
               <% end %>
               <%= link_to  edit_rol_path(rol), remote:true, :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               <%= link_to  rol,  method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
               <% end %><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <% end %>
</div>

   <div class = "col-md-4 paginate text-left title-table1">
     
<%= will_paginate @rols%>
   </div>


<style>
.btn-danger{background-color: #d9534f
 !important}
   .shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
.fil
{margin: 0px;
}
.search
   {
   width:200px !important;
   height: 27px!important;
   display:inline-block !important;
   }
</style>

      <script>
  $('.btn-danger').hide();

$('#all_id').click(function(){

    if ( $(this).is(':checked') )
    {
            $('.ck').prop('checked', true);
            $('.btn-danger').fadeIn();
             $('td').css('background-color', 'whitesmoke');
       }
        else{
            $('.ck').prop('checked', false);
            $('.btn-danger').fadeOut();
            $('td').css('background-color', 'white');
         }
    });

$('.ck').click(function(){
var a = 0;
  if ( $(this).is(':checked') )
    {
            $('td').css('background-color', 'whitesmoke');
            $('.btn-danger').fadeIn();
       }
        else{
            $('td').css('background-color', 'white');
$(".ck").each(function(){  //todos los que sean de la clase row1
    if($(this).is(':checked')){
       a  = 1;
    }
});
            if (a != 1)
            {
            $('.btn-danger').fadeOut();
            $('#all_id').prop('checked', false);
          }
         }
    });


//filtros
$(document).on('turbolinks:load',function() {
   

   if ("<%=params[:filtros]%>" != "" ||  "<%=params[:commit]%>" != "")
   {
 $('.busqueda').show();


   }
   else
   {
    $('.busqueda').hide();


   }




 });


</script>
