<div class="container-fluid" id="filtros">

  

        <%= form_tag company_indicators_path, :method => 'get' do%>

               <%= button_tag class: "btn btn-primary sh3", :title => "Buscar Registros", id: "btn3" do %>
        <i class="fas fa-search" style=""></i>
        <% end -%>
        <%= link_to company_indicators_path, :title => "Cancelar Filtros", class: "btn btn-danger", id: "btn3" do%>
          <i class="fas fa-ban"></i>
        <% end -%> 

 

        <div class="col-md-3" style="padding: 0px;">
          <%= select_tag 'search1', options_for_select(get_procesos.collect{ |u| ["#{u.name}", u.id, ] }),{:class => "form-control sh1", include_blank: "Proceso" }%>
        </div>
         <div class="col-md-3" style=" padding: 0px;">
          <%= select_tag 'search7', options_for_select(get_source_parents.collect{ |u| ["#{u.name}", u.id, ] }),{:class => "form-control sh7", include_blank: "Fuente" }%>
        </div>
         <div class="col-md-3" style=" padding: 0px;">
          <%= select_tag 'search2', options_for_select(get_sources.collect{ |u| ["#{u.name}", u.id, ] }),{:class => "form-control sh2", include_blank: "Tipo de Reporte" }%>
        </div>

      <% end -%>
</div>


<style>
  .form-control
  {
    margin-top:5px;
  }
  #filtros{
    width: 100%;
    background: #e8e8e8;
  }

  #btn3{

    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .sh4{
    margin-top: 6px;
  }

  h4{
    color: #0db493;
    text-transform: capitalize;
  }

</style>

<script>
   $('.sh1').val("<%=params[:search1]%>") ;
   $('.sh7').val("<%=params[:search7]%>") ;
   $('.sh2').val("<%=params[:search2]%>") ;
</script>