<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Crear Cargo</h4>
      </div>
<%= form_for(company) do |f| %>
  <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name ,  class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :logo %>
    <%= f.file_field :logo,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address,  class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nit %>
    <%= f.text_field :nit,  class: "form-control" %>
  </div>
<div class="form-group">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "crear", class: 'btn btn-primary'%>
  </div>
<% end %>
</div>
    </div>
      </div>
