<div class="row">
<p class="myd">INDICADORES</p>
</div>
<div class="row">
    <%= render "filtros" %>
</div>
<br>
<div class="row">
  <div class="col-md-3">
       <div class="w3-display-container" style="text-align:center; padding-top: 17px;" >
            <% if @company.logo? %>
          
              <%= image_tag @company.logo_url,  style: "width:200px;" %>

            <%else%>

              <%= image_tag "https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/247/no-imagen.jpg", style: "width:200px; border-radius: 30px;"  %>
            <% end -%>
        </div>
        <br><hr>

    <div id="container" style="min-width: 250px; max-width: 350px; height: 250px; margin: 0 auto"></div>
   </div>


<div class="col-md-9" style="    background: #fafafa;">
      <div class="col-md-12 text-center" style="padding: 0px;">
 

      <h3 style="color:gray;display: inline-block;margin-right:20px;">GESTION (ABIERTA)</h3>   <p style = "font-size: 12px;display: inline-block;
"><span style="    background: #5cb85c;color: #5cb85c;border-radius: 3px;">vige</span> <span style = "margin-right:25px">Vigentes</span>
   <span style="    background: #d9534f;color: #d9534f;border-radius: 3px;">vige</span>  <span style = "margin-right:25px">Vencidos</span>
   </p>


   </div>
   <br>
   <br><hr>
      <div class="row">
      <div class="col-md-12" style="padding: 0px;">
 
</div>
           <div class="col-md-6">
                 <h4 style="color:gray;text-align: left;margin: 0px;">REPORTES <span class="badge" style="font-size: 18px;"> <%= @rabiertos%></span></h4>
         <span style = ""><%=@racumplio%> Vigentes</span><span style = ""> / <%= @ranocumplio %> Vencidos</span>    <br>    <br>   
        <div class = "progress">
         <% if @rporcentaje_abi_cump != 0%>
         <div class = "progress-bar progress-bar-success" role = "progressbar"
            aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "padding: 5px;width: <%= @rporcentaje_abi_cump %>%;">
            <span class = "" style="font-size: 18px"> <%= @rporcentaje_abi_cump %>% </span>
         </div>
         <%end%>
         <% if @rporcentaje_abi_no != 0%>
         <div class = "progress-bar progress-bar-danger" role = "progressbar"
            aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "padding: 5px;width:<%= @rporcentaje_abi_no %>%;">
            <span class = "" style="font-size: 18px"><%= @rporcentaje_abi_no %>% </span>
         </div>
         <%end%>
      </div>
          </div>
        <div class="col-md-6">
                 <h4 style="color:gray;text-align: left;margin: 0px;">ACCIONES <span class="badge" style="font-size: 18px;"> <%= @aabiertas%></span></h4>
         <span style = ""><%=@aacumplio%> Vigentes</span><span style = ""> / <%= @aanocumplio %> Vencidas</span>    <br>    <br>   
        <div class = "progress">
         <% if @aporcentaje_abi_cump != 0%>
         <div class = "progress-bar progress-bar-success" role = "progressbar"
            aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "padding: 5px;width: <%= @aporcentaje_abi_cump %>%;">
            <span class = "" style="font-size: 18px"> <%= @aporcentaje_abi_cump %>% </span>
         </div>
         <%end%>
         <% if @aporcentaje_abi_no != 0%>
         <div class = "progress-bar progress-bar-danger" role = "progressbar"
            aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "padding: 5px;width:<%= @aporcentaje_abi_no %>%;">
            <span class = "" style="font-size: 18px"><%= @aporcentaje_abi_no %>% </span>
         </div>
         <%end%>
      </div>
          </div>

      <div class="col-md-6">
                 <h4 style="color:gray;text-align: left;margin: 0px;">TAREAS <span class="badge" style="font-size: 18px;"> <%= @tabiertas%></span></h4>
         <span style = ""><%=@tacumplio%> Vigentes</span><span style = ""> / <%= @tanocumplio %> Vencidas</span>    <br>    <br>   
        <div class = "progress">
         <% if @tporcentaje_abi_cump != 0%>
         <div class = "progress-bar progress-bar-success" role = "progressbar"
            aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "padding: 5px;width: <%= @tporcentaje_abi_cump %>%;">
            <span class = "" style="font-size: 18px"> <%= @tporcentaje_abi_cump %>% </span>
         </div>
         <%end%>
         <% if @tporcentaje_abi_no != 0 %>
         <div class = "progress-bar progress-bar-danger" role = "progressbar"
            aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "padding: 5px;width:<%= @tporcentaje_abi_no %>%;">
            <span class = "" style="font-size: 18px"><%= @tporcentaje_abi_no %>% </span>
         </div>
         <%end%>
      </div>
          </div>

                <div class="col-md-6">
                 <h4 style="color:gray;text-align: left;margin: 0px;">TOTAL <span class="badge" style="font-size: 18px;"> <%= @total_abiertas%></span></h4>
         <span style = ""><%=@total_abiertas_cumplio%> Vigentes</span><span style = ""> / <%= @total_abiertas_no_cumplio %> Vencidas</span>    <br>    <br>   
        <div class = "progress">
         <% if @por_tac != 0%>
         <div class = "progress-bar progress-bar-success" role = "progressbar"
            aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "padding: 5px;width: <%= @por_tac %>%;">
            <span class = "" style="font-size: 18px"> <%= @por_tac %>% </span>
         </div>
         <%end%>
         <% if @por_tanc != 0 %>
         <div class = "progress-bar progress-bar-danger" role = "progressbar"
            aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "padding: 5px;width:<%= @por_tanc %>%;">
            <span class = "" style="font-size: 18px"><%= @por_tanc %>% </span>
         </div>
         <%end%>
      </div>
          </div>



          

      </div>
      
     <br>
<hr>


<div class="row tortas">
  <div class="row">
      <div class="col-md-12 text-center" style="padding: 0px;margin-bottom: 20px">
 

      <h3 style="color:gray;display: inline-block;margin-right:20px;">% DE EFICACIA (GESTION CERRADA)</h3>  
      <p style = "font-size: 12px;display: inline-block;
">
  <span style="    background: #d9534f;color: #d9534f;border-radius: 3px;">vige</span><span style = "margin-right:10px"> Mala (Menor a 60)</span>

  <span style="    background: #ffaa0f;color:#ffaa0f;border-radius: 3px;">vige</span> <span style = "margin-right:10px">Buena (Entre 60 y 80)</span>
<span style="    background: #08af62;color: #08af62;border-radius: 3px;">vige</span> <span style = "margin-right: 10px">Exelente (Mayor 80)</span>
   </p>

   </div>


  

<div class="col-md-3 text-center" >
       <%if @rcerrados != 0 %>
    
     <h4 style="margin: 0px;color: gray">REPORTES </h4>
    <p>cumplio <%=@rcumplio%> de <%=@rcerrados%></p><br>
    <span style="background:<%=get_color_porcentaje(@rporcentaje)%>" class="eficiencia"><%=@rporcentaje%>%</span>
        <%else%>
        <div id="container_r" style="height: 250px;display: none"></div>
        <h3 style="font-size: 14px !important;text-align: center;padding: 20px 0px">NO HAY REPORTES <br> CERRADOS</t3>
        <%end%>
      
</div>
<div class="col-md-3 text-center">
  
           <%if @acerradas != 0  %>
            <h4 style="margin: 0px;color: gray">ACCIONES</span></h4>
     <p>cumplio <%=@acumplio%> de <%=@acerradas%></p><br>
     <span style="background:<%=get_color_porcentaje(@aporcentaje)%>" class="eficiencia"><%=@aporcentaje%>%</span>
        <%else%>
        <div id="container_a" style="height: 250px;display: none"></div>
        <h3 style="font-size: 14px !important;text-align: center;padding: 20px 0px">NO HAY ACCIONES <br> CERRADAS</t3>
        <%end%>
      
</div>
<div class="col-md-3 text-center">
         <%if @tcerradas != 0 %>
      <h4 style="margin: 0px;color: gray">TAREAS </h4>
      <p>cumplio <%=@tcumplio%> de <%=@tcerradas%></p><br>
      <span style="background:<%=get_color_porcentaje(@tporcentaje)%>" class="eficiencia"><%=@tporcentaje%>%</span>
  <br><br><br>
        <%else%>
        <div id="container_t" style="height: 250px;display: none"></div>
        <h3 style="font-size: 14px !important;text-align: center; padding: 20px 0px">NO HAY TAREAS <br> CERRADAS</t3>
        <%end%>
      
</div>
<div class="col-md-3 text-center">
         <%if @total7 != 0 %>
      <h4 style="margin: 0px;color: gray">TOTAL</h4>
      <p>cumplio <%=@total5%> de <%=@total7%></p><br>
     ©
  <br><br><br>
        <%else%>
        <div id="container_t" style="height: 250px;display: none"></div>
        <h3 style="font-size: 14px !important;text-align: center; padding: 20px 0px">NO HAY TAREAS GESTION CERRADA</t3>
        <%end%>
      
</div>


</div>
<br>
<hr>
<div class="row">
      <div class="col-md-12 text-center" style="padding: 0px;margin-bottom: 20px">
 

      <h3 style="color:gray;display: inline-block;margin-right:20px;">% DE EFICIENTCIA (FINANCIERA)</h3>  
      <p style = "font-size: 12px;display: inline-block;
">
  <span style="    background: #30485e;color: #30485e;border-radius: 3px;">vige</span><span style = "margin-right:10px"> Costo Presupuestado</span>

  <span style="    background: #2a82d2;color:#2a82d2;border-radius: 3px;">vige</span> <span style = "margin-right:10px">Costo Real</span>

   </p>
    <br>
    <br>
    <br>

      <span style="" class="eficiencia-financiera"><%= number_to_currency(@budget_cost, precision: 0)%></span>

      <span style="background: #2a82d2" class="eficiencia-financiera"><%=number_to_currency(@real_cost, precision: 0)%></span>
       <br>
       <br>
      <p style="font-size:25px"> <%=@resultado_costo%></p>

   </div>
      </div>








<!--




<div class="row tortas">
  

<div class="col-md-4">
  <div id="container10" style="height: 300px"></div>

  <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>


</div>
<div class="col-md-4">
  <div id="container11" style="height: 300px"></div>
    <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
<div class="col-md-4">
  <div id="container12" style="height: 300px"></div>
    <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>

<div class="col-md-12">
  <hr>
</div>
<div class="col-md-4" >
  <div id="container13" style="height: 300px"></div>
   <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
<div class="col-md-4">
  <div id="container14" style="height: 300px"></div>
   <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
<div class="col-md-4">
  <div id="container15" style="height: 300px"></div>
   <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
</div>-->

<div class="row" style="display:none">
<div class="col-md-6">


 <div id="container1" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
	<!--<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>-->
</div>

<div class="col-md-6">
    <!--<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>-->
   <div id="container2" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
</div>
	
</div>
<style>
.eficiencia
{
    border: 10px;
    background: green;
    color: white;
    vertical-align: -webkit-baseline-middle;
    padding: 20px;
    font-size: 34px;
    border-radius: 12px;
}
.tortas table
  {
    display: none
  }
   .img img
   {
   width: 100px;
   border-radius: 45%;}
   .indicadores
   {
   	text-align: center;
    margin-bottom: 0px !important;
   }
   .total td
   {
    font-weight: bold;
    font-size-adjust: 16px;

   }
 .eficiencia-financiera
 {
   border: 10px;
    background: #30485e;
    color: white;
    vertical-align: -webkit-baseline-middle;
    padding: 5px;
    font-size: 34px;
    border-radius: 12px;
 }  
.myd
{

    font-size: 26px;
    background: #e8e8e8;
    color: #0db493;
    font-family: 'Days One', sans-serif;
    padding-left: 32px;
}

.color1{
    color: #0db45a;
}

.color2{
    color: red;
}

.color3{
    color: #279afd;
}

.color4{
    color: #d27f37;
}

.progress {
    overflow: hidden;
    height: 32px;
 }   
</style>





<script>
    
Highcharts.chart('container', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: '% Rendimiento'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 100,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: ''
        },
        plotBands: [{
            from: 0,
            to: 60,
            color: '#d82c2c' // green
        }, {
            from: 60,
            to: 80,
            color: 'orange' // yellow
        }, {
            from: 80,
            to: 100,
            color: '#08af62' // red
        }]
    },

    series: [{
        name: 'Speed',
        data: [<%=@total8%>],
        tooltip: {
            valueSuffix: ' Rendimiento'
        }
    }]

},
// Add some life
function (chart) {
    if (!chart.renderer.forExport) {
        setInterval(function () {
            var point = chart.series[0].points[0],
                newVal,
                inc = Math.round((Math.random() - 0.5) * 1);

            newVal = point.y + inc;
            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);

        }, 3000);
    }
});
</script>




