<div class="row">
<p class="myd">INDICADORES</p>
</div>
<div class="row">
    <%= render "filtros" %>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    
    <div id="container" style="min-width: 250px; max-width: 350px; height: 250px; margin: 0 auto"></div>
   </div>
   <div class = "col-md-8">
            <br>
<div class="col-md-8" style="padding: 0px;">
   <p style = "font-size: 12px; width: 109%;
"><i class="fa fa-calendar-check-o" style="font-size: 16px;color:#0db45a" aria-hidden="true"></i> <span style = "margin-right:25px">Vigentes</span>
   <i class="fa fa-calendar-times-o" aria-hidden="true" style="font-size: 16px;color: red;"></i> <span style = "margin-right:25px">Vencidos</span>
   <i class="fa fa-thumbs-o-up" style="font-size: 16px;color:  #279afd;" aria-hidden="true"></i> <span style = "margin-right:25px">Cumplio Fecha de Entrega</span>
   <i class="fa fa-thumbs-o-down" aria-hidden="true" style="font-size: 16px;color: #d27f37;"></i> <span style = "margin-right:25px">No Cumplio Fecha de Entrega</span>
   </p>
</div>

<div class="col-md-5" style="padding: 0px; float: right; width: 204px;">
   <p style = "font-size: 12px;
"><i class="fas fa-circle" style="font-size: 16px;color:#0db45a" aria-hidden="true"></i> <span style = "margin-right: 10px">Exelente</span>
   <i class="fas fa-circle" aria-hidden="true" style="font-size: 16px;color: #ec971f;"></i> <span style = "margin-right:10px">Buena</span>
   <i class="fas fa-circle" style="font-size: 16px;color:  red;" aria-hidden="true"></i> <span style = "margin-right:10px">Mala</span>
   </p>
</div>
<br><br>
       <table class="table indicadores">
      <thead>
      <tr class = "tr-table">
          
            <th style = "border-bottom: none !important;"></th>
            <th style = "border-bottom: none !important;"></th>
            <th  colspan="3" style = "border-right: 1px solid gray;
    border-left: 1px solid gray;border-bottom: none !important; font-size: 16px !important;">Abiertos</th>
            <th  colspan="4" style = "border-left: 1px solid gray;border-bottom: none !important; font-size: 16px !important;">Cerrados</th>
        

         <tr class = "tr-table">
          
            <th></th>
            <th style=" font-size: 14px !important;">Total</th>

           <th style = "border-left:1px solid gray"> <i class="fa fa-calendar-check-o" style="font-size: 16px;color:#0db45a" aria-hidden="true"></i>
</th>
  
            <th><i class="fa fa-calendar-times-o" aria-hidden="true" style="font-size: 16px;color: red;"></i>
</th><th style = "border-right:1px solid gray; font-size: 14px !important; ">Total</th>
            
            <th> <i class="fa fa-thumbs-o-up" style="font-size: 16px;color:#279afd" aria-hidden="true"></i>
</th>
            <th><i class="fa fa-thumbs-o-down" aria-hidden="true" style="font-size: 16px;color: #d27f37;"></i>
</th><th style=" font-size: 14px !important;" >Total</th>
<th style=" font-size: 14px !important;">% Cumplimiento</th>
         </tr>
      </thead>
      <tbody>
        <tr>
        <td class="text-left" style = "font-weight:bold; font-size: 14px !important;" >Reportes</td>
        <td ><%= @reports.count %></td>
      
         <td class="color1"><%= @racumplio %></td>
          <td class="color2"><%= @ranocumplio %></td>
            <td><%= @rabiertos %></td>
        
        <td class="color3"><%= @rcumplio %></td>
        <td class="color4"><%= @rnocumplio %></td>
         <td><%= @rcerrados %></td>
         <%if @rcerrados != 0 %>
        <td style = "color:white;background:<%=get_color_porcentaje(@rporcentaje)%>">% <%= @rporcentaje%></td>
        <%else%>
        <td style="font-size: 14px !important;">Sin Datos</td>
        <%end%>
        </tr>
      
          <tr>
        <td class="text-left" style = "font-weight:bold; font-size: 14px !important;">Acciones</td>
       <td><%= @acciones %></td>
       
   <td class="color1"><%= @aacumplio %></td>
         <td class="color2"><%= @aanocumplio %></td>
          <td><%= @aabiertas %></td>
        
       
        <td  class="color3"><%= @acumplio %></td>
         <td class="color4"><%= @anocumplio %></td>
         <td><%= @acerradas %></td>
         <%if @acerradas != 0 %>
        <td style = "color:white;background:<%=get_color_porcentaje(@aporcentaje)%>">% <%= @aporcentaje%></td>
        <%else%>
        <td style="font-size: 14px !important;">Sin Datos</td>
        <%end%>
        </tr>
          <tr>
        <td class="text-left" style = "font-weight:bold; font-size: 14px !important;">Tareas</td>
             <td><%= @tasks%></td>
       
    <td  class="color1"><%= @tacumplio %></td>
        <td class="color2"><%= @tanocumplio %></td>
         <td><%= @tabiertas %></td>
        
        
        <td  class="color3"><%= @tcumplio %></td>
        <td class="color4"><%= @tnocumplio %></td>
        <td><%= @tcerradas %></td>
         <%if @tcerradas != 0 %>
        <td style = "color:white;background:<%=get_color_porcentaje(@tporcentaje)%>">% <%= @tporcentaje%></td>
        <%else%>
        <td style="font-size: 14px !important;">Sin Datos</td>
        <%end%>
        </tr>
          <tr class="total">
        <td class="text-right" style = "font-weight:bold; font-size: 14px !important;">Totales</td>
             <td><%= @total1%></td>
        <td  class="color1"><%= @total2%></td>
         <td class="color2"><%= @total3%></td>
         
        <td><%= @total4%></td>
        <td class="color3" ><%= @total5 %></td>
        <td  class="color4"><%= @total6 %></td>
        <td><%= @total7 %></td>
         <%if @total7 != 0 %>
        <td style = "color:white;background:<%=get_color_porcentaje(@total8)%>">% <%= @total8%></td>
        <%else%>
        <td style="font-size: 14px !important;">Sin Datos</td>
        <%end%>
        </tr>
      </tbody>
   </table>

   </div>
</div>
<hr>
<div class="row tortas">
  

<div class="col-md-4">
  <div id="container10" style="height: 300px"></div>

  <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>


</div>
<div class="col-md-4">
  <div id="container11" style="height: 300px"></div>
    <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
<div class="col-md-4">
  <div id="container12" style="height: 300px"></div>
    <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>

<div class="col-md-12">
  <hr>
</div>
<div class="col-md-4" >
  <div id="container13" style="height: 300px"></div>
   <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
<div class="col-md-4">
  <div id="container14" style="height: 300px"></div>
   <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
<div class="col-md-4">
  <div id="container15" style="height: 300px"></div>
   <table class="table">
   
      <tr>
        <th>Vigentes</th>
        <th>10</th>
      </tr>
      <tr>
        <th>Vencidos</th>
        <th>20</th>
      </tr>

      <tr style="background: gray;    color: white;">
        <th>Total</th>
        <th>20</th>
      </tr>
  </table>
</div>
</div>

<div class="row" style="display:none">
<div class="col-md-6">


 <div id="container1" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
	<!--<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>-->
</div>

<div class="col-md-6">
    <!--<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>-->
   <div id="container2" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
</div>
	
</div>
<style>
.tortas table
  {
    display: none
  }
   .img img
   {
   width: 100px;
   border-radius: 45%;}
   .indicadores
   {
   	text-align: center;
    margin-bottom: 0px !important;
   }
   .total td
   {
    font-weight: bold;
    font-size-adjust: 16px;

   }
.myd
{

    font-size: 26px;
    background: #e8e8e8;
    color: #0db493;
    font-family: 'Days One', sans-serif;
    padding-left: 32px;
}

.color1{
    color: #0db45a;
}

.color2{
    color: red;
}

.color3{
    color: #279afd;
}

.color4{
    color: #d27f37;
}

</style>





<script>
    
Highcharts.chart('container', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: '% Rendimiento'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 100,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: ''
        },
        plotBands: [{
            from: 0,
            to: 60,
            color: '#d82c2c' // green
        }, {
            from: 60,
            to: 80,
            color: 'orange' // yellow
        }, {
            from: 80,
            to: 100,
            color: '#08af62' // red
        }]
    },

    series: [{
        name: 'Speed',
        data: [<%=@total8%>],
        tooltip: {
            valueSuffix: ' Rendimiento'
        }
    }]

},
// Add some life
function (chart) {
    if (!chart.renderer.forExport) {
        setInterval(function () {
            var point = chart.series[0].points[0],
                newVal,
                inc = Math.round((Math.random() - 0.5) * 1);

            newVal = point.y + inc;
            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);

        }, 3000);
    }
});
</script>







<script>
    Highcharts.chart('container1', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Abiertos'
    },
        xAxis: {
        categories: [
            'Reportes',
            'Acciones',
            'Tareas'         
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Total',
        color: '#817575',
        data: [<%= @rabiertos%> , <%= @aabiertas%> ,<%= @tabiertas%>]
    },

    {
        name: 'Vigentes',
        color: '#0db493',
        data: [<%=@racumplio%>, <%=@aacumplio%>,<%=@tacumplio%>]

    },  {
        name: 'Vencidos',
        color: '#d82c2c',
        data: [<%=@ranocumplio%>, <%=@aanocumplio%>, <%=@tanocumplio%>]

    }, 

    ]
});
</script>

<script>
    Highcharts.chart('container2', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Cerrados'
    },
        xAxis: {
        categories: [
            'Reportes',
            'Acciones',
            'Tareas'         
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{ 
        name: 'Total',
        color: '#E78533',
        data: [ <%=@rnocumplio%>, <%=@acumplio%>, <%=@tcumplio%>]

    },

    { 
        name: 'Cumplidos',
        color: '#279afd',
        data: [ <%=@rcumplio%>, <%=@acumplio%>, <%=@tcumplio%>]

    }, {
        name: 'No Cumplidos',
        color: '#b9661e',
        data: [ <%=@rnocumplio%>, <%=@anocumplio%>,<%=@tnocumplio%>]

    }

    ]
});
</script>



<script>
  

Highcharts.chart('container10', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Reportes Abiertos'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Vigentes',
      color: "#0db45a",
      y: <%=@rporcentaje_abi_cump%>,
    }, {
      name: 'Vencidos',
      color: "#c41818",
      y: <%=@rporcentaje_abi_no%>
    }]
  }]
});



Highcharts.chart('container11', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Acciones Abiertas'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Vigentes',
      color: "#0db45a",
      y: <%=@aporcentaje_abi_cump%>,
    }, {
      name: 'Vencidas',
      color: "#c41818",
      y: <%=@aporcentaje_abi_no%>
    }]
  }]
});



Highcharts.chart('container12', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Tareas Abiertas'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Vigentes',
      color: "#0db45a",
      y: <%=@tporcentaje_abi_cump%>,
    }, {
      name: 'Vencidas',
      color: "#c41818",
      y: <%=@tporcentaje_abi_no%>
    }]
  }]
});
</script>




<script>
  

Highcharts.chart('container13', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Reportes Cerrados'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Cumplio',
      color: "#279afd",
      y: <%=@rporcentaje%>,
    }, {
      name: 'No cumplio',
      color: "#e17a22",
      y: <%=@rporcentaje_no%>
    }]
  }]
});



Highcharts.chart('container14', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Acciones Cerradas'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Cumplio',
      color: "#279afd",
      y: <%=@aporcentaje%>,
    }, {
      name: 'No cumplio',
      color: "#e17a22",
      y: <%=@rporcentaje_no%>
    }]
  }]
});



Highcharts.chart('container15', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Tareas Cerradas'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Cumplio',
      color: "#279afd",
      y: <%=@tporcentaje%>,
    }, {
      name: 'No cumplio',
      color: "#e17a22",
      y: <%=@tporcentaje_no%>
    }]
  }]
});
</script>




