<table class = "reporte hidden-xs" style=" width: 95%;
    margin: 2.5%;
    color:gray;
    font-size: 12px;">
<th colspan="8" class ="titaccion tr-table text-center" style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Reporte (<%= @report.codigo %>)

   <!-- <% a = Company.find_by(user_id: @report.admin_user).logo_url%>
    <img src="<%= a %>" width="180">-->
  
</th>
<tr>
<tr>
  
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Fecha de Apertura</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;"></td>
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Fuente</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;"><%= @report.source.name %></td>
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Proceso</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;"><%= @report.proceso.name %></td>
</tr>
<tr>
  
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Tipo de NC</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;"><%= @report.nc_type %></td>
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Estado del Hallazgo</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;"><%= @report.state %></td>
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Costo Actual</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;">0</td>
</tr>
<tr>
  
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Reporta</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;" ><%= @report.user.name %></td>
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Responsabilidad</th>
  
 
  <% employed = Employed.find(@report.employed_id)%>
     <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;" colspan="3" class = "imaacc">Principal:<%= employed.first_name %> <%= employed.first_last_name %><br>Otros Interesados: <% 
     cm = 0 
     @report.employeds.each do |resp|
      %><%= "," if cm != 0 %> 
  <%= resp.first_name %> <%= resp.first_last_name %>
    
    <%  cm = cm + 1 %> 
    <%end%>
  </td>
</tr>
<tr>
  
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Estado</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;"> <%=@report.state%></td>
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Fechas</th>
  
 
  
     <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;" colspan="3" class = "imaacc">
     Cierre: </td>
         
  
</tr>
<tr>
  
  <th colspan="6" style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Description</th>
   
</tr>
<tr>
  
 
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;"  colspan="6" class = "text-left"><%= @report.description %></td>
   
</tr>
<tr>
  
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Evidencia</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;" colspan="2" class = "text-left"><%= @report.evidencia %></td>
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Evidencia Adjunta</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;" colspan="2">
  <% if @report.archivo_url%>
 <%= link_to "Descargar Archivo", @report.archivo_url , :class => "linka" %>
 
<%else%>
No hay archivo
<%end%>

 </td>
  
</tr>

<tr>
  
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Requisito Legal o Interno</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;" colspan="2" class = "text-left"><%= @report.requisito %></td>
  <th style = "width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    ">Requisto Aplicable</th>
  <td style = " width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;"  colspan="2"><% @report.numerals.each do |numr|%>
   
<!-- Large modal -->

<%= numr.norma_name%>-<%= numr.numeral%>-<%= numr.name%>

  <!-- Modal -->
  <br>

    <%end%></td>
 
 
</tr>
</table>


<style>
.btn.numerb
{
  padding:0px !important;
  font-size:12px;
  background:white;
  color:#0db497 !important;
}
.modal-body
{
  padding:30px !important;
}
.modal-header
{
  color:#0db497 !important;
  font-weight:bold;
  padding:20px !important;
}
.modal-title
{
  font-weight:bold !important;
}

.reporte
{
      width: 95%;
    margin: 2.5%;
    color:gray;
    font-size: 12px;
}
.reporte td
{
        width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;

    

}
.reporte th
{
            width: 200px;
    border: 1px solid #cecece;
    padding: 5px;
    text-align: center;
    background: #f1f1f1;
    

}
.panel-heading
{
 color:gray !important; 
}
.fsg
{
  width:150px;
}
	
</style>