
<h3>Hola <%=@report.employed.first_name%> <%=@report.employed.first_last_name%></h3>
 <p><%= Employed.find(@report.employed_reporta).first_name%> <%=Employed.find(@report.employed_reporta).first_last_name%> te ha asignado un Reporte</p>
<hr>
<p><strong>Codigo:</strong> <%=@report.codigo%></p>
<p><strong>Nombre:</strong> <%=@report.name%></p>


<p><strong>Descripcion:</strong> <%=@report.description%></p>
<p><strong>Fecha de Entrega:</strong> <%= @report.f_compromiso%></p>

