
<h3>Hola <%=@employed.first_name%> <%=@employed.first_last_name%></h3>
 <p><%= Employed.where(email: @seg.user.email).first.first_name%> <%=Employed.where(email: @seg.user.email).first.first_last_name%> creo un seguimiento a un Reporte</p>
<hr>
<p><strong>Codigo del Reporte:</strong> <%=@seg.report.codigo%></p>
<p><strong>Nombre del Reporte:</strong> <%=@seg.report.name%></p>
<p><strong>Descripcion del seguimiento:</strong> <%=@seg.descripcion%></p>

