<div id="contact-modal" class="modal fade">
<div class="modal-dialog">
   <div class="modal-content modal-graph col-lg-8 col-xs-8  well well-sm">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
         <h4 class="modal-title"><%= action_type %> Seguiemiento</h4>
      </div>
      <%= form_for([@report,@accion,@aseguimiento], remote: true) do |f| %>
      <div class="alert alert-danger" style="display:none">
         <ul>
         </ul>
      </div>
      <div class="modal-body">
       
              
               <div class="form-group">
                  <%= f.label :descripcion %>
                  <%= f.text_area :descripcion,  class: "form-control area" %>
               </div>
                <div class="form-group">
                  <%= f.label :evidencia %>
                  <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1"><i class="fa fa-paperclip" aria-hidden="true"></i>
                     </span>
                     <%= f.file_field :evidencia,  class: "form-control " %>
                  </div>
               </div>
            
          
              
               <br>
               <div class="form-group">
                  <%= f.label :cierra %>
                  <%= f.check_box :cierra ,  class: "cierra1"  %>
               </div>
               <div class="form-group cierra">
                  <%= f.label :eficaz %>
                  <%= f.check_box :eficaz  %>
               </div>
               <div class="form-group cierra">
                  <%= f.label :conclucion %>
                  <%= f.text_area :conclucion ,  class: "form-control area"%>
               </div>
               <div class="form-group cierra ">
                  <%= f.label :costo %>
                  <div class="input-group">
                     <span class="input-group-addon" id="basic-addon1">$</span>
                     <%= f.number_field :costo ,  class: "form-control"%>
                  </div>
               </div>
          
         <%= f.hidden_field :accion_id , :value => @accion.id %>
         <%= f.hidden_field :admin_user , :value => current_user.admin_user %>
         <%= f.hidden_field :user_id ,:value =>  current_user.id %>
         <br>
         <hr>
         <div class="form-group text-center">
            <%= f.submit "Guardar", class: 'btn btn-primary btnpad' %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
         </div>
         <% end %>
      </div>
   </div>
</div>
<script>
   $('.cierra').hide();
   $('.cierra1').change(function(){
   
   
              if ( $(this).is(':checked') )
     {
             $('.cierra').fadeIn();
             
        }
         else{
               
     $('.cierra').fadeOut();
           
          }
     });
   
   
</script>