
<% if @aseguimiento.errors.blank? %>
  $('#contact-modal').modal('hide');
  <%if @seguimientos.count != 1%>
      
        <% if @aseguimiento.cierra %> 
                
            $('#accion-cont-<%=@accion.id%>').html("<%= j render 'accions/row_encabezado/cerrada_contenido' , accion: @accion %>");
            $('#accion-cont-<%=@accion.id%>').css({"background" : "#eaeaea"});
            $('.segcont<%=@accion.id%>').prepend("<%= j render 'accions/rows_aseguimiento/aseguimiento_row_create_cierre', seg: @aseguimiento , accion: @accion %>");
            
            $('#abiertas_c').html("<%= @accions_ab%>");
            $('#cerradas_c').html("<%= @accions_ce%>");


            <%if !@accion.cumplio %>
                $('.msg-cumplimiento').html("<%= j render 'accions/alertas/no_cumplio' , accion: @accion %>");

            <%else%>

                $('.msg-cumplimiento').html("<%= j render 'accions/alertas/cumplio' , accion: @accion %>");

            <%end%>



        <%else%>
        
            $('.segcont<%=@accion.id%>').prepend("<%= j render 'accions/rows_aseguimiento/aseguimiento_row_create', seg: @aseguimiento , accion: @accion %>");
              
        <%end%>

    <%else%>
          
            $('#abiertas_c').html("<%= @accions_ab%>");
            $('#cerradas_c').html("<%= @accions_ce%>");

          <% if @aseguimiento.cierra %>
          
                $('#accion-cont-<%=@accion.id%>').html("<%= j render 'accions/row_encabezado/cerrada_contenido' , accion: @accion %>");
                $('#accion-cont-<%=@accion.id%>').css({"background" : "#eaeaea"});
                $('.aseguimientos<%=@accion.id%>').html("<%= j render 'accions/aseguimientos', seguimientos: @aseguimiento , accion: @accion %>");  

               <%if !@accion.cumplio %>
          
                    $('.msg-cumplimiento').html("<%= j render 'accions/alertas/no_cumplio' , accion: @accion %>");
              <%else%>

                    $('.msg-cumplimiento').html("<%= j render 'accions/alertas/cumplio' , accion: @accion %>");
                    
              <%end%>
          
          <%else%>
               
               $('.aseguimientos<%=@accion.id%>').html("<%= j render 'accions/aseguimientos', seguimientos: @aseguimiento , accion: @accion %>");  
                        
          <%end%>


          
            
        


    <%end%>


    $('.aseguimientos_count<%=@accion.id%>').html("(<%= @seguimientos.count %>)"); 
    $('.seg-cont-p<%=@accion.id%>').html("<%= @seguimientos.count %>");
    $('.costo-real<%=@accion.id%>').html("<%= number_to_currency(@aseguimiento.costo) %>");




   
  
<% else %>
  $(".alert").css("display", "block");
  // TODO: show the errors in the UI
  $('.alert').empty('<p></p>');
  <% @aseguimiento.errors.full_messages.each do |msg| %>
  $('.alert').append('<p><%=msg%></p>');
          <% end %>

<% end %>

/*
alert('success!');
<% if remotipart_submitted? %>
  alert('submitted via remotipart')
<% else %>
  alert('submitted via native jquery-ujs')
<% end %>
*/

