
<% if @aseguimiento.errors.blank? %>
  $('#contact-modal').modal('hide');
   <% if @aseguimiento.cierra %> 
  $('.srow<%=@aseguimiento.id%>').html("<%= j render 'accions/rows_aseguimiento/aseguimiento_row_cierre', seg: @aseguimiento , accion: @accion %>");
   <%else%>
  $('.srow<%=@aseguimiento.id%>').html("<%= j render 'accions/rows_aseguimiento/aseguimiento_row', seg: @aseguimiento , accion: @accion %>");

  <%end%>
  
<% else %>
$(".alert").css("display", "block");
  // TODO: show the errors in the UI
  $('.alert').empty('<p></p>');
  <% @aseguimiento.errors.full_messages.each do |msg| %>
          $('.alert').append('<p><%=msg%></p>');
        <% end %>

<% end %>

