<hr>

<div class="row">
<div class="col-md-12" style="padding: 10px 30px;">
  <h1 class ="titaccion"><%=action_type%> <%=@tipo%> Reporte
(<a class="btn numerb"  data-toggle="modal" data-target="#myModal" ><%= @report.codigo%>) Ver <i class="fa fa-eye" aria-hidden="true"></i></a></h1>


  


 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title modalp1">Informacion del Reporte</h4>
        </div>
        <div class="modal-body">
  <table class = "reporte">
<tr>
  <th>Codigo</th>
  <td><%= @report.codigo %></td>
  <th>Fecha de Vencimiento</th>
  <td><%= @report.f_compromiso %></td>
  <th>Fuente</th>
  <td><%= @report.source.name %></td>
  
  
</tr>
<tr>

  <th>Descripcion</th>
  <td colspan="5"><%= @report.description%></td>
  
</tr>

</table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>
<hr>
   
<%= form_for([@report,accion]) do |f| %>
  <% if accion.errors.any? %>
   <div class="alert alert-danger">

      <h4><%= accion.errors.count %> <%= accion.errors.count > 1 ? "Errores" : "Error"%></h4>

      <ul>
      <% accion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
 <p class="form-tit">Informacion Basica</p>
         <div class="col-md-3">

<div class="form-group">
    <%= f.label "Frecuencia de Seguimiento" %>
    <%= f.select :f_seguimiento, [['Sin Alertas de Seguimiento', 0],['Diario', 1],  ['Semanal',7], ['Quincenal',15],['Mensual',30], ['Trimestral',90], ['Semestral',182], ['Anual',365]], {} ,{:class => "form-control fsg"} %>
        <%if action_name != "new" %>
    <%= f.label "Actualizar Fecha y/o Frecuencia", class: "lb2" %>
    <%= f.check_box :tag, class:"check" %>
    <%end%>
  </div>
</div>

  <div class="col-md-3">

<div class="form-group">
    <%= f.label "Fecha de Compromiso (dd-mm-aaaa)"%>
    <%= f.text_field :f_compromiso, :value => ( action_name == 'new' ? Time.now.strftime("%d/%m/%Y"): @accion.f_compromiso.strftime("%d/%m/%Y")) ,class: "form-control datepicker fecha" %>

  </div>
 

  <script>
  $(function() {
    $.datepicker.regional['es'] = {
 closeText: 'Cerrar',
 prevText: '< Ant',
 nextText: 'Sig >',
 currentText: 'Hoy',
 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
 weekHeader: 'Sm',
 dateFormat: 'dd/mm/yy',
 firstDay: 1,
 isRTL: false,
 showMonthAfterYear: false,
 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);
  $('.datepicker').datepicker({
    altField: "#actualDate",
    changeMonth: true,
    changeYear: true
  });
 
});

</script>
</div>

   

<div class="col-md-6">
  <%if @tipo == "Accion"%> 
   <div class="form-group">
               <%= f.label "Causa(s) Raiz" %><br>
               <%= f.select :causa_efecto_ids, CausaEfecto.where(report_id:@report.id).where(estado:"vital").collect {|ca| ["#{ca.name}-#{ca.accions.count}", ca.id]}, {prompt: false}, {:multiple => true,class: 'form-control chosen-select2 mn'} %>
            </div>

            <%end%>
</div>

</div>

<div class="row">
<div class="col-md-6">

<div class="form-group">
    <%= f.label "Descripción corta de la #{@tipo}" %>
    <%= f.text_field :name,  class: "form-control"  %>
  </div>
</div>


</div>
<hr class="hr">
<div class="row">
    <p class="form-tit"">Responsabilidad</p>


     <div class="col-md-3">

  <div class="form-group">
               <%= f.label "Asignada a" %><br>
               <%= f.select :employed_id,
                 get_employeds.map { |u| ["#{u.first_name} #{u.second_name} ", u.id] },
                             { include_blank: true },
                             { class: 'chosen-select1 form-control ch'  }
                  %>
            </div>
             </div>
<div class="col-md-3">
  <div class="form-group">
               <%= f.label "Responsable de Cierre" %><br>
               <%= f.select :cierra_id,
                 get_employeds.map { |u| ["#{u.first_name} #{u.second_name} ", u.id] },
                             { include_blank: true },
                             { class: 'chosen-select1 form-control ch reporta'  }
                  %>
            </div>
            </div>

            <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Otros interesados" %><br>
               <%= f.select :employed_ids, get_employeds.collect {|c| ["#{c.first_name} #{c.second_name}", c.id]}, {prompt: false}, {:multiple => true,class: 'form-control chosen-select2 mn'} %>
            </div>

</div>








</div>

<hr class="hr">
<div class="row">
    <p class="form-tit"">Informacion Complementaria</p>


           <div class="col-md-6">


  <div class="form-group">
    <%= f.label "Descripcion Detallada" %>
    <%= f.text_area :descripcion,  class: "form-control area"  %>
  </div>

 


  </div>
  <div class="col-md-6">
    <div class="form-group">
    <%= f.label "Posible Evidencia" %>
    <%= f.text_area :evidencia,  class: "form-control area"  %>
  </div>

   </div>
 <div class="col-md-3">
   <div class="form-group">
    <%= f.label "Costo presupuestado" %>
    <%= f.number_field :costo_presupuestado, :value => (action_name == "edit" ? @accion.costo_presupuestado : 0 ) ,class: "form-control"  %>
  </div>
  </div>
</div>







 


  

<% action_name == "new" ?  parame = @tipo : parame = @accion.tipo %>
  <%= f.hidden_field :tipo , :value => parame%>
<%= f.hidden_field :report_id , :value => @report.id %>
   <%= f.hidden_field :admin_user , :value => current_user.admin_user %>
      <%= f.hidden_field :user_id ,:value =>  current_user.id %>
<%= (f.hidden_field :tag ,:value =>   true) if action_name == "new" %>

  <div class="actions text-center" >
    <%= f.submit "Guardar" , class: 'btn btn-primary', style: "padding: 10px 29px;" %>
  </div>
  <br><br>
<% end %>
  </div>
    </div>


    <script>
    $( document ).ready(function() {
        if ("<%=action_name%>" != "edit")
{

 

$('.reporta').val("<%=get_employed1.id%>");


}
else
{
  $('.fecha').attr('disabled','disabled');
  $('.fecha').attr('style','background: #dadada !important');
   $('.fsg').attr('disabled','disabled');
  $('.fsg').attr('style','background: #dadada !important');
   
}


$('.check').change(function(){

             if ( $(this).is(':checked') )
    {
            $('.fecha').removeAttr('disabled');
  $('.fecha').attr('style','background: #f9f9f9 !important');
  $('.fsg').removeAttr('disabled');
  $('.fsg').attr('style','background: #f9f9f9 !important');
     
            
       }
       else
{
  $('.fecha').attr('disabled','disabled');
  $('.fecha').attr('style','background: #dadada !important');
  $('.fsg').attr('disabled','disabled');
  $('.fsg').attr('style','background: #dadada !important');
   
}
});



});
    </script>

