<div id='cssmenu1'>
  <ul>
    <li><%= link_to "Inicio ",  root_path, :class => "linka" %></li>
    <li class="active"><a href='#'>Gestion De Reporte</a></li>
  </ul>
</div>
<br><br>

<div class = "row title-table">
   <div class = "col-md-10">
      <p><%=@resp%> <span class="label label-primary"><%=@acciones.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @acciones, :entry_name => 'Reporte' %></span> </p>


     
   </div>
    <div class = "col-md-2">
               <div class="col-md-12 text-right">
      <%if !params[:commit]%> 
  <%= link_to @route + "?filtros=true", class: "linka canf1" do %>
  <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/222696-200.png" style="width:30px;" alt="">
  <%end%>
  <%end%>

  <%if ( params[:commit] || params[:filtros] ) %>
        <%= link_to  @route , class: "linka canf" do%> 
        <img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Data-Clear-Filters-icon.png" style="width:30px;" alt="">
    <%end%>
<%end%>


     <%= link_to image_tag("https://image.flaticon.com/icons/svg/29/29102.svg"), @route_csv, class: "icon-export"%>
     </div>
    </div>
   <div class = "col-md-5 paginate text-left title-table1">
     
<%= will_paginate @acciones%>
   </div>


</div>























        <div class="row busqueda" style = "display:none;">
   <div class="col-md-12">
   <%= form_tag(@route, :method => "get", id: "search-form", class: "form-inline form1") do %>
<%= text_field_tag :search0, params[:search0], placeholder: "Fecha Desde",class: "form-control datepicker shi1 sh0" %><%= text_field_tag :search, params[:search], placeholder: "Fecha Hasta",class: "form-control datepicker1 shi1 sh00" %>
<script>
   $(function() {
   $.datepicker.regional['es'] = {
   closeText: 'Cerrar',
   prevText: '< Ant',
   nextText: 'Sig >',
   currentText: 'Hoy',
   monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
   monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
   dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
   dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
   dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
   weekHeader: 'Sm',
   dateFormat: 'dd/mm/yy',
   firstDay: 1,
   isRTL: false,
   showMonthAfterYear: false,
   yearSuffix: ''
   };
   $.datepicker.setDefaults($.datepicker.regional['es']);
   $('.datepicker').datepicker({
     altField: "#actualDate",
     changeMonth: true,
     changeYear: true,
     dateFormat: 'mm-dd-yy'
   });
   $.datepicker.setDefaults($.datepicker.regional['es']);
   $('.datepicker1').datepicker({
     altField: "#actualDate",
     changeMonth: true,
     changeYear: true,
      dateFormat: 'mm-dd-yy'
   });
   
   });
   
   
</script>
<%= select_tag "search2", options_for_select(["","Acciones", "Correcciones", "Actividades" ] ), {class: "form-control shi sh ", include_blank: true } %>


<%= text_field_tag :search5, params[:search5], placeholder: " Descripcion", class: "form-control shi sh3" %>
<%if action_name == "acciones_todas"%>
<%= (select_tag "search6", options_for_select(["","Abiertas", "Cerradas" ] ), {class: "form-control shi sh4 ", include_blank: true }) %>
<%else%>
<%= hidden_field_tag :search6  %>

<%end%>

<%= submit_tag "Buscar", :class => "btn btn-primary submit-btn", style: "margin-left:10px;padding:3px 20px;" %>
<% end %>
   </div>
  
</div>





<div class = "row">





  

<table class="table table">
   <thead>
      <tr class = "tr-table">
 
          
         
           <th style = "width:2%"  ></th>
         <th style = "width:10%" class="text-left">F Creacion</th>
         <th style = "width:10%" class="text-left">Codigo</th>
          <th style = "width:10%" class="text-left">Tipo</th>
         <th style = "width:10%" class="text-left">Responsable</th>
         <th style = "width:10%" class="text-left">Compromiso</th>
          <%if action_name == "acciones_cerradas" || action_name == "acciones_todas" %>
         <th  class="text-left" style = "width:10%">Entrega</th>
         <th style = "width:5%" class="text-left">¿Cumplio?</th>
         <%end%>
          <th style = "width:5%" class="text-center">Días</th>
          <th  class="text-left" style = "width:40%">Accion</th>
         <th  class="text-left">Seguimientos</th>

         
         
        
      </tr>
   </thead>
   <tbody>
     <% @acciones.each do |accion1| 
      accion = Accion.find(accion1.id)
      report = Report.find(accion.report_id)%>
      <tr>
       


<td><%if accion.estado == "Abierta"  %>
         <i style = "font-size:20px"  class="fa fa-unlock" aria-hidden="true"></i>
         <%else%>
         <i  style = "font-size:20px" class="fa fa-lock" aria-hidden="true"></i>
         <%end%></td>
         <td><%= get_date(accion.created_at) %></td>
          <td><%= link_to  "#{accion.codigo}", report_accion_path(report,accion), :class => "linka"  %></td>
      <td><%= accion.tipo %></td>
        
       
         <td><%= accion.employed.first_name %> <%= accion.employed.first_last_name %></td>
     

 <%if action_name == "acciones_cerradas" || action_name == "acciones_todas" %>
           <td  ><%= get_date(accion.f_compromiso)%></td>
           <%else%>
 <td  style = "background:<%=estado_contador(accion.contador_seg)%>;color:white" ><%= get_date(accion.f_compromiso)%></td>
          <%end%>


          <%if action_name == "acciones_cerradas" || action_name == "acciones_todas" %>
          <td><%= get_date(accion.f_real)%> <%if accion.change_cumplio%>
           <button class = "tip" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="<p><%=accion.justificacion_cumplio%></p>">?</button><%end%> </td>
           <td class="text-center"><%= cumplio(accion.cumplio).html_safe if accion.estado == "Cerrada"%></td>
          <%end%>




<td class="text-center">
          
<%= accion.contador_seg%> </td>








             <td>
           
               <%= accion.name %>
         </td>
         <td> <%=accion.aseguimientos.count %></td>
        <% end %>
   </tbody>

</table>
















<script>
    $(document).on('turbolinks:load',function() {
   if ("<%=params[:filtros]%>" != "" ||  "<%=params[:commit]%>" != "")
   {
 $('.busqueda').show();
 $('.canf').show();
 $('.canf1').hide();

   }
   else
   {
    $('.busqueda').hide();
     $('.canf1').show();

   }

     

 });

      
   
</script>
<script>
   $(document).on('turbolinks:load',function() {
   
      
     /*$(".sh1").imagepicker({
                  hide_select : true,
                  show_label: true
          
      })*/
      
   
      $('.sh').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '150px',
            placeholder_text_single: "Tipo",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
   
      $('.sh4').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '150px',
            placeholder_text_single: "Estado",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
     
      
     
   
      $('.sh1').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '150px',
            placeholder_text_single: "Responsable",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
      
     
      
      $('.sh2').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '150px',
            placeholder_text_single: "Tipo",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
    $('.chosen-container span').addClass("shi") ;
     }); 
   $('.sh').val("<%=params[:search2]%>") ;
    $('.sh2').val("<%=params[:search4]%>") ;
      $('.sh3').val("<%=params[:search5]%>") ;
       $('.sh1').val("<%=params[:search3]%>") ;
      $('.sh4').val("<%=params[:search6]%>") ;
      $('.sh0').val("<%=params[:search0]%>") ;
      $('.sh00').val("<%=params[:search]%>") ;
      
     
      /*$('.filtrost').hide();
      if ("<%=params[:commit]%>" != "")
      {
      $('.filtrost').fadeIn();
      $('.filtros1').fadeOut();
      }
      
      $('.filtros1').click(function(){
      
      $('.filtrost').fadeIn();
      $('.filtros1').fadeOut();
      
      });*/
      
      
      
      
</script>
<style>
   .shi
   {
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   }
   .shi1
   {
   width: 60px;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
   text-align: center;
   }
   .busqueda
   {
       
    padding: 10px;
    background: #e8e8e8;
   }
   .ball img
   {
    width: 30px;
   }
</style>



<style>
  .seg
  {
   
    padding: 10px;
    color: gray;
    
    border: 1px solid #cecece;
  font-size: 13px !important;
     -webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.3s;    border-bottom: 3px solid #ababab
  }
  .seg:hover
  {
  
    box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
  }
  .icon-export img
  {
    width: 30px;
  }
</style>