
<div class="row">
  <div class="col-md-12 ">
    <p><%= link_to "Inicio | ",  root_path, :class => "linka" %>  <%= link_to "Reportes | ",  reports_path, :class => "linka" %>  <%= link_to "Reporte (#{@report.codigo}) | ",  @report, :class => "linka" %> <%= link_to "#{@accion.tipo}es | ",  report_accions_path(@report), :class => "linka" %><%= link_to "#{@accion.tipo}(#{@accion.codigo})", report_accion_path(@report,@accion), :class => "linka"  %> </p>
  </div>

</div>

<%= render 'form', accion: @accion %>

