
<div class="row">
  <div class="col-md-12 ">
    <p><%= link_to "Inicio /",  root_path, :class => "linka" %>  <%= link_to "Reportes /",  reports_path, :class => "linka" %>  <%= link_to "Reporte (#{@report.codigo})",  @report, :class => "linka" %></p>
  </div>

</div>








<div class = "row">

<table class = "reporte" style = "margin-bottom:-1px;">
<tr>
<th colspan="8" class ="titaccion tr-table text-center">Reporte
</th>
<tr>
  <th>Codigo</th>
  <td><%= @report.codigo %></td>
  <th>Fuente</th>
  <td><%= @report.source.name %></td>
  <th>Responsable</th>
  <% employed = Employed.find(@report.employed_id)%>
     <td colspan="3" class = "imaacc"><button type="button" class="btn numerb" data-container="body" data-toggle="popover" data-placement="top" data-content="<p style='text-align:center;margin:0px;padding:0px;'><img src='<%= employed.avatare_url(:thumb) %>'></p><br><strong>Cargo:</strong> <%= employed.cargo.name %><br> <strong>Email:</strong> <%= employed.email%><br><strong>Cedula:</strong> <%= employed.document %>"><%= employed.first_name %> <%= employed.first_last_name %></button></td>
  
  
</tr>
<tr>
<th>Estado</th>
  <td><%= @report.state %></td>
  <th>Descripcion</th>
  <td colspan="4" class="text-left"><%= @report.description%></td>
  
</tr>

</table>
 
<% if @accions.count > 0 %>



   <table class = "table" style = "width: 95%;margin-left: 2.5%;    border: 1px solid #d2d2d2;">

      <thead>
<tr class ="tr-table ">
<th colspan="7" style = "padding-left:150px" class ="titaccion text-center"><%=@tipo + "es"%> (<%=@accions.count %>)
<th><%= link_to 'Nueva Accion', new_report_accion_path(@report) + "?tipo=#{@tipo}", :class => 'btn btn-primary pull-right' %></td>
</th>

</tr>



         <tr class = "tr-table">
      <th style = "width:10%">Codigo</th>
      <th style = "width:13%">Creacion</th>
     
      
      <th style = "width:13%">Responsable</th>
      <th style = "width:13%">Compromiso</th>
      
      <th style = "width:41%" colspan="3">Descripcion</th>
      
      <th style = "width:10%"></th>
      
      
      
    </tr>
  </thead>

  <tbody>
     <% @accions.each do |accion| %>
      <tr>
        <td><%= accion.codigo %></td>
             
      <td><%= get_date(accion.created_at) %></td>
       <% employed = Employed.find(accion.employed_id)%>
     <td  class = "imaacc"> <button type="button" class="btn numerb" data-container="body" data-toggle="popover" data-placement="top" data-content="<p style='text-align:center;margin:0px;padding:0px;'><img src='<%= employed.avatare_url(:thumb) %>'></p><br><strong>Cargo:</strong> <%= employed.cargo.name %><br> <strong>Email:</strong> <%= employed.email%><br><strong>Cedula:</strong> <%= employed.document %>"><%= employed.first_name %> <%= employed.first_last_name %></button></td>
        <td><%= get_date(accion.f_compromiso) if accion.fp_seguimiento %></td>
       
     
        
       
     
   
       
        <td colspan="3" class="text-left"><%= accion.descripcion %></td>


       <td> <%= link_to  report_accion_path(@report,accion), :class => "opciones" do %>
               <i class="fa fa-eye" aria-hidden="true"></i>
               <% end %>
               <%= link_to  edit_report_accion_path(@report,accion), :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               <%= link_to  report_accion_path(@report,accion),  method: :delete, data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
               <% end %></td>



       
        
      </tr>
 <% end %>
  </tbody>
</table>


<%else%>
<div class="jumbotron jumbacc">
  <h1 class="display-3">No has creado ninguna <%= @tipo%></h1>
  
  <hr class="my-4">
  <p class="lead">Las <%= @tipo + "es"%> te ayudaran a mejorar tu Empresa</p>
   <%= link_to "Nueva #{@tipo}", new_report_accion_path(@report) + "?tipo=#{@tipo}", :class => 'btn btn-primary btn-lg' %>
  </p>

<%end%>

 </div>
<br>


<style>
  .imaacc img
  {
border-radius: 40px;
  }
</style>


<script>
  
  $(function () {
  $('[data-toggle="popover"]').popover({
    trigger: 'hover',
    html: true
    
  
  })
})

</script>