
<div class = "row">
   <div class="col-md-12 text-center" style="background: #e8e7e7;">
      <div class="col-md-3">
         <input type="text" style="margin-top:2px;" id="myInput" class="form form-control" onkeyup="myFunction()" placeholder="Busqueda por descripcion o codigo" title="Type in a name">
      </div>
       <div class="col-md-6">
      <h4 class="titulo-acciones"><%=@tipo.upcase + "ES"%> (<%=@accions.abiertas.count + @accions.cerradas.count  %>) <span style="margin-left: 10px;font-size: 16px"><i class='fas fa-lock-open' aria-hidden='true'></i></span>
                  <span style="font-size: 16px"><%=@accions.abiertas.count%></span>
                  <span style="margin-left: 10px;font-size: 16px"><i class='fas fa-lock' aria-hidden='true'></i></span>
                  <span style="font-size: 16px"><%=@accions.cerradas.count%></span></h4>
       </div>
        <div class="col-md-3">
         <% if @accions.count > 0 %>
      <strong style="float: right;">
      <%= (link_to " + Nueva #{@tipo}", new_report_accion_path(@report) + "?tipo=#{@tipo}", :class => 'linka pull-right') if view_report(@report) || current_user.rol.create_all %> </strong>
      <%end%>
        </div>
       
   </div>

     
   
<div class="col-md-12">
 <br>
</div>
</div>
<div class = "row">

   <div class="col-md-12 wihtout-padding" id="filter">
      <% if @accions.count > 0 %>
      <% @accions.each do |accion| %>
         <div class = "row" id="row-cont-<%=accion.id%>">

            <%if accion.estado == "Abierta"%>
              <%= render "accions/row_encabezado/abierta", accion: accion %>
             <%else%>
                <%= render "accions/row_encabezado/cerrada", accion: accion %>
             <%end%> 
              <div id="show_accion<%=accion.id%>" class="show_accion reporte" style="display: none;padding:0px 10px;">
            <%=render "accions/show_accion", accion: accion %>
              </div>
            
        </div>
    
      <% end %>
  </div>
      
      </div>     
      <%else%>
      <div class="jumbotron jumbacc">
         <br>
         <h4 class="display-3 text-gray">No hay  <%= @tipo + "es Abiertas" %></h4>
         <hr class="my-4">
         <%= (link_to "Nueva #{@tipo}", new_report_accion_path(@report) + "?tipo=#{@tipo}", :class => 'btn btn-primary btn-lg') if view_report(@report) || (current_user.role == "SuperAdmin") || current_user.rol.create_all%>
      </div>
      <%end%>

   <!--fin-->
   <!--fin-->


<style>
   .imaacc img
   {
   border-radius: 40px;
   }
   .border-select
   {
    border: 3px solid #1f8143 !important;
    border-radius: 6px;
   }
    .title-accion-select
   {
    
   }
      .button_ver_accion
   {
    background: red !important;
    content: " New!" !important; 
   }
   .text-hidden
   {
    max-height: 47px;
    overflow: hidden;
   }
</style>
<script>
   $(function () {
   $('[data-toggle="popover"]').popover({
     trigger: 'hover',
     html: true
     
   
   })
   })
   
   
    $('#filter').on('click', '.ver_accion', function() {
      
      var a = $(this).attr('id').match(/\d+/)[0]
      console.log(a);
      var b = '#show_accion' + a;
      var x = '#row-cont-' + a;
       var y = '#title-accion-' + a;
       var z = '#accion' + a;
      var text_hidden = '#text_hidden-' + a; 
      console.log(text_hidden)
      console.log(y)
      //$('.show_accion').hide();
      $(b).toggle( "slow", "linear" );
      $(x).toggleClass("border-select");
      $(y).toggleClass("title-accion-select");
      $(text_hidden).toggleClass("text_hidden");
      console.log($(y).attr('class'))
      if ($(y).attr('class') == 'filter3 title-accion-select')
      {
        console.log('hola')
        $(z).text("VER MENOS");
      }
      else
      {
        console.log('hola1')
       $(z).text("VER MAS"); 
      }
      console.log($(y).attr('class') == "filter3 title-accion-select")
      
      console.log("filter3 title-accion-select")
   })
   


   
</script>
<style>
.redonda1
{
   padding: 5px 8px;
    background: #a4a4a4;
    color: white;
    border-radius: 10px;
}
   .imaacc img
   {
   border-radius: 40px;
   }
   .cnt
   {
   border: 1px solid #c3c3c3;
   margin-bottom: 10px;
   -webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
   transition: box-shadow 0.3s;
   }
   .rtr
   {
   text-align:center;
   }
   .rtd
   {
   padding: 5px;
   text-align:center;
   }
   .titulo
   {
   background:#f2f2f2;
   }
   .cnt:hover
   {
   box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
   }
   .titulo-acciones
   {
    margin: 0px 0px 0px 0px;
    padding: 10px;
    font-weight: bold;
    color: #8b8b8b;
   }
</style>

<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("filter");
    li = ul.getElementsByClassName("filter2");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByClassName("filter3")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}
</script>



