<div class="row">
<div class="col-md-6">
    <div id="container1" style=" height: 400px; margin: 0 auto,width:1200 !important;">
<script>
   

   Highcharts.chart('container1', {
    title: {
        text: 'Primera Valoraci贸n'
    },
    xAxis: {
        categories: [<% @causas.order(npr: :desc).each do |causa|%>
            "<%=causa.causa_fallo%>",

        <%end%>]
    },
    labels: {
        items: [{
          
            style: {
                left: '50px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: [{
        type: 'column',
        name: 'npr',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
            parseInt("<%=causa.npr%>.to_i"),

        <%end%>]
    }, {
        type: 'spline',
        name: 'npr tage',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
            parseInt("<%=@nprm%>.to_i"),

        <%end%>],
     
    }]
});
</script>


    </div>

</div>
<div class="col-md-6">
    
   
    <p class = "titctp"><strong>Fecha propuesta de Valoracion:</strong> <%= get_date(@amefp.frp_valoracion) %></p>
  
    

  <div class="panel panel-default">
   <div class="panel-heading ph">Causas Vitales </div>
  <div class="panel-body ph">
     <% @causas.where(estado: "vital").each do |causa|%>
    <p class = "titctp">* <%=causa.causa_fallo %></p>
    <%end%>
     </div>
  
  </div>

  <div class="panel panel-default">
   <div class="panel-heading ph">Causas Triviales</div>
  <div class="panel-body ph">
     <% @causas.where(estado: "trivial").each do |causa|%>
    <p class = "titctp">* <%=causa.causa_fallo %></p>
    <%end%>
     </div>
  
  </div>




</div>
</div>
<hr>
 <% if @amefp.s_valoracion %>
<div class="row">
    
<div class="col-md-6">
    <div id="container2" style=" height: 400px; margin: 0 auto,width:1200 !important;">
<script>
   

   Highcharts.chart('container2', {
    title: {
        text: 'Segunda Valoraci贸n'
    },
    xAxis: {
        categories: [<% @causas.order(npr: :desc).each do |causa|%>
            "<%=causa.causa_fallo%>",

        <%end%>]
    },
    labels: {
        items: [{
          
            style: {
                left: '50px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: [{
        type: 'column',
        name: 'npr',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
            parseInt("<%=causa.snpr%>.to_i"),

        <%end%>]
    }, {
        type: 'spline',
        name: 'npr tage',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
             parseInt("<%=@nprm%>.to_i"),

        <%end%>],
     
    }]
});
</script>


    </div>

</div>
<div class="col-md-6">
          <p class = "titctp"><strong>Fecha propuesta de Valoracion:</strong> <%= get_date(@amefp.frs_valoracion) %></p>
  <div class="panel panel-default">
   <div class="panel-heading ph">Causas Vitales </div>
  <div class="panel-body ph">
     <% @causas.where(sestado: "vital").each do |causa|%>
    <p class = "titctp">* <%=causa.causa_fallo %></p>
    <%end%>
     </div>
  
  </div>

  <div class="panel panel-default">
   <div class="panel-heading ph">Causas Triviales</div>
  <div class="panel-body ph">
     <% @causas.where(sestado: "trivial").each do |causa|%>
    <p class = "titctp">* <%=causa.causa_fallo %></p>
    <%end%>
     </div>
  
  </div>

</div>

</div>
<hr>
<%end%>
 <% if @amefp.t_valoracion %>
<div class="row">


<div class="col-md-6">
    <div id="container3" style=" height: 400px; margin: 0 auto,width:1200 !important;">
<script>
   

   Highcharts.chart('container3', {
    title: {
        text: 'Tercera Valoraci贸n'
    },
    xAxis: {
        categories: [<% @causas.order(npr: :desc).each do |causa|%>
            "<%=causa.causa_fallo%>",

        <%end%>]
    },
    labels: {
        items: [{
          
            style: {
                left: '50px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: [{
        type: 'column',
        name: 'npr',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
            parseInt("<%=causa.tnpr%>.to_i"),

        <%end%>]
    }, {
        type: 'spline',
        name: 'npr tage',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
             parseInt("<%=@nprm%>.to_i"),

        <%end%>],
     
    }]
});
</script>


    </div>

</div>
<div class="col-md-6">
         <p class = "titctp"><strong>Fecha propuesta de Valoracion:</strong> <%= get_date(@amefp.frt_valoracion) %></p>
  <div class="panel panel-default">
   <div class="panel-heading ph">Informaci贸n</div>
  <div class="panel-body ph">
     <% @causas.where(testado: "vital").each do |causa|%>
    <p class = "titctp">* <%=causa.causa_fallo %></p>
    <%end%>
     </div>
  
  </div>

  <div class="panel panel-default">
   <div class="panel-heading ph">Causas Vitales </div>
  <div class="panel-body ph">
     <% @causas.where(testado: "vital").each do |causa|%>
    <p class = "titctp">* <%=causa.causa_fallo %></p>
    <%end%>
     </div>
  
  </div>

  <div class="panel panel-default">
   <div class="panel-heading ph">Causas Triviales</div>
  <div class="panel-body ph">
     <% @causas.where(testado: "trivial").each do |causa|%>
    <p class = "titctp">* <%=causa.causa_fallo %></p>
    <%end%>
     </div>
  
  </div>

</div>
</div>
<%end%>