<div class="row">
<div class="col-md-6">
    <div id="container1" style=" height: 400px; margin: 0 auto,width:1200 !important;">
<script>
   

   Highcharts.chart('container1', {
    title: {
        text: 'Primera Valoración'
    },
    xAxis: {
        categories: [<% @causas.order(npr: :desc).each do |causa|%>
            "<%=causa.causa_fallo%>",

        <%end%>]
    },
    labels: {
        items: [{
          
            style: {
                left: '50px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: [{
        type: 'column',
        name: 'Jane',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
            parseInt("<%=causa.npr%>.to_i"),

        <%end%>]
    }, {
        type: 'spline',
        name: 'Average',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
            300,

        <%end%>],
     
    }]
});
</script>


    </div>

</div>
<div class="col-md-6">
    <p>Analsis</p>
</div>
</div>
<hr>
 <% if @amefp.s_valoracion %>
<div class="row">
    
<div class="col-md-6">
    <div id="container2" style=" height: 400px; margin: 0 auto,width:1200 !important;">
<script>
   

   Highcharts.chart('container2', {
    title: {
        text: 'Segunda Valoración'
    },
    xAxis: {
        categories: [<% @causas.order(npr: :desc).each do |causa|%>
            "<%=causa.causa_fallo%>",

        <%end%>]
    },
    labels: {
        items: [{
          
            style: {
                left: '50px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: [{
        type: 'column',
        name: 'Jane',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
            parseInt("<%=causa.snpr%>.to_i"),

        <%end%>]
    }, {
        type: 'spline',
        name: 'Average',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
            300,

        <%end%>],
     
    }]
});
</script>


    </div>

</div>
<div class="col-md-6">
        <p>Analsis</p>
</div>

</div>
<hr>
<%end%>
 <% if @amefp.t_valoracion %>
<div class="row">


<div class="col-md-6">
    <div id="container3" style=" height: 400px; margin: 0 auto,width:1200 !important;">
<script>
   

   Highcharts.chart('container3', {
    title: {
        text: 'Tercera Valoración'
    },
    xAxis: {
        categories: [<% @causas.order(npr: :desc).each do |causa|%>
            "<%=causa.causa_fallo%>",

        <%end%>]
    },
    labels: {
        items: [{
          
            style: {
                left: '50px',
                top: '18px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: [{
        type: 'column',
        name: 'Jane',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
            parseInt("<%=causa.tnpr%>.to_i"),

        <%end%>]
    }, {
        type: 'spline',
        name: 'Average',
        data: [<% @causas.order(npr: :desc).each do |causa|%>
            300,

        <%end%>],
     
    }]
});
</script>


    </div>

</div>
<div class="col-md-6">
        <p>Analsis</p>
</div>
</div>
<%end%>