
<script>
   $(document).on('turbolinks:load',function() {
   $('.input input').hide();
     $('.input textarea').hide();
     $('.po input').hide();
     $('.pn input').hide();
     $('.spo input').hide();
     $('.spn input').hide();
     $('.subact').hide();
     
  

   $('.actu').click(function(){
          
          if (<%=@amefp.s_valoracion%> != true)
          {
            $('.po input').toggle();
            $('.pn input').toggle();
            $('.po span').toggle();
            $('.pn span').toggle();
          
          }
          if (<%=@amefp.t_valoracion%> != true)
          {
          
            $('.spo input').toggle();
            $('.spn input').toggle();
            $('.spo span').toggle();
            $('.spn span').toggle();
          }
          

         $('.input input').toggle();
     $('.input textarea').toggle();
       $('.input span').toggle();
      

        $('.subact').toggle();
   

   });

 });
   /*$('.num').change(function(){
     var a = $(this).val(); 
     console.log(a)
    alert($(this).val() )
    if ($(this).val() > 10)
    {
      alert("El valor debe ser entre 0 y 10")
     $(this).val(0); 
    }


   });*/
</script>
<div class="row">
    <div class="col-md-6">
        <p><%= link_to "Inicio",  root_path, :class => "linka" %>  <%= link_to "| Reportes",  reports_path, :class => "linka" %>  <%= link_to "| Reporte (#{@amefp.causa.report.codigo})",  @amefp.causa.report, :class => "linka" %>
           <%= link_to "| Causa y Efecto ",  report_causa_path(@amefp.causa.report,@amefp.causa), :class => "linka" %>
        </p>
    </div>

</div>
<div class = "row title-table">
   <div class = "col-md-8">
      <p >AMEF</p>
   </div>
     <div class = "col-md-4 text-right">
     <%=link_to "Editar AMEF" ,edit_amefp_path(@amefp.id),remote:true , class: "btn btn-primary"%>
      <button type="" class="actu btn btn-primary">Editar Cuadro</button>
   </div>

   </div>

     
   
   
      <%= form_tag update_vcaef_path do %>
       <p class="text-right" = ""> <%= submit_tag "Actualizar", class: "btn btn-danger subact", style: "display:none"%></p>   



  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" class="linka" aria-controls="home" role="tab" data-toggle="tab">AMEF</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" class="linka" role="tab" data-toggle="tab">Resultados</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" class="linka" role="tab" data-toggle="tab">Información para Valoración</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  <br>
    <div role="tabpanel" class="tab-pane active" id="home">
    <div class="row">

    <div class="col-md-12 ">
<p style="font-size:12px;"><strong>Efecto del Fallo:</strong> <%=  @amefp.causa.report.name %></p>
  </div>
      
    </div>
<div class = "row">


         <div class="col-md-12"  style = "padding-left:0px !important;">
   
  
   <table class="table sg">
      <thead>
         <tr class = "tr-table">
          
            
           <th style = "width:3%">G</th>
            <th style = "width:10%">Modo de Fallo</th>
            <th style = "width:10%">Causa de Fallo</th>
             <th style = "width:3%">O</th>
            <th style = "width:20%">Controles Actuales</th>
           
            <th style = "width:3%">D</th>
            <th style = "width:3%">NPR</th>
            <th style = "width:20%">Acciones a tomar</th>
            <th style = "width:5%">Ok</th>
            <th style = "width:10%">Responsable</th>
            <th style = "width:20%">Acciones tomadas</th>
             <% if @amefp.s_valoracion %>
             <th style = "width:3%">G</th>
            <th style = "width:3%">O</th>
            <th style = "width:3%">D</th>
            <th style = "width:3%">NPR</th>
            <%end%>
            <% if @amefp.t_valoracion %>
             <th style = "width:3%">G</th>
            <th style = "width:3%">O</th>
            <th style = "width:3%">D</th>
            <th style = "width:3%">NPR</th>
            <% end%>
           
         </tr>
      </thead>
     
      <tbody>
         <%
         x = 1 
         y = [1,1,1,1,1,1]
         @causas.order(tipo: :asc).order(created_at: :desc).each do |causa| %>
         <tr>
        
        
           <td><%= causa.grado %></td>
         <% if causa.tipo == "1"%>
          <td><%= causa.causa_efecto.causa.primera_m if y[0] == 1 %></td>
          <% y[0] =2%>
         <% elsif causa.tipo == "2"%>
          <td><%= causa.causa_efecto.causa.seguna_m if y[1] == 1%></td>
           <% y[1] = 2%>
         <% elsif causa.tipo == "3"%>
         <td><%= causa.causa_efecto.causa.tercera_m  if y[2] == 1 %></td>
             <% y[2] = 2%>
         <% elsif causa.tipo == "4"%>
         <td><%= causa.causa_efecto.causa.cuarta_m if y[3] == 1 %></td>
          <% y[3] = 2%>
         <% elsif causa.tipo == "5"%>
          <td><%= causa.causa_efecto.causa.quinta_m if y[4] == 1%></td>
          <% y[4] = 2%>
         <% elsif causa.tipo == "6"%>
       <td><%= causa.causa_efecto.causa.sexta_m if y[5] == 1%></td>
         <% y[5] = 2%>
         <%end%>
        
           <td><%= causa.causa_fallo %></td>
           <td class="po num text-center"><span><%= causa.p_ocurrencia %></span><%= number_field_tag "p_ocurrencia[]", causa.p_ocurrencia   %></td>
            <td class="input"><span><%= causa.c_actuales %></span><%= text_area_tag "c_actuales[]", causa.c_actuales  %></td>

            
             <td class="pn num text-center"><span><%= causa.pn_deteccion %></span><%= number_field_tag "pn_deteccion[]", causa.pn_deteccion %></td>
             <td><%= causa.npr %></td>
            <%= hidden_field_tag "ids[]", causa.id %>
            

          <td class="input"><span><%= causa.a_tomar %></span><%= text_area_tag "a_tomar[]", causa.a_tomar  %></td>
          <td class="input text-center"><span><%= get_state(causa.accion_ok).html_safe %></span>  <%= check_box_tag "accion_ok[]", causa.id ,causa.accion_ok,class:""%></td>
       
          <td >           



          </td>
          <td >
            <% CausaEfecto.where(id: causa.causa_efecto_id).take.accions.each do |accion| %>
                 <%= link_to  "- " + accion.name , report_accion_path(accion.report_id,accion.id)%><br>
            <% end %>



          </td>
          
            <% if @amefp.s_valoracion %>
             <%= hidden_field_tag "sgrado", @amefp.s_valor %>
          <td><%= causa.sgrado %></td>
            <td class="spo num text-center"><span><%= causa.sp_ocurrencia %></span><%= number_field_tag "sp_ocurrencia[]", causa.sp_ocurrencia  %></td>
             <td class="spn num text-center"><span><%= causa.spn_deteccion %></span><%= number_field_tag "spn_deteccion[]", causa.spn_deteccion %></td>
              <td><%= causa.snpr %></td>
              <% end %>
              <% if @amefp.t_valoracion %>
              <%= hidden_field_tag "tgrado text-center", @amefp.t_valor %>
              <td><%= causa.tgrado %></td>
                <td class="input num text-center"><span><%= causa.tp_ocurrencia %></span><%= number_field_tag "tp_ocurrencia[]", causa.tp_ocurrencia  %></td>
             <td class="input num text-center"><span><%= causa.tpn_deteccion %></span><%= number_field_tag "tpn_deteccion[]", causa.tpn_deteccion %></td>
              <td><%= causa.tnpr %></td>
              <% end %>
         </tr>
         <%x = x + 1
   
          end %>
         </tbody>

      

         </table>
     
   
     

       
</div>
</div>
 <%= hidden_field_tag "amefp", @amefp.id %>
 <%= hidden_field_tag "grado", @amefp.p_valor %>

 

   <%end%>


</div>
    <div role="tabpanel" class="tab-pane" id="profile">
       

<%= render 'graficas'%>

  </div>
<div role="tabpanel" class="tab-pane" id="messages">
   

<img src="https://c1.staticflickr.com/3/2860/33233559941_3da895eeb9_b.jpg" alt="">

</div>


</div>
