
<div class = "row title-table">
   <div class = "col-md-10">
      <p >Procesos</p>
   </div>
   <div class = "col-md-2">
      <%= link_to 'Nuevo', new_proceso_path, remote: true, class: "btn btn-primary"  if current_user.rol == "SuperAdmin" || current_user.rol == "Admin" %>
   </div>
</div>
<div class = "row">
   <div class = "col-md-6">
      <div class="form-group">
         <%= form_tag(procesos_path, :method => "get", id: "search-form") do %>
         <%= text_field_tag :search, params[:search], placeholder: "Ingresa texto", class: "form-control search1" %>
         <%= submit_tag "Buscar", :class => "btn btn-primary" %>
         <% end %>
      </div>
   </div>
   <div class = "col-md-6">
      <%= will_paginate @procesos%>
   </div>
</div>
<div class = "row">

<%= form_tag delete_procesos_path, method: :delete, data: { confirm: 'Esta seguro de eliminar estos Procesos' } do %>
<p><%= submit_tag "Eliminar", class: "btn btn-danger" %></p>
   <table class="table">
      <thead>
         <tr class = "tr-table">
          <th><%= check_box_tag "all_id", 0 %></th>
            <th>Nombre</th>
            <th>Descripcion</th|>
        
            <th colspan="3"></th>
         </tr>
      </thead>
      <tbody>
         <% @procesos.each do |proceso| %>
         <tr>
         <td><%= check_box_tag "proceso_ids[]", proceso.id ,false ,class:"ck"%></td>
            <td><%= proceso.name %></td>
            <td><%= proceso.description %></td>
            <td><%= link_to  proceso, :class => "opciones" do %>
               <i class="fa fa-eye" aria-hidden="true"></i>
               <% end %>
               <%= link_to  edit_proceso_path(proceso), remote:true, :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               <%= link_to  proceso,  method: :delete, data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
               <% end %>
            </td>
         </tr>
         <% end %>
      </tbody>
   </table>
   
     

        <% end %>
</div>

<style>
.btn-danger{background-color: #d9534f
 !important}
   
</style>

      <script>
  $('.btn-danger').hide();

$('#all_id').click(function(){

    if ( $(this).is(':checked') )
    {
            $('.ck').prop('checked', true);
            $('.btn-danger').fadeIn();
             $('td').css('background-color', 'whitesmoke');
       }
        else{
            $('.ck').prop('checked', false);
            $('.btn-danger').fadeOut();
            $('td').css('background-color', 'white');
         }
    });

$('.ck').click(function(){

  if ( $(this).is(':checked') )
    {
            $('td').css('background-color', 'whitesmoke');
            $('.btn-danger').fadeIn();
       }
        else{
            $('td').css('background-color', 'white');
            $('.btn-danger').fadeOut();
         }
    });



</script>
