
<div class="row" >
   <div class="col-md-12 ">
      <p><%= link_to "Inicio ",  root_path, :class => "linka" %> </p>
   </div>




<div class = "row title-table">
   <div class = "col-md-6">
      <p>Procesos <span class="label label-primary"><%=@procesos.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @procesos, :entry_name => 'Procesos' %></span> </p>


     
   </div>
   <div class = "col-md-4 paginate text-left title-table1">
     
<%= will_paginate @procesos%>
   </div>

   <div class = "col-md-2">
       <%= link_to 'Nuevo', new_proceso_path, remote: true, class: "btn btn-primary"  if current_user.role == "SuperAdmin" ||  current_user.rol.configuracion %>
   </div>
</div>


<hr class="hr">
<%= (link_to "Filtros", procesos_path + "?filtros=true", class: "linka canf1") if params[:filtros] != "true" && params[:commit] != "Buscar"  %>
<%= (link_to "Cancelar Filtros", procesos_path, class: "linka canf") if (params[:commit] || params[:filtros])  %>

<div class = "row busqueda" style="display:none">
   <div class = "col-md-9">
      <div class="form-group fil">
         <%= form_tag(procesos_path, :method => "get", id: "search-form") do %>
   
  <%= text_field_tag :search, params[:search], placeholder: "Nombre", class: "form-control search" %>
  <%= text_field_tag :search1, params[:search1], placeholder: "Descripcion", class: "form-control search" %>
      
         <%= submit_tag "Buscar", :class => "btn btn-primary" %>
    
         <% end %>
      </div>
   </div>

</div>



<div class = "row">

<%= form_tag delete_procesos_path, method: :delete, data: { confirm: 'Esta seguro de eliminar estos Procesos' } do %>
<p><%= submit_tag "Eliminar", class: "btn btn-danger" %></p>
   <table class="table">
      <thead>
         <tr class = "tr-table">
          <th class="text-left" style="width: 5%"><%= check_box_tag "all_id", 0 %></th>
            <th style="width:25%">Nombre</th>
            <th style="width:50%%">Descripcion</th|>
        
            <th style="width:20%" ></th>
         </tr>
      </thead>
      <tbody>
         <% @procesos.each do |proceso| %>
         <tr>
         <td><%= check_box_tag "proceso_ids[]", proceso.id ,false ,class:"ck"%></td>
            <td><%= proceso.name %></td>
            <td><%= proceso.description %></td>
            <td><%= link_to  proceso, :class => "opciones" do %>
               <i class="fa fa-eye" aria-hidden="true"></i>
               <% end %>
               <%= link_to  edit_proceso_path(proceso), remote:true, :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               <%= link_to  proceso,  method: :delete, data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
               <% end %>
            </td>
         </tr>
         <% end %>
      </tbody>
   </table>
   
     

        <% end %>
</div>

<style>
.btn-danger{background-color: #d9534f
 !important}
   .shi1
   {
   width: 150px !important;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
      }
         .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
.fil
{margin: 0px;
}
.search
   {
   width:200px !important;
   height: 27px!important;
   display:inline-block !important;
   }
</style>

      <script>
  $('.btn-danger').hide();

$('#all_id').click(function(){

    if ( $(this).is(':checked') )
    {
            $('.ck').prop('checked', true);
            $('.btn-danger').fadeIn();
             $('td').css('background-color', 'whitesmoke');
       }
        else{
            $('.ck').prop('checked', false);
            $('.btn-danger').fadeOut();
            $('td').css('background-color', 'white');
         }
    });

$('.ck').click(function(){
var a = 0;
  if ( $(this).is(':checked') )
    {
            $('td').css('background-color', 'whitesmoke');
            $('.btn-danger').fadeIn();
       }
        else{
            $('td').css('background-color', 'white');
$(".ck").each(function(){  //todos los que sean de la clase row1
    if($(this).is(':checked')){
       a  = 1;
    }
});
            if (a != 1)
            {
            $('.btn-danger').fadeOut();
            $('#all_id').prop('checked', false);
          }
         }
    });


//filtros
$(document).on('turbolinks:load',function() {
   

   if ("<%=params[:filtros]%>" != "" ||  "<%=params[:commit]%>" != "")
   {
 $('.busqueda').show();


   }
   else
   {
    $('.busqueda').hide();


   }




 });
//filtros
$('.sh').val("<%=params[:search]%>") ;
    $('.sh1').val("<%=params[:search1]%>") ;


</script>
