


<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="res active"><%= link_to "Clientes", clinte_proveedors_path %></li>
    
    <li role="presentation" class="inv active"><%= link_to "Proveedores", proveedores_path %></li>

 <li role="presentation" class="indi active"><%= link_to "Entidades de Certificacion", entidades_certificacion_path %></li>

    
    <li role="presentation" class="asi active"><%= link_to "Entidades Gubernamentales",entidades_gubernamentales_path %></li>
   

  </ul>

<style>
	.fc-toolbar h2 {
margin: 0;
color: #0db497;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    color:#0db497;

    }

 .fc-view, .fc-view > table {
    
}
</style>

<style>
.imaacc img
{
border-radius: 40px;
}
.cnt
{
border: 1px solid #c3c3c3;
margin-bottom: 10px;
-webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.3s;
    padding: 13px;
}
.rtr1
{
-webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
transition: box-shadow 0.3s;
  color:gray;

}
.rtr1:hover
{
box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
background: #0db493;
color:white;

}


.rtd
{
padding: 5px;

}
.titulo
{
background:#f2f2f2;
}
.cnt:hover
{

}
.myd
{

    font-size: 26px;
    background: #e8e8e8;
    color: #0db493;
    font-family: 'Days One', sans-serif;
    padding-left: 32px;
}
.prox
{
  font-size: 16px;
    color: #0db4a4;
}
.rtr1
{

}
.fc1
{
  padding: 1px !important;
}
.br
{
      border-radius: 10px;
      margin-right: 10px;
}
</style>


<script>
	
if ("<%=action_name%>" == "index")	
{	$('.res').addClass('active');
$('.asi').removeClass('active');
$('.inv').removeClass('active');
$('.indi').removeClass('active');
}
else if ("<%=action_name%>" == "proveedores")
{

$('.indi').removeClass('active');
    $('.res').removeClass('active');
$('.asi').removeClass('active');
$('.inv').addClass('active');



 }
 else if ("<%=action_name%>" == "entidades_certificacion")
{$('.res').removeClass('active');
$('.asi').removeClass('active');
$('.inv').removeClass('active');
 $('.indi').addClass('active');
 }
else

	{

$('.res').removeClass('active');
$('.asi').addClass('active');
$('.inv').removeClass('active');
 $('.indi').removeClass('active');


	}

</script>