<div id="contact-modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= action_type %> Parte Interesada</h4>
      </div>
<%= nested_form_for(@clinte_proveedor, remote: true) do |f| %>
  <div class="alert alert-danger" style="display:none">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">

<div class="row">
<div class="col-md-6">
  <div class="field">
    <%= f.label "Nombre" %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= f.text_field :name, class: "form-control", :title => "Es un Campo Obligatorio", :required => true   %>
      </div>
  </div>

  <br>

  <div class="field">
    <%= f.label "Tipo" %>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= f.select :cliente_proveedor_type_id,    get_tipo_parte.map { |u| [u.name, u.id] },{ include_blank: false },{ class: 'chosen-select form-control'  }%>
    </div>
  </div>
  
  <br>
  <div class="field">
    <%= f.label "PBX" %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-phone"></i></span>
          <%= f.text_field :pbx,  class: "form-control" %>
      </div>
  </div>
  
  <br>
  <div class="field">
    <%= f.label "Dirección" %>
    <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-directions"></i></span>
          <%= f.text_field :address,  class: "form-control" %>
    </div>
  </div>
 
 
</div>
<div class="col-md-6">
   

<div class="field">
    <%= f.label "Nit/Cedula" %>
    <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-address-card"></i></span>
           <%= f.text_field :nit,  class: "form-control" %>
    </div>
</div>

  <br>
  <div class="field">
    <%= f.label "Correo de la empresa" %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-at"></i></span>
          <%= f.text_field :correo_empresa,  class: "form-control" %>
      </div>
  </div>

  <br>

<div class="field">
    <%= f.label "Web" %>
    <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-clone"></i></span>
          <%= f.text_field :web,  class: "form-control" %>
    </div>
  </div>
</div>
  
</div>
  <hr>
<div class="col-lg-12">
   
    <h3 class = "" style = "margin :0px 0px 5px 0;color:gray">Contactos</h3>
    <br>
    <%= f.fields_for :contacts do |contact|  %>
  <div class="clearfix">
 <div class="col-md-12" style="padding: 0px;" >
    <div class="col-md-3" style="padding: 0px; margin-top: 2px; padding-right: 4px;" >
      <%= contact.label "Nombre" %>
        <div class="input-group">
          <span class="input-group-btn">
              <%= contact.link_to_remove class: "btn btn-danger" do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </span>
        <%= contact.text_field :name, :class => 'form-control' %>
      </div>
    </div>
      <div class="col-md-3 pdd" >
    <%= contact.label "Celular" %>
    <%= contact.text_field :mobil, :class => 'form-control' %>
    </div>
     <div class="col-md-3 pdd" >
    <%= contact.label "Email" %>
    <%= contact.email_field :email, :class => 'form-control' %>
    </div>
    <div class="col-md-3 pdd" >
    <%= contact.label "Cargo" %>
    <%= contact.text_field :cargo, :class => 'form-control' %>
    </div>
<%= contact.hidden_field :admin_user , :value => current_user.admin_user %>
  <%= contact.hidden_field :user_id ,:value =>  current_user.id %>

   
   </div>
    </div>
   









<%end%>
 

<%= f.link_to_add "Agregar Contacto", :contacts, :class => 'btn btn-primary top10'  %>
    </div>


  


<%= f.hidden_field :admin_user , :value => current_user.admin_user %>
  <%= f.hidden_field :user_id ,:value =>  current_user.id %>
  
  <br>
<hr>
  <div class="form-group text-center">
   <%= f.submit "Guardar", class: 'btn btn-primary btnpad' %>
   <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  </div>
<% end %>
 </div>
    </div>
    </div>
<style>
.pdd{

padding: 2px;
}
.top10
{margin-top: 10px;
}
  
.input-group-addon{
  background-color:  #00BE99;
  color: #f1f1f1;
}
</style>
