<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @clinte_proveedor.user_id %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @clinte_proveedor.admin_user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @clinte_proveedor.name %>
</p>

<p>
  <strong>Pbx:</strong>
  <%= @clinte_proveedor.pbx %>
</p>

<p>
  <strong>Address:</strong>
  <%= @clinte_proveedor.address %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @clinte_proveedor.nit %>
</p>

<p>
  <strong>Correo empresa:</strong>
  <%= @clinte_proveedor.correo_empresa %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @clinte_proveedor.contact_name %>
</p>

<p>
  <strong>Contact telephone:</strong>
  <%= @clinte_proveedor.contact_telephone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @clinte_proveedor.contact_email %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @clinte_proveedor.tipo %>
</p>

<p>
  <strong>Web:</strong>
  <%= @clinte_proveedor.web %>
</p>

<%= link_to 'Edit', edit_clinte_proveedor_path(@clinte_proveedor) %> |
<%= link_to 'Back', clinte_proveedors_path %>
