
<div class = "pezdiv">
 <div class="row">
<div class="col-md-8">
          <p class="title-table">Analisis de Causas (<%= @causa.tipo %>)</p>
     </div>

<div class="col-md-4 text-right">
<%= Amefp.where(causa_id:@causa.id).count != 0 ? (link_to "Ver AMEF", show_amefp_path(@causa.amefps.first.id), class:"btn btn-primary") : (link_to "Crear AMEF", new_amefp_path(@causa), remote: true, class:"btn btn-primary")%>
        
     </div>          
 </div>

    <table class ="pez"> 
        <tr>
            <th style = "width:240px">
            
            
            <span class="vertical-bottom causa-pr"%><%=@causa.primera_m%></span>
            <%if @causa.causa_efectos.where(nivel: "1").where(subnivel: "0").count < 6%>
            
            <%= link_to "+", new_caef_path(@causa.id,"1","0"), remote: true, class:"linkg vertical-bottom"%>
            <%end%>
             
            </th>
            <th style = "width:240px">

                <span class="vertical-bottom causa-pr"%><%=@causa.seguna_m%></span>
            <%if @causa.causa_efectos.where(nivel: "2").where(subnivel: "0").count < 6%>
            
            <%= link_to "+", new_caef_path(@causa,"2","0"), remote: true, class:"linkg vertical-bottom"%>
            <%end%>

            </th>
            <th style = "width:240px">
            
 <span class="vertical-bottom causa-pr" style = "margin-left:50px;"%><%=@causa.tercera_m%></span>
            <%if @causa.causa_efectos.where(nivel: "3").where(subnivel: "0").count < 6%>
            
            <%= link_to "+", new_caef_path(@causa,"3","0"), remote: true, class:"linkg vertical-bottom"%>
            <%end%>

                </th>
            <th></th>
            <th></th>
        </tr>
    </table>
    <table class ="pez">
        <%= render 'form_cauefe', report: @report , causa: @causa, m: @m%>
        <% a = CausaEfecto.where(causa_id: @causa.id).where(nivel: "1").where(subnivel: "0").order(:created_at)%>
        <% b = CausaEfecto.where(causa_id: @causa.id).where(nivel: "2").where(subnivel: "0").order(:created_at)%>
        <% c = CausaEfecto.where(causa_id: @causa.id).where(nivel: "3").where(subnivel: "0").order(:created_at)%>
        <% d = CausaEfecto.where(causa_id: @causa.id).where(nivel: "4").where(subnivel: "0").order(created_at: :desc)%>
        <% e = CausaEfecto.where(causa_id: @causa.id).where(nivel: "5").where(subnivel: "0").order(:created_at)%>
        <% f = CausaEfecto.where(causa_id: @causa.id).where(nivel: "6").where(subnivel: "0").order(:created_at)%>
        <tr class="thed">
            <th>
               
                    <% p = 1 
                    a.each do |ca|%>
                    <p class="p<%=p%>"> <%= (link_to ca.name, show_caef_path(ca.id), remote: true)%>
                 
                        <%if CausaEfecto.where(subnivel: ca.id).count. != 0%>

                        <span type="button" class="" data-toggle="popover" title="Sub Causas" data-content="<% CausaEfecto.where(subnivel: ca.id).each  do |a|
                            
                %><p>- <%= a.name%><p><%end%>"> <span class="label label-warning lbc"><%= CausaEfecto.where(subnivel: ca.id).count %></span></span>
                <%end%>


                       <%=link_to "+", new_caef_path(@causa.id, (ca.nivel) , (ca.id) ), remote: true, class:"linkg vertical-bottom"%>
                 
                    

                    </p>
                    <% p += 1;
                    end%>                    
                     <% if a.count < 6 
                     for i in (a.count + 1)..6%>
                    <p class="p<%=i%>"></p>
                    <%end
                    end%> 
                

      
               






            </th>
            <th>
                 <% p = 1 
                    b.each do |ca|%>
                    <p class="p<%=p%>"> <%= (link_to ca.name, show_caef_path(ca.id), remote: true)%>
                    <%if CausaEfecto.where(subnivel: ca.id).count. != 0%>

                        <span type="button" class="" data-toggle="popover" title="Sub Causas" data-content="<% CausaEfecto.where(subnivel: ca.id).each  do |a|
                            
                %><p>- <%= a.name%><p><%end%>"> <span class="label label-warning lbc"><%= CausaEfecto.where(subnivel: ca.id).count %></span></span>
                <%end%>


                       <%=link_to "+", new_caef_path(@causa.id, (ca.nivel) , (ca.id) ), remote: true, class:"linkg vertical-bottom"%>
                        



                    </p>
                    <% p += 1;
                    end%>                    
                     <% if b.count < 6 
                     for i in (b.count + 1)..6%>
                    <p class="p<%=i%>"></p>
                    <%end
                    end%> 

            </th>
            <th>
                
                
            
                <% p = 1 
                    c.each do |ca|%>
                    <p class="p<%=p%>"> <%= (link_to ca.name, show_caef_path(ca.id), remote: true)%>
                     <%if CausaEfecto.where(subnivel: ca.id).count. != 0%>

                        <span type="button" class="" data-toggle="popover" title="Sub Causas" data-content="<% CausaEfecto.where(subnivel: ca.id).each  do |a|
                            
                %><p>- <%= a.name%><p><%end%>"> <span class="label label-warning lbc"><%= CausaEfecto.where(subnivel: ca.id).count %></span></span>
                <%end%>


                       <%=link_to "+", new_caef_path(@causa.id, (ca.nivel) , (ca.id) ), remote: true, class:"linkg vertical-bottom"%></p>
                    <% p += 1;
                    end%>                    
                     <% if c.count < 6 
                     for i in (c.count + 1)..6%>
                    <p class="p<%=i%>"></p>
                    <%end
                    end%> 
                    

               
            </th>
            <td class="punta"></td>
            <td class="pro" rowspan="2">
                <p class = "prop"><%=@report.name%></p>
            </td>
        </tr>
        <tr class="tbod">
            <th>
                                  
                     <% if d.count < 6
                     for i in (1)..(6 -d.count)%>
                    <p class="b<%=i%>"></p>
                    <%end
                    end%> 

                    
                    <% hs = { "1"=> 6 , "2"=>5 , "3"=>4 , "4"=>3, "5"=> 2 , "6"=> 1   } 
                    cou = d.count.to_s
                    p = hs[cou]
                    d.each do |ca|%>
                    <p class="b<%=p%>"> <%= (link_to ca.name, show_caef_path(ca.id), remote: true)%>
                   <%if CausaEfecto.where(subnivel: ca.id).count. != 0%>

                        <span type="button" class="" data-toggle="popover" title="Sub Causas" data-content="<% CausaEfecto.where(subnivel: ca.id).each  do |a|
                            
                %><p>- <%= a.name%><p><%end%>"> <span class="label label-warning lbc"><%= CausaEfecto.where(subnivel: ca.id).count %></span></span>
                <%end%>


                       <%=link_to "+", new_caef_path(@causa.id, (ca.nivel) , (ca.id) ), remote: true, class:"linkg vertical-bottom"%></p>
                    <% p += 1;
                    end%>    




            </th>
            <th>
                             
                     <% if e.count < 6
                     for i in (1)..(6 -e.count)%>
                    <p class="b<%=i%>"></p>
                    <%end
                    end%> 

                    
                    <% hs = { "1"=> 6 , "2"=>5 , "3"=>4 , "4"=>3, "5"=> 2 , "6"=> 1   } 
                    cou = e.count.to_s
                    p = hs[cou]
                    e.each do |ca|%>
                    <p class="b<%=p%>"> <%= (link_to ca.name, show_caef_path(ca.id), remote: true)%>
                   <%if CausaEfecto.where(subnivel: ca.id).count. != 0%>

                        <span type="button" class="" data-toggle="popover" title="Sub Causas" data-content="<% CausaEfecto.where(subnivel: ca.id).each  do |a|
                            
                %><p>- <%= a.name%><p><%end%>"> <span class="label label-warning lbc"><%= CausaEfecto.where(subnivel: ca.id).count %></span></span>
                <%end%>


                       <%=link_to "+", new_caef_path(@causa.id, (ca.nivel) , (ca.id) ), remote: true, class:"linkg vertical-bottom"%></p>
                    <% p += 1;
                    end%>  




            </th>
            <th>
                   <% if f.count < 6
                     for i in (1)..(6 -f.count)%>
                    <p class="b<%=i%>"></p>
                    <%end
                    end%> 

                    
                    <% hs = { "1"=> 6 , "2"=>5 , "3"=>4 , "4"=>3, "5"=> 2 , "6"=> 1   } 
                    cou = f.count.to_s
                    p = hs[cou]
                    f.each do |ca|%>
                    <p class="b<%=p%>"> <%= (link_to ca.name, show_caef_path(ca.id), remote: true)%>
                   <%if CausaEfecto.where(subnivel: ca.id).count. != 0%>

                        <span type="button" class="" data-toggle="popover" title="Sub Causas" data-content="<% CausaEfecto.where(subnivel: ca.id).each  do |a|
                            
                %><p>- <%= a.name%><p><%end%>"> <span class="label label-warning lbc"><%= CausaEfecto.where(subnivel: ca.id).count %></span></span>
                <%end%>


                       <%=link_to "+", new_caef_path(@causa.id, (ca.nivel) , (ca.id) ), remote: true, class:"linkg vertical-bottom"%></p>
                    <% p += 1;
                    end%>  


            </th>
            <td class="punta1"></td>
        </tr>
    </table>
    <table class ="pez">
        <tr>
            <th style = "width:240px">

 <span class="vertical-bottom causa-pr"%><%=@causa.cuarta_m%></span>
            <%if @causa.causa_efectos.where(nivel: "4").where(subnivel: "0").count < 6%>
            
            <%= link_to "+", new_caef_path(@causa.id,"4","0"), remote: true, class:"linkg vertical-bottom"%>
            <%end%>

         </th>
            <th style = "width:240px"> 
 <span class="vertical-bottom causa-pr"%><%=@causa.quinta_m%></span>
            <%if @causa.causa_efectos.where(nivel: "5").where(subnivel: "0").count < 6%>
            
            <%= link_to "+", new_caef_path(@causa.id,"5","0"), remote: true, class:"linkg vertical-bottom"%>
            <%end%>

            </th>
            <th style = "width:240px">
 <span class="vertical-bottom causa-pr" style = "margin-left:50px;"%><%=@causa.sexta_m%></span>
            <%if @causa.causa_efectos.where(nivel: "6").where(subnivel: "0").count < 6%>
            
            <%= link_to "+", new_caef_path(@causa.id,"6","0"), remote: true, class:"linkg vertical-bottom"%>
            <%end%>



            <th style = "width:240px"> 
                


            </th></button></th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>
<div class="row">
    

    <div class="col-md-6">
        <h3>Descripción</h3>
       <p><%= @causa.descripcion != "" ? @causa.descripcion : "No hay observaciones" %></p>
    </div>
    <div class="col-md-6">
        <h3>Documento</h3>
        <% if @causa.archivo_url %>
        <%= link_to "Ver Docucumento", @causa.archivo_url   %>
        <!--<%= image_tag get_extension(@report.causas.first.archivo.file.extension), class: "extension"%>-->
        <%= (@causa.archivo.file.size.to_f/1000) %>KB
        <% else %>
        <p>No hay Archivo adjunto</p>
        <% end %>
    </div>
</div>

<style>
.linkg
{
    color: #b3b3b3 !important;
}

     .acciones
  {
   
    padding:0px 6px;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none !important;
    margin-bottom: 10px;
}
</style>