<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Crear Causa de <%= nivel(@causa,m)%></h4>
      </div>
<%= form_tag crear_caef_path do %>
  <div class="alert alert-danger" style="display:none;padding: 10px;">
    <ul>
    
    </ul>
  </div>
      <div class="modal-body">

        <div class="form-group">
    <%= label_tag "Causa" %>
    <%= text_field_tag :name, nil , class: "form-control formus",:maxlength => 30 , :size => 40 %>
  </div>
  <div class="form-group">
    <%= label_tag "Descripcion" %>
    <%= text_area_tag :descripcion, nil , class: "form-control formus" %>
  </div>



<%= hidden_field_tag :user_id ,current_user.id %>
<%= hidden_field_tag :admin_user ,current_user.admin_user %>
<%= hidden_field_tag :nivel, m %>
<%= hidden_field_tag :tipo , "Causa Efecto" %>
<%= hidden_field_tag :causa_id ,causa.id %>
<%= hidden_field_tag :report_id ,report.id %>
<%= hidden_field_tag :subnivel , @sub %>
<%= hidden_field_tag :subnivel , @sub %>



 
<br>

      <div class="modal-footer text-center">
       
        <%= submit_tag "Guardar", class: 'btn btn-primary btnpad' %>
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
<% end %>

    </div>
  </div>
</div>
</div>
