

<%if  @causa_paret.count != 0%>



<div class="row">


<div class="col-md-8">

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
    

    Highcharts.chart('container', {
    chart: {
        zoomType: 'xy',
        alignTicks:false
    },
    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: [{
        categories: [<% CausaEfecto.where(causa_id:@causa.id).order(frecuencia: :desc).each do |causa|%>
            "<%=causa.name%>",

        <%end%>


        ],
        crosshair: true
    }],
    yAxis: [{ // Primary yAxis

        labels: {
            format: '{value}',
            style: {
                color: Highcharts.getOptions().colors[1],
                backgroundColor: '#FCFFC5'
            }
        },
        title: {
            text: 'Frecuencia',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        }, 
        min:0,
        max: <%= CausaEfecto.where(causa_id:@causa.id).count != 0 ? ((CausaEfecto.where(causa_id:@causa.id).maximum(:frecuencia) * 1.1).to_i) : 100%>
    }, { // Secondary yAxis
          tickInterval: 20,
        title: {
            text: 'Porcentaje Acumulado',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        labels: {
            format: '{value} %',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        opposite: true,
        min:0,
        max:100
    }],
    tooltip: {
        shared: true
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        x: 120,
        verticalAlign: 'top',
        y: 100,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
    },
    series: [{
        name: 'Porcentaje Acumulado',
        type: 'spline',

        yAxis: 1,
        zIndex: 2,
        data: [<% CausaEfecto.where(causa_id:@causa.id).order(frecuencia: :desc).each do |causa|%>
            parseFloat("<%=causa.porcentaje%>"),

        <%end%>],
        tooltip: {
            valueSuffix: '%'
        }

    }, {
        name: 'Frecuencia',
        color: "#e2a433",
        type: 'column',
        zIndex: 1,
        data: [<% CausaEfecto.where(causa_id:@causa.id).order(frecuencia: :desc).each do |causa|%>
            parseInt("<%=causa.frecuencia%>"),

        <%end%>],
        tooltip: {
            valueSuffix: ''
        }

    }]
});
</script>

</div>
    <div class="col-md-4">
   <div class="panel panel-default">
   <div class="panel-heading ph">Causas Vitales </div>
  <div class="panel-body ph">
     <% causa_pareto.each do  |cp| %>
    <p class = "titctp"> <%=cp.name %>

    <%if cp.accions.exists?%>
     <p><a  class="btn-warning acciones" role="button" data-toggle="collapse" href="#collapseExample<%=cp.id%>" aria-expanded="false" aria-controls="collapseExample<%=cp.id%>">
  Acciones (<%= cp.accions.count%>)
</a></p>
<%end%>
     <div class="collapse" id="collapseExample<%=cp.id%>">
  <div class="">

   <%cp.accions.each do |accion| %>
   
   <p style= "margin-left: 30px">- <%=accion.name%> (<%= link_to "ver" , report_accion_path(accion.report_id,accion.id)%>)</p>
   <%end%>
  </div>
</div>
</p>
<hr class="hr">
    <%end%>

     </div>
  
  </div>

<div class="panel panel-default">
   <div class="panel-heading ph">Causas Triviales</div>
  <div class="panel-body ph">
     <% causa_paretot.each do  |cpt| %>
    <p class = "titctp"><%=cpt.name %></p>
    <hr class="hr">
    <%end%>

     </div>
  
  </div>
    </div>
</div>
<div class="row">
<div class="col-md-8">
<div class="panel panel-default">
        <div class="panel-heading ph">PARETO</div>
        <div class="panel-body ph">
        <div class="row">
            <div class="col-md-12">
              <div class="col-md-8">
                  <p class = "titctp tit">Causa</p>
              </div>
              <div class="col-md-2">
                    <p class = "titctp tit">Frecuencia</p>
              </div>
              <div class="col-md-2">
                    <p class = "titctp tit">porcentaje</p>
              </div>
          </div>

          </div>
            <hr class="hr">
          <%     @causa_paret.each do  |cpt| %>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-8">
                  <p class = "titctp"><%=cpt.name %></p>
              </div>
              <div class="col-md-2">
                    <p class = "titctp"><%=cpt.frecuencia %></p>
              </div>
              <div class="col-md-2">
                    <p class = "titctp"><%=cpt.porcentaje.to_i %>%</p>
              </div>
          </div>
          </div>
          <hr style = "margin-top:0px;margin-bottom:0px">
          <%end%>
          </div>
          <br>
        </div>
      </div>
</div>


<%else%>


<div class="row">
<p class="title-table">Analisis de Causas (<%= @causa.tipo %>)</p>
  <div class="col-md-8 col-md-offset-2 entrada">

            
            
   <p>Ingresa las Causas y las frecuencias</p>

   <img src="http://www.rca2go.com/site/sites/default/files/icon-7qt-02.png" alt=""><hr>
      <%= link_to  "Crear Causas" ,edit_report_causa_path(@report,@causa), remote: true, :class => "btn btn-primary"  %>
  </div>

</div>



<%end%>


<style>
.entrada img
{
width:300px;
}
.entrada
{
  text-align: center;
  background: whitesmoke;
  padding-bottom: 20px;
  margin-top:30px;
  margin-bottom:100px ; 
}
.entrada p
{
font-size: 30px;
}
.titct
{
margin-top: : 0px
}
.titctp
{
font-size: 12px !important;    
margin:8px;

}
.tit
{
font-weight: bold;

}

  .acciones
  {
    margin-left: 20px;
    padding:2px 8px;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none !important;
}

</style>

