<div id="contact-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= nivel(@causa, @caef.nivel)%></h4>
      </div>
       <div style="padding-top:5px !important;" class="modal-body text-gray">
<p class="text-right"><%= link_to  edit_caef_path(@caef), remote:true, :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               <%= link_to  delete_caef_path(@caef),  method: :delete, data: { confirm: '¿Estas seguro?' }, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
               <% end %></p>
<p><strong>Causa: </strong><%=@caef.name%></p>

<p><strong>Descripcion </strong><%=@caef.descripcion%></p>

<% CausaEfecto.where(subnivel: @caef.id).each do |causa|%>
     

     <p><%=causa.name%></p>



<% end %>

<div class="modal-footer text-center">
<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

    </div>
    </div>
  </div>
</div>
</div>
