
<div class="row">
    <div class="col-md-6">
        <p><%= link_to "Inicio",  root_path, :class => "linka" %>  <%= link_to "| Reportes",  reports_path, :class => "linka" %>  <%= link_to "| Reporte (#{@report.codigo})",  @report, :class => "linka" %></p>
    </div>
    <div class="col-md-6 text-right">
        <p>
          <%= link_to  "Editar #{@causa.tipo}" ,edit_report_causa_path(@report,@causa), remote: true, :class => " btn btn-primary"  %>
            <%= link_to  "Eliminar #{@causa.tipo}", report_causa_path(@report,@causa), method: :delete, data: { confirm: '¿Estas seguro?' }, :class => "btn btn-danger", style:"display:inline-block !important" %>
    </div>
</div>
<%= render 'tabs'%>
<% if @causa.tipo == "5 Porques"%>
<%= render 'porques' %>
<%elsif @causa.tipo == "Causa Efecto"%>
<hr style = "    margin-top: 5px;
    margin-bottom: 5px;">

<%= render 'causaefecto'%>

<%elsif @causa.tipo == "Pareto"%>
<%=render 'pareto' , report: @report, causa_pareto: @causa_pareto, causa_paretot: @causa_paretot%>

<%elsif @causa.tipo == "Arbol de Fallos"%>
<%=render 'arbol' , report: @report, causa: @causa%>

<%elsif @causa.tipo == "Otro"%>
<%=render 'otro' , report: @report, causa: @causa%>


<%end%>

<script>
/*$(document).on('turbolinks:load',function() {


      $('#<%=@causa.seguna_m.gsub(" ", "")%>').click(function(){
    $('.nivel1').val("<%=@causa.seguna_m%>");
    });
      $('#<%=@causa.tercera_m.gsub(" ", "")%>').click(function(){
    $('.nivel1').val("<%=@causa.tercera_m%>");
    });
      $('#<%=@causa.cuarta_m.gsub(" ", "")%>').click(function(){
    $('.nivel1').val("<%=@causa.cuarta_m%>");
    });
      $('#<%=@causa.quinta_m.gsub(" ", "")%>').click(function(){
    $('.nivel1').val("<%=@causa.quinta_m%>");
    });
      $('#<%=@causa.sexta_m.gsub(" ", "")%>').click(function(){
    $('.nivel1').val("<%=@causa.sexta_m%>");
    });
    
     });*/
    
    
</script>