<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-6">
   <p><%= link_to "Inicio",  root_path, :class => "linka" %>  <%= link_to "| Reportes",  reports_path, :class => "linka" %>  <%= link_to "| Reporte (#{@report.codigo})",  @report, :class => "linka" %></p>
  </div>
  <div class="col-md-6 text-right">
    <p>
                             <%= link_to  edit_report_causa_path(@report,@causa), remote: true, :class => "opciones2" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               
            
  </div>
</div>
<div class="row" style = "display:none">
<p class="title-table">Analisis de Causas (<%= @causa.tipo %>)</p>
<div class="col-md-6">
<h3>Descripción</h3>
  <%== @causa.descripcion %>
</div>
<div class="col-md-6">
<h3>Documento</h3>
  <% if @causa.archivo_url %>
  <%= link_to "Ver Docucumento", @causa.archivo_url   %>
  <!--<%= image_tag get_extension(@report.causas.first.archivo.file.extension), class: "extension"%>-->
  <%= (@causa.archivo.file.size.to_f/1000) %>KB
   <% else %>
   <p>No hay Archivo adjunto</p>
    <% end %>
</div>
  
</div>
<hr>
<div class = "pezdiv">
  

  <table class ="pez">
 <tr>
        <th style = "width:240px"><button type="button" id="metodo" data-toggle="modal" data-target="#contact-modal" class="btn btn-primary">Metodo</button></th>
        <th style = "width:240px"><button type="button" data-toggle="modal" data-target="#contact-modal" class="btn btn-primary" >Cerrar</button></th>
        <th style = "width:240px"><button type="button" data-toggle="modal" data-target="#contact-modal" class="btn btn-primary" >Cerrar</button></th></tr>
</table>
<table class ="pez">
    <%= render 'form_cauefe'%>
    <thead>
      <tr class="thed">
        <th><p class="p1">hola hola hola</p>
                    <p class="p2">hola laalajal</p><p class="p3">hola asfasdf</p><p class="p4">hola asdfasdf</p><p class="p5">hola asdfasdf</p>

        </th>
        <th><p class="p1">hola hola hola</p>
                    <p class="p2">hola laalajal</p>
                    <p class="p3">hola asfasdf</p>
                    <p class="p4">hola asdfasdf</p>
                    <p class="p5">hola asdfasdf</p></th>
                <th><p class="p1">hola hola hola</p>
                    <p class="p2">hola laalajal</p><p class="p3">hola asfasdf</p><p class="p4">hola asdfasdf</p><p class="p5">hola asdfasdf</p></th>
      </tr>
    </thead>
    <tbody>
      <tr class="tbod">
        <th><p class="b1">hola hola hola</p>
                    <p class="b2">hola laalajal</p><p class="b3">hola asfasdf</p><p class="b4">hola asdfasdf</p><p class="b5">hola asdfasdf</p>

        </th>
        <th><p class="b1">hola hola hola</p>
                    <p class="b2">hola laalajal</p><p class="b3">hola asfasdf</p><p class="b4">hola asdfasdf</p><p class="b5">hola asdfasdf</p></th>
                <th><p class="b1">hola hola hola</p>
                    <p class="b2">hola laalajal</p><p class="b3">hola asfasdf</p><p class="b4">hola asdfasdf</p><p class="b5">hola asdfasdf</p></th>
      </tr>
    </tbody>
  </table>
  <table class ="pez">
 <tr>
        <th><a href="mailto:joe@example.com?subject=feedback">email me</a></th><th><a href="mailto:joe@example.com?subject=feedback">email me</a></th><th><a href="mailto:joe@example.com?subject=feedback">email me</a></th></tr>
</table>
</div>

    <style>
.triangulo-equilatero-bottom-left {
     width: 0;
     height: 0;
     border-right: 100px solid transparent;
     border-top: 100px solid transparent;
     border-left: 100px solid #f0ad4e;
     border-bottom: 100px solid #f0ad4e;
}

.p1{

  left: 64px   
} 
.p2
{
  left: 108px   
}
.p3
{
  left: 152px
}
.p4
{
  left: 195px
   
}
.p5
{
  left: 237px
    
}
.b1{

  left: 237px   
} 
.b2
{
  left: 200px   
}
.b3
{
  left: 160px
}
.b4
{
  left: 120px
   
}
.b5
{
  left: 75px
    
}
.pez div
{
  display: inline-block;
}

.pez
{
  width: 710px;
  text-align: left;
  border-collapse: collapse;;

}
.pez p
{
  position: relative;
}
.pez .thed th
{
  border-bottom:1px solid gray;
  width:240px;
  height: 188px;
  background-image: url("https://c1.staticflickr.com/3/2613/32577838220_e2aac782c6_m.jpg");

  }
.pez .tbod th
{
  
  width:240px;
  height: 188px;
  background-image: url("https://c1.staticflickr.com/1/374/32577827060_0b526114c6_m.jpg");

}
.pezdiv
{
      width: 90%;
    margin-left: 10%;
}


</style>

<script>
  
$('#metodo').click(function(){
$('.tipo1').val("afsdf");

})

</script>