
<h3 style="color:#0db497">Hola <%=@report.employed.first_name%> <%=@report.employed.first_last_name%></h3>
 <p><%=@var%> al Reporte <%=@report.codigo%></p>
<hr style="    border: 0.5px solid #dedede !important;">
<p style="color:gray"><strong style="color:#0db497">Codigo: </strong> <%=@report.codigo%></p>
<p style="color:gray"><strong style="color:#0db497">Fecha de Entrega: </strong> <%= @report.f_compromiso%></p>
<p style="color:gray"><strong style="color:#0db497"><%=@report.source.name%>: </strong> <strong style="color:gray"><%=@report.name%></strong></p>


<a href="https://mejoraapp.com/reports/<%=@report.id%>" style="color:#0db497">Ir al Reporte</a>
