<h3 style="color:#0db497">Hola <%=@accion.employed.first_name%> <%=@accion.employed.first_last_name%></h3>
 <p>La siguiente <%=@accion.tipo%> <%=@var%></p>
<hr style="    border: 0.5px solid #dedede !important;">
<p style="color:gray"><strong style="color:#0db497">Codigo: </strong> <%=@accion.codigo%></p>
<p style="color:gray"><strong style="color:#0db497">Fecha de Entrega: </strong> <%= @accion.f_compromiso%></p>
<p style="color:gray"><strong style="color:#0db497"><%=@accion.tipo%>: </strong> <strong style="color:gray"><%=@accion.name%></strong></p>


<a href="mejoracontinua.herokuapp.com/reports/<%=@accion.report_id%>/accions/<%=@accion.id%>" style="color:#0db497">Ir a la accion</a>