
    <% @users.each do |user| %>
     <tr class="<%= user.id %>">
     <td><%= check_box_tag "user_ids[]", user.id ,false ,class:"ck"%></td>
    
     
      <td><%= user.email %></td>
      
      <td><%= user.rol.name %></td>
        <td><%= user.name %></td>
        
        
        
    
        <td>
            <%= link_to  show_user_path(user), :class => "opciones" do %>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    
                <% end %>
                <%= link_to  edit_user_path(user),remote: true,  :class => "opciones" do %>
                    
                    <i class="fa fa-pencil" aria-hidden="true"></i>

                <% end %>
                <%= link_to  delete_user_path(user),  remote: true,method: :delete, data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>

                    
                <% end %>


   
        </td>
       
      </tr>
      
    <% end %>