<div class = "row title-table">
   <div class = "col-md-10">
      <p >Usuarios</p>
   </div>
   <div class = "col-md-2">
      <%= link_to 'Nuevo', new_user_path, remote: true, class: "btn btn-primary"  if current_user.rol == "SuperAdmin" %>
   </div>
</div>
<div class = "row">
   <div class = "col-md-6">
      <div class="form-group">
         <%= form_tag(users_index_path, :method => "get", id: "search-form") do %>
         <%= text_field_tag :search, params[:search], placeholder: "Buscar", class: "form-control search1" %>
         <%= submit_tag "Search", :class => "btn btn-primary" %>
         <% end %>
      </div>
   </div>
   <div class = "col-md-6">
      <%= will_paginate @users%>
   </div>
</div>
<div class = "row">
   <table class="table">
      <thead>
         <tr class = "tr-table">
            <th></th>
            <th>Id </th>
            <th>
               <%= render partial: "options", locals: {row: "email", tipo1: "asc",tipo2: "desc"} %>
               Email 
            </th>
            <th>adminid</th>
            <th><%= render partial: "options", locals: {row: "rol", tipo1: "asc",tipo2: "desc"} %>rol</th>
            <th><%= render partial: "options", locals: {row: "name", tipo1: "asc",tipo2: "desc"} %>Nombres</th>
            <th colspan="3"></th>
         </tr>
      </thead>
      <tbody class = "tbody">
         <%= render "rows" %>
      </tbody>
   </table>
</div>