<%=@accion_msg[0]%>



<hr>
 <%= form_for(@riesgo ) do |f| %>
      <div class="alert alert-danger" style="display:none">
         <ul>
         </ul>
      </div>
               <div class="row funkyradio">
                                <div class="col-md-6 ">

                       <div class="col-md-12" style="padding-left:0px;">
                           <p style="margin-bottom:0px; "><strong>Tipo</strong></p>

                       </div>
                       <div class="col-md-6 funkyradio-success" style="padding-left: 0px;">
                       <%= f.radio_button :risk_type, "Proceso", class: "scorrecion tipo-riesgo" , id:"radio-proceso", checked: "checked" %>
                          <%= f.label "Proceso" ,for: "radio-proceso" %>
                          
                       </div>
                      <div class="col-md-6 funkyradio-success">
                              <%= f.radio_button :risk_type, "SST" ,class: "scausa tipo-riesgo" ,id: "radio-sst"%>
                              <%= f.label "SST", class: "lb1" ,for: "radio-sst"%>

                      </div>
   
                        
         </div> 
           </div>  
           <br> 
         <div class="row">
                    <div class="col-md-6">
                   
                    
                       <%  @risk_sources = RiskSource.where(admin_user: current_user.admin_user)%>
                     
                     </span>  
                          <div class="form-group">
                          
                      
                            <%= f.label "Fuente de Riesgo" %>
                               <%= link_to  risk_source_form_path("riesgo"), remote: true do  %>
                               <i class="fa fa-plus" style="font-size: 16px;color:#0DB49B" aria-hidden="true"></i>
                               <%end%> 
                               <span class="form_risk">
                                 <%= render "riesgos/risk_source/risk_source" , f: f %>
                               </span> 

                        </div>
               </div>
               <div class="col-md-6">
                     
                     
                         <div class="form-group">
                          
                           <%= f.label "Clasificacion" %>
                           <%= f.select :classification_risk_id,    get_classification_risk.map { |u| [u.name, u.id] },{ include_blank: false },{ class: 'chosen-select form-control'  }%><br>

                        </div>
               </div>
            
         </div>
         <div class="row">
                  <div class="col-md-6">
                       <div class="form-group">
                           <%= f.label "Proceso" %>
                           <%= f.select :proceso_id,    get_procesos.map { |u| [u.name, u.id] },{ include_blank: false },{ class: 'chosen-select form-control'  }%>
                        </div>
                  </div>
                   <div class="col-md-6 funkyradio">

                       <div class="col-md-12" style="padding-left:0px;">
                           <p style="margin-bottom:0px; "><strong>Contexto</strong></p>

                       </div>
                       <div class="col-md-6 funkyradio-success" style="padding-left: 0px;">
                       <%= f.radio_button :context, "Interno", class:"scorrecion check" , id:"radio-interno", checked: "checked" %>
                          <%= f.label "Interno" ,for: "radio-interno" %>
                          
                       </div>
                      <div class="col-md-6 funkyradio-success">
                              <%= f.radio_button :context, "Externo" ,class: "scausa check" ,id: "radio-externo"%>
                              <%= f.label "Externo", class: "lb1" ,for: "radio-externo"%>

                      </div>
   
                        
         </div>  
       
            <div class="row">
               <div class="col-md-12">
                       <div class="form-group">
                           <%= f.label "Descripcion" %>
                           <%= f.text_area :descripcion,  class: "form-control area required", :title => "Es un Campo Obligatorio" %>
                       </div>
               </div>
             
            
         </div>

          <div class="row funkyradio">

               <div class="col-md-12 ">
                       <p><strong>Tratamiento</strong></p>
                  
                       <div class="row tratamiento procesos">
                           <div class="col-md-6" style="padding-left: 0px; ">
                                  <div class="funkyradio-success">
                                     <%= f.radio_button :treatment, "Eludir" , id: "radio1", class: "radio-nd" , checked: "checked" %>
                                     <%= f.label "Eludir", class: "lb1" , for: "radio1" %> 
                                  </div> 
                                <span>No proseguir con la actividad riesgosa (!No siempre es posible !)</span>
                           </div>
                            <div class="col-md-6" style="padding-left:  ">
                             <div class="funkyradio-success">
                              <%= f.radio_button :treatment, "Transferir" ,class: "scausa check" , id: "radio2"%>
                              <%= f.label "Transferir", class: "lb1" , for: "radio2"%>
                              </div> <span>(Que otra parte soporte parte del riesgo (Pensar en que nuevos riesgos ocasiona este cambio)</span>
                           </div>
                     </div>
                     <div class="row tratamiento procesos">
                            <div class="col-md-6" style="padding-left: 0px;">
                             <div class="funkyradio-success">
                              <%= f.radio_button :treatment, "Reducir", class:"scorrecion check", id: "radio3" %>
                               <%= f.label "Reducir" ,for: "radio3"%>
                              </div>
                               <span>( Tomar medidas tendientes a reducir la probabilidad de ocurrencia y/o impacto, (No siempre implica costos financieros adicionales, incluso puede ahorrar dinero)</span>
                           </div>
                            <div class="col-md-6">
                               <div class="funkyradio-success">
                              <%= f.radio_button :treatment, "Asumir" ,class: "scausa check" , id: "radio4"%>
                               <%= f.label "Asumir", class: "lb1", for: "radio4" %>
                               </div><span>(Aceptar el riesgo inherente (!Pero conociéndolo!)</span>
                           </div>
                          
                       </div>

                       <!-- TRATAMIENTO PARA SST -->
                        <div class="row tratamiento sst">
                           <div class="col-md-6" style="padding-left: 0px; ">
                                  <div class="funkyradio-success">
                                     <%= f.radio_button :treatment, "Eliminación" , id: "radio5", class: "radio-nd" %>
                                     <%= f.label "Eliminación", class: "lb1" , for: "radio5" %> 
                                  </div> 
                                <span>Elimine el peligro del lugar de trabajo, tarea, proceso, método o material.</span>
                           </div>

                            <div class="col-md-6" style="padding-left:  ">
                             <div class="funkyradio-success">
                              <%= f.radio_button :treatment, "Sustitución" ,class: "scausa check" , id: "radio6"%>
                              <%= f.label "Sustitución", class: "lb1" , for: "radio6"%>
                              </div> <span>Sustituya la actividad, el proceso, el material o la sustancia por una menos peligrosa.</span>
                           </div>
                     </div>
                     <div class="row tratamiento sst">
                            <div class="col-md-6" style="padding-left: 0px;">
                             <div class="funkyradio-success">
                              <%= f.radio_button :treatment, "Ingeniería", class:"scorrecion check", id: "radio7" %>
                               <%= f.label "Ingeniería" ,for: "radio7"%>
                              </div>
                               <span>Aislé el peligro usando ayudas mecánicas, barreras, guardas, sistema de ventilación y aislamiento durante el tiempo de operación.</span>
                           </div>
                            <div class="col-md-6">
                               <div class="funkyradio-success">
                              <%= f.radio_button :treatment, "Administración" ,class: "scausa check" , id: "radio8"%>
                               <%= f.label "Administración", class: "lb1", for: "radio8" %>
                               </div><span>Establezca políticas, procedimientos, prácticas del trabajo y programas de entrenamiento para reducir la exposición al riesgo.</span>
                           </div>
                           <div class="col-md-6" style="padding-left: 0px;">
                               <div class="funkyradio-success">
                              <%= f.radio_button :treatment, "EPP" ,class: "scausa check" , id: "radio9"%>
                               <%= f.label "EPP", class: "lb1", for: "radio9" %>
                               </div><span>Proporcione el EPP adecuado para proteger a las personas contra peligros</span>
                           </div>
                          
                       </div>
                       <!-- TRATAMIENTO PARA SST -->       
                              
                               
                             
                             
   
                </div>


          </div>
          
          <%=f.hidden_field :accion_id , value: @accion_msg[1] if !@accion_msg[1].blank?%>

       
        
        
         <br>
         <hr>
         <div class="form-group text-center">
            <%= f.submit "Guardar", class: 'btn btn-primary btnpad' %>
            <%= link_to "Cancelar", riesgos_path, class: "btn btn-default" %>
         </div>
 <% end %>


 <style>

 .tratamiento
 {
    
    margin-bottom: 10px;
 }
 .tratamiento label
 {
  color: #0db497 !important;
 }
 </style>




 <style type="text/css" media="screen">



.funkyradio div {

  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.error{
  color: red !important;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

</style>

<script>
   $(document).ready(function(){
    
    if ("<%=action_name%>" == "new")
    {
    showProceso()
    }

    if ("<%=action_name%>" == "edit")
    { 
      console.log("<%=@riesgo.risk_type%>")
       if ("<%=@riesgo.risk_type%>" == "SST")
      {
          
          $('.procesos').hide();
          $('.sst').show();
          console.log("holaa")
      }
      if ("<%=@riesgo.risk_type%>" == "Proceso")
      {
           $('.procesos').show();
          $('.sst').hide();
          console.log("hola1")
      }
    }




    $('.tipo-riesgo').on('change', function(){
      if ($(this).val() == "SST")
      {
          
             showSST();
      }
      else
      {
          showProceso();
      }
    })
    

    function showSST()
    {
          $('.procesos').hide();
          $('.sst').show();
          $('#radio5').prop('checked',true);
          $('#radio1').prop('checked',false);

    }

    function showProceso()
    {
          $('.procesos').show();
          $('.sst').hide();
          $('#radio1').prop('checked',true);
          $('#radio5').prop('checked',false);
    }


     $('#new_riesgo').validate();
     $('#peligro').val(<%=@peligro%>);
     console.log()
    });
</script>