<div id='cssmenu1'>
  <ul>
    <li><%= link_to "Inicio ",  root_path, :class => "linka" %></li>
    <li class="active"><%= link_to "Riesgos", riesgos_path %></li>
  </ul>
</div>
<br><br>

<div class = "row title-table">
   <div class = "col-md-6"  style="padding-left: 0px;">
      <p>Riesgos <span class="label label-primary"><%=@riesgos.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_riesgo_info @riesgos1, :entry_name => 'Riesgos' %></span> </p>


     
   </div>


     <div class = "col-md-4 paginate text-left title-table1">
       
     </div>


   <div class = "col-md-2">
      <%= link_to 'Nuevo', new_riesgo_path, class: "btn btn-primary", style: "float: right;" if current_user.role == "SuperAdmin"  || current_user.rol.configuracion %>
   </div>
</div>
<br>

<table class="table">
  <thead>
    <tr class = "tr-table">
      <th>User</th>
      <th>Admin user</th>

      <th>Descripcion</th>
      <th>Clasificacion</th>
      <th>Fuente de Riesgo</th>
      <th>Nivel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riesgos.each do |riesgo| %>
      <tr>
        <td><%= riesgo.user_id %></td>
        <td><%= riesgo.admin_user %></td>

        <td><%= riesgo.descripcion %></td>
        <td><%= riesgo.classification_risk.name %></td>
         <td><%=riesgo.risk_source.name if riesgo.risk_source  %></td>
        <td><%= riesgo.nivel %></td>
        <td><%= link_to 'Mostrar', riesgo %></td>
        <td><%= link_to 'Editar', edit_riesgo_path(riesgo) %></td>
        <td><%= link_to 'Eliminar', riesgo, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <div class="row">
        <div class = "col-md-12 paginate text-center title-table1">
            <%= will_paginate @riesgos1%>
        </div>
   </div>

