         <div class="row">
            <div class="col-md-3 text-center">
               <strong>Fecha de creacion Riesgo</strong><br><%= get_date(riesgo.created_at) %>
            </div>
            <div class="col-md-3 text-center">
               <strong>Proceso</strong> <br> <%=riesgo.proceso.name if riesgo.proceso %>
            </div>
            <div class="col-md-2 text-center">
               <strong>Contexto</strong> <br><%=riesgo.context%> 
            </div>
            <div class="col-md-2 text-center">
               <strong>Clasificacion</strong> <br><%=riesgo.classification_risk.name%> 
            </div>
            <div class="col-md-2 text-center">
                <strong>Fuente de Riesgo</strong> <br><%=riesgo.risk_source.name%> 
            </div>
         </div>
         <hr>
         <div class="row" style="margin-bottom:20px;">
            <div class="col-md-8" style="font-size:15px;">
               <strong>Tratamiento</strong> <br><strong><%=riesgo.treatment.upcase%></strong> <%=get_tratamiento(riesgo.treatment)%>
            </div>
            <div class="col-md-2 text-center" style="font-size:15px;">
               <strong>Valor del NR</strong> <br><%= !riesgo.risk_value.nil? ? riesgo.risk_value : "Sin Valorar" %>
            </div>
            <div class="col-md-2 text-center" style="font-size:15px;color:<%=get_riesgo(riesgo.risk_value)[2] if !riesgo.risk_value.nil?%>;">
               <strong style=""> Nivel del Riesgo</strong> <br><%= !riesgo.risk_value.nil? ? get_riesgo(riesgo.risk_value)[1] : "Sin Valorar" %>
            </div>
         </div>
