<p id="notice"><%= notice %></p>

<p>
  <strong>Controls:</strong>
  <%= @valoration_risk.controls %>
</p>

<p>
  <strong>Np value:</strong>
  <%= @valoration_risk.np_value %>
</p>

<p>
  <strong>Ne value:</strong>
  <%= @valoration_risk.ne_value %>
</p>

<p>
  <strong>Nd value:</strong>
  <%= @valoration_risk.nd_value %>
</p>

<p>
  <strong>Np text:</strong>
  <%= @valoration_risk.np_text %>
</p>

<p>
  <strong>Ne text:</strong>
  <%= @valoration_risk.ne_text %>
</p>

<p>
  <strong>Nd text:</strong>
  <%= @valoration_risk.nd_text %>
</p>

<p>
  <strong>Nc value:</strong>
  <%= @valoration_risk.nc_value %>
</p>

<p>
  <strong>Nc text:</strong>
  <%= @valoration_risk.nc_text %>
</p>

<p>
  <strong>Probability indicator:</strong>
  <%= @valoration_risk.probability_indicator %>
</p>

<p>
  <strong>Impact indicator:</strong>
  <%= @valoration_risk.impact_indicator %>
</p>

<p>
  <strong>Nr value:</strong>
  <%= @valoration_risk.nr_value %>
</p>

<p>
  <strong>Risk level:</strong>
  <%= @valoration_risk.risk_level %>
</p>

<p>
  <strong>User:</strong>
  <%= @valoration_risk.user_id %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @valoration_risk.admin_user %>
</p>

<p>
  <strong>Riesgo:</strong>
  <%= @valoration_risk.riesgo_id %>
</p>

<p>
  <strong>Next valoration:</strong>
  <%= @valoration_risk.next_valoration %>
</p>

<p>
  <strong>Valoration date:</strong>
  <%= @valoration_risk.valoration_date %>
</p>

<p>
  <strong>Analysis:</strong>
  <%= @valoration_risk.analysis %>
</p>

