<br>
<div class="row">
   <div class="col-md-10 col-md-offset-1">
      <%= nested_form_for @report do |f| %>
      <% if report.errors.any? %>
      <div id="error_explanation">
         <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>
         <ul>
            <% report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
         </ul>
      </div>
      <% end %>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Proceso" %><br>
               <%= f.select :source_id,
                  @source.map { |u| [u.name, u.id] },
                             { include_blank: true },
                             { class: 'chosen-select form-control ch'  }
                  %>
            </div>
            <div class="form-group">
               <%= f.label "Asignada a" %><br>
               <%= f.select :employed_id,
                  @employed.map { |u| ["#{u.first_name} #{u.second_name} ", u.id] },
                             { include_blank: true },
                             { class: 'chosen-select form-control ch'  }
                  %>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Otros interesados" %><br>
               <%= f.select :employed_ids, @employed.collect {|c| ["#{c.first_name} #{c.second_name}", c.id]}, {prompt: false}, {:multiple => true,class: 'form-control chosen-select'} %>
            </div>
            <div class="form-group">
               <%= f.label "Proceso" %><br>
               <%= f.select :proceso_id,
                  @procesos.map { |u| ["#{u.name},#{u.description} ", u.id] },
                             { include_blank: true },
                             { class: 'chosen-select form-control ch'  }
                  %>
            </div>
         </div>
      </div>
      <hr>
       <br>
       <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Description" %>
               <%= f.text_area :description,  class: "form-control area" %>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Requisito" %>
               <%= f.text_area :requisito,  class: "form-control area" %>
            </div>
         </div>
      </div>
      
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Evidencia" %>
               <%= f.text_area :evidencia ,  class: "form-control comment area"%>
            </div>
         </div>
         <div class="col-md-6">
            
         </div>
      </div>
       <hr>
       <br>
      <div class="row ">
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Tipo de NC</label>
               <br>
               <%= f.radio_button :nc_type, 'Real' %>
               <%= f.label :contactmethod, 'Real', :value => 'Real' %>
               <%= f.radio_button :nc_type, 'Potencial' %>
               <%= f.label :contactmethod, 'Potencial', :value => 'Potencial' %>
            </div>
            <div class="form-group">
               <label for="">¿Acciones?</label><br>
               <%= f.radio_button :accion, 'Si', class: 'rb' %>
               <%= f.label :contactmethod, 'Si', :value => 'Si' %>
               <%= f.radio_button :accion, 'No', class: 'rb' %>
               <%= f.label :contactmethod, 'No', :value => 'No' %>
            </div>
            <div class="form-group just">
               <div class="alert alert-warning" role="alert">
                  Justifica por que este hallazgo no necesito Acciones
               </div>
               <%= f.label "Justificacion" %>
               <%= f.text_area :justificacion ,  class: "form-control" %>
            </div>
         </div>
      </div>
      <hr>
       <br>
      <div class="row numeral_report">
         <div class="col-lg-12">
            <div class="col-lg-10">
               <h3 class = "titulor" style = "margin :0px 0px 5px 0;">Numerales de Norma</h3>
            </div><br><br><br>
            <%= f.fields_for :numeral_reports do |attachment_form|  %>
            <div class="clearfix">
               <div class="col-md-12" >
                  
                  <div class="col-md-1" style = "text-align:right" >
                     <%= attachment_form.link_to_remove do %>
                     <i style = "color:#e74b09;font-size: 20px" class="fa fa-trash" aria-hidden="true"></i>
                     <% end %>
                  </div>
                  <div class="col-md-5 pad" >
                     <div class="form-group">
                        <%= attachment_form.select :numeral_id,
                           @numerals.map { |u| ["#{u.norma.name}: #{u.numeral}-#{u.name} ", u.id] },
                                      { include_blank: true },
                                      { class: 'chosen-select form-control ch'  }
                           %>
                     </div>
                     <script >
                        $(function() {
                          return $('.chosen-select').chosen({
                            allow_single_deselect: true,
                            no_results_text: 'No results matched',
                            width: '350px'
                          });
                        });
                        
                        // ---
                        // generated by coffee-script 1.9.2
                        /*$('.comment').change(function(){
                            $.get("/normass/7" , function(data) 
                                                {
                                                  alert("<%=@procesos.first.name%>")
                                    console.log(data[1].norma_name)
                                    $('.pad').append('<%= j render "as" %>');
                        
                                                });
                        
                        });*/
                        
                     </script>
                  </div>
                  <div class="col-md-6" >
                     <div class="form-group">
                        <%= attachment_form.text_field :comment,  class: "form-control comment" %>
                     </div>
                  </div>
               </div>
            </div>
            <%end%>
         </div>
         <br>
         <br>
         <%= f.link_to_add "Add Produt Images", :numeral_reports, :class => 'btn btn-primary top10', id:"add-element"  %>
      </div>
      <br>
      <br>
      <br>
      <%= f.hidden_field :admin_user , :value => current_user.admin_user %>
      <%= f.hidden_field :user_id ,:value =>  current_user.id %>
      <div class="actions">
         <%= f.submit "crear" , class: 'btn btn-primary' %>
      </div>
      <% end %>
   </div>
</div>