
<hr>
<div class="row">
   <div class="col-md-10 col-md-offset-1">
      <%= nested_form_for @report do |f| %>
      <% if report.errors.any? %>
      <div id="error_explanation">
         <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>
         <ul>
            <% report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
         </ul>
      </div>
      <% end %>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Fuente" %><br>
               <%= f.select :source_id,
                 get_sources.map { |u| [u.name, u.id] },
                             { include_blank: true },
                             { class: 'chosen-select form-control ch source'  }
                  %>
            </div>

            
            <div class="form-group">
               <%= f.label "Reporta" %><br>
               <%= f.select :employed_reporta,
                  get_employeds.map { |u| ["#{u.first_name} #{u.second_name} ", u.id] },
                             { include_blank: true },
                             { class: 'chosen-select form-control ch'  }
                  %>
            </div>
            <div class="form-group">
               <%= f.label "Asignada a" %><br>
               <%= f.select :employed_id,
                  get_employeds.map { |u| ["#{u.first_name} #{u.second_name} ", u.id] },
                             { include_blank: true },
                             { class: 'chosen-select form-control ch'  }
                  %>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Otros interesados" %><br>
               <%= f.select :employed_ids, get_employeds.collect {|c| ["#{c.first_name} #{c.second_name}, #{c.email}", c.id]}, {prompt: false}, {:multiple => true,class: 'form-control chosen-select mn'} %>
            </div>
            <div class="form-group">
               <%= f.label "Proceso" %><br>
               <%= f.select :proceso_id,
                  get_procesos.map { |u| ["#{u.name}", u.id] },
                             { include_blank: true },
                             { class: 'chosen-select form-control ch'  }
                  %>
            </div>
         </div>
      </div>
      <hr>
       <br>
       <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Description" %>
               <%= f.text_area :description,  class: "form-control area" %>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Requisito Legal y/o Interno" %>
               <%= f.text_area :requisito,  class: "form-control area" %>
            </div>
         </div>
      </div>
      
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <%= f.label "Evidencia que soporta el Reporte" %>
               <%= f.text_area :evidencia ,  class: "form-control comment area"%>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
    <%= f.label "Adjuntar Evidencia" %>
    <%= f.file_field :archivo,  class: "form-control" %>
  </div>
         </div>
      </div>
      <br>
      <hr>
      <div class="rowt">
         <div class="col-lg-6">

<div class="form-group">
               <%= f.label "Numerales de Norma" %><br>
               <%= f.select :numeral_ids, get_numerals.collect {|b| ["#{b.norma.name}: #{b.numeral} - #{b.name}", b.id]}, {prompt: false}, {:multiple => true,class: 'form-control chosen-select mn'} %>
            </div>
                   </div>
 <div class="col-md-6">
            <div class="form-group tiponc">
               <label for="">Tipo de NC</label>
               <br>
                 <label class="radio-inline">
               <%= f.radio_button :nc_type, 'Real' %>Real
               </label>
                <label class="radio-inline">
               <%= f.radio_button :nc_type, 'Potencial' %>Potencial
               </label>
            </div>
            <div class="form-group acc1">
               <label for="">¿Acciones?</label><br>
               <label class="radio-inline">
               <%= f.radio_button :accion, 'Si', class: 'rb' %>Si
               </label>
              <label class="radio-inline">
               <%= f.radio_button :accion, 'No', class: 'rb' %>No
            </div>
            <div class="form-group just">
               <div class="alert alert-warning" role="alert">
                  Justifica por que este hallazgo no necesito Acciones
               </div>
               <%= f.label "Justificacion" %>
               <%= f.text_area :justificacion ,  class: "form-control area" %>
            </div>
         </div>
         

         
      </div>
       <hr>
       <br>
      <div class="row ">
        
      </div>
      <hr>
      
     
      <%= f.hidden_field :admin_user , :value => current_user.admin_user %>
      <%= f.hidden_field :user_id ,:value =>  current_user.id %>
      <div class="actions text-center">
         <%= f.submit "Guardar" , class: 'btn btn-primary btn-lg btnpad' %>
      </div>
      <br>
      <br>
      <% end %>
   </div>
</div>


<script>
$(document).ready(function(){
  if ("<%=action_name%>" != "edit")
{

 
$('.source').val("<%=@es.id%>");
var b = $('.source').val();
get_source(b);

}
else
{
  var c = "<%=@report.source_id%>";
 get_source(c);
}
});


function get_source(b)
{

  $.get("/sourcee/" + b, function(data) {
        if (data.state) {
            $('.tiponc').fadeIn();
            $('.acc1').fadeOut();
        } 
        else {
            $('.tiponc').fadeOut();
            if (data.accion && data.puede_ac)
            {
              $('.acc1').fadeIn();
              
            }
            else
            {
              $('.acc1').fadeOut();
            }
        }

    });
}




$('.source').change(function() {

    $.get("/sourcee/" + $('.source').val(), function(data) {

        if (data.state) {
            $('.tiponc').fadeIn();
            $('.acc1').fadeOut();
        } 
        else {
            $('.tiponc').fadeOut();
        
            if (data.accion && data.puede_ac)
            {
              $('.acc1').fadeIn();
              alert("enter")
            }
            else
            {
              $('.acc1').fadeOut();
            }
        }

    });
})
    
 


</script>