<!--

 <ul class="nav nav-tabs" role="tablist">
               <% menu_hallazgo 
                  if show_reports %>
               <li role="presentation" class="<%=@menu_a[0]%>">  <%= link_to reports_abiertos_path,:action => :abiertos,:class => "#{@menu_a[0]}" do %>
                  <i class="fa fa-building-o" aria-hidden="true"></i>
                  <span class="hidden-xs">Reportes Abiertos</span>
                  <% end %>
               </li>
               <li role="presentation" class="<%=@menu_a[1]%>">  <%= link_to reports_cerrados_path,:action => :cerrados,:class => "#{@menu_a[1]}" do %>
                  <span class="fa fa-users"></span>
                  <span class="hidden-xs">Reportes Cerrados</span>
                  <% end %>
               </li>
               <li role="presentation" class ="<%=@menu_a[2]%>">     
                  <%= link_to reports_path, :class => "#{@menu_a[2]}" do %>
                  <span class="fa fa-users"></span>
                  <span class="hidden-xs">Todos</span>
                  <% end %>
               </li>
               <li role="presentation" class ="<%=@menu_a[3]%>">     
                  <%= link_to reportst_calendar_path, :class => "#{@menu_a[3]}" do %>
                  <i class="fa fa-calendar" aria-hidden="true" style = "display:block !important;font-size:16px"></i>
                  <% end %>
               </li>
               <% else%>
               <% end %>
            </ul>
            
<br>-->

<div id='cssmenu1' style="margin-bottom: 20px;">
  <ul>
    <li><%= link_to "Inicio ",  root_path, :class => "linka" %></li>
    <li class="active"><a href='#'>Reportes</a></li>
  </ul>
</div>



<div class = "row title-table">
   <div class = "col-md-10" style="padding-left: 0px;">
      <p>Reportes <span class="label label-primary"><%=@reports.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @reports, :entry_name => 'Reporte' %></span> </p>


     
   </div>
   <div class = "col-md-2">
      <div class="col-md-12 text-right">
         <% if action_name == "index"%>
              <%if !params[:commit]%> 
              <%= link_to reports_path + "?filtros=true", class: "linka canf1" do %>
              <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/222696-200.png" style="width:30px;" alt="">
              <%end%>
              <%end%>
         <%elsif action_name == "abiertos"%>
              <%if !params[:commit]%> 
              <%= link_to reports_abiertos_path + "?filtros=true", class: "linka canf1" do %>
              <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/222696-200.png" style="width:30px;" alt="">
              <%end%>
              <%end%>
         <%elsif action_name == "cerrados"%>
              <%if !params[:commit]%> 
              <%= link_to reports_cerrados_path + "?filtros=true", class: "linka canf1" do %>
              <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/222696-200.png" style="width:30px;" alt="">
              <%end%>
              <%end%>     
            <%end%>


            <% if action_name == "index"%>
              <%if ( params[:commit] || params[:filtros] ) %>
              <%= link_to reports_path,  class: "linka canf" do %>
              <img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Data-Clear-Filters-icon.png" style="width:30px;" alt="">
              <%end%>
              <%end%>
         <%elsif action_name == "abiertos"%>
              <%if ( params[:commit] || params[:filtros] ) %>
              <%= link_to reports_abiertos_path, class: "linka canf" do %>
              <img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Data-Clear-Filters-icon.png" style="width:30px;" alt="">
              <%end%>
              <%end%>
         <%else%>
              <%if ( params[:commit] || params[:filtros] ) %>
              <%= link_to reports_cerrados_path , class: "linka canf" do %>
              <img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Data-Clear-Filters-icon.png" style="width:30px;" alt="">
              <%end%>
              <%end%>     
            <%end%>
         </div>
         </div>     
 

   
</div>

























<div class="busqueda" style = "display:none;">
<%= form_tag(@route, :method => "get", id: "search-form", class: "form-inline form1") do %>
<div class="row"> 

  



   <div class="col-md-3">
   
<%= text_field_tag :search0, params[:search0], placeholder: "Fecha Desde",class: "form-control datepicker shi1 sh0" %><%= text_field_tag :search, params[:search], placeholder: "Fecha Hasta",class: "form-control datepicker1 shi1 sh00" %>

<script>
   $(function() {
   $.datepicker.regional['es'] = {
   closeText: 'Cerrar',
   prevText: '< Ant',
   nextText: 'Sig >',
   currentText: 'Hoy',
   monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
   monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
   dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
   dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
   dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
   weekHeader: 'Sm',
   dateFormat: 'dd/mm/yy',
   firstDay: 1,
   isRTL: false,
   showMonthAfterYear: false,
   yearSuffix: ''
   };
   $.datepicker.setDefaults($.datepicker.regional['es']);
   $('.datepicker').datepicker({
     altField: "#actualDate",
     changeMonth: true,
     changeYear: true,
     dateFormat: 'mm-dd-yy'
   });
   $.datepicker.setDefaults($.datepicker.regional['es']);
   $('.datepicker1').datepicker({
     altField: "#actualDate",
     changeMonth: true,
     changeYear: true,
      dateFormat: 'mm-dd-yy'
   });
   
   });
   
   
</script>
</div>
 <div class="col-md-3">
<%=select_tag 'search7', options_for_select(get_source_parents.collect{ |u| [u.name, u.id, ] }),{:class => "form-control sh7 filter shi input_big", include_blank: "Fuente" , placeholder: "hola"}%>
</div>
 <div class="col-md-3">
<%=select_tag 'search2', options_for_select(get_sources.collect{ |u| [u.name, u.id, ] }),{:class => "form-control shs filter shi input_big", include_blank: "Tipo de Reporte" , placeholder: "hola"}%>
</div>


<div class="col-md-12">
<br>
</div>

 <div class="col-md-3">
<%=select_tag 'search3', options_for_select(get_employeds.collect{ |u| ["#{u.first_name} #{u.first_last_name}", u.id, ] }),{:class => "form-control sh1 filter shi input_big", include_blank: "Responsable" , placeholder: "hola"}%>

</div>
 <div class="col-md-3">
<%=select_tag 'search4', options_for_select(get_procesos.collect{ |u| [u.name, u.id, ] }),{:class => "form-control shs2 filter shi input_big", include_blank: "Proceso" , placeholder: "hola"}%>
</div>
 <div class="col-md-3">
<%=select_tag 'search6', options_for_select(get_clientes.collect{ |u| [u.name, u.id, ] }),{:class => "form-control sh4 filter shi input_big", include_blank: "Parte Interesada" , placeholder: "hola"}%>
</div>
 <div class="col-md-3">
<%= text_field_tag :search5, params[:search5], placeholder: "Nombre del Reporte", class: "form-control shi sh3 input_big" %>
</div>

<%= submit_tag "Buscar", :class => "btn btn-primary submit-btn", style: "margin-left:10px;padding:3px 20px;" %>
<% end %>

</div>
</div>
<div class = "row">

<%= form_tag delete_reports_path, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda quel registro se borrara permanentemente',
              'image-url': ''} do %>
<p><%= submit_tag "Eliminar", name: 'eliminar', class: "btn btn-danger submit-btn1" %></p>

<div class="descnum3">
  

<table class="table table-hidden">
   <thead>
      <tr class = "tr-table">
         <th><%= check_box_tag "all_id", 0 %></th>
          <th ></th>
      
          <%if action_name == "index"%> <th ></th><%end%>
         <th style = "width:8%" class="text-left">Creacion</th>
         <th style = "width:10%" class="text-left">Codigo</th>
         <th  class="text-left" style = "width:30%">Reporte</th>
         <th style = "width:15%" class="text-left">Compromiso</th>
         <%if action_name == "cerrados" || action_name == "index" %>
          <th style = "width:10%" class="text-left">Entrega</th>
          <th style = "width:5%" class="text-left">¿Cumplio?</th>
          <%end%>

          <th style = "width:10%" class="text-left">Fuente</th>
         <th style = "width:10%" class="text-left">Tipo de Reporte</th>
         <th style = "width:10%" class="text-left">Responsable</th>
         <th style = "width:10%" class="text-left">Proceso</th>
         
         
         <th  class="text-left">Seguimientos</th>
         <th  class="text-left">Correcciones</th>
         <th  class="text-left">A.Causa</th>
         <th  class="text-left">Acciones</th>
         <th  class="text-left">Actividades</th>
         <th  class="text-left">Tareas</th>
         
         
        
      </tr>
   </thead>
   <tbody>
      <% @reports.each do |report| %>
      <tr>
         <td><%= check_box_tag "report_ids[]", report.id ,false ,class:"ck"%></td>


            <td><div class="dropdown sort">
  <a id="dLabel" href ="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fa fa-sort-desc" aria-hidden="true"></i>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
     <li><%= link_to  edit_report_path(report), :class => "opciones" do %>
         <i class="fa fa-pencil" aria-hidden="true"> </i> Editar
         <% end %></li>
           <li> <%= link_to  report,  method: :delete, class: "",data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda quel registro se borrara permanentemente',
              'image-url': ''}, :class => "opciones" do %>
         <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
         <% end %></li>
  </ul>
</div></td>
 <%if action_name == "index"%><td><%if report.state == "Abierto"  %>
         <i style = "font-size:20px"  class="fa fa-unlock" aria-hidden="true"></i>
         <%else%>
         <i  style = "font-size:20px" class="fa fa-lock" aria-hidden="true"></i>
         <%end%></td><%end%>
         <td><%= get_date(report.created_at) %></td>
          <td><%= link_to "#{report.codigo}", report, :class => "linka" %>
        </td>
       <td>
            
               <%= report.description %>
         </td>
         
        

        <%if action_name == "cerrados" || action_name == "index"%>
           <td  ><%= get_date(report.f_compromiso)%>
             
           </td>
           <%else%>
 <td  style = "background:<%=estado_contador(report.contador_seg)%>;color:white;text-align:center" >   
                   <strong>  <%=get_date(report.f_compromiso)%><br> <%= report.contador_seg < 0 ?  "Vencido" :  "Faltan"%> <%=report.contador_seg.abs%> días</strong></td>
          <%end%>






         <%if action_name == "cerrados" || action_name == "index"%>
          <td><%= get_date(report.f_real)%><%if report.change_cumplio%>
           <button class = "tip" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="<p><%=report.justificacion_cumplio%></p>">?</button><%end%> </td>
           <td class="text-center"><%= cumplio(report.cumplio).html_safe if report.state == "Cerrado"%></td>
          <%end%>

        <td><%= report.source_parent.name %></td>
         <td><%= report.source.name %></td>
         <td><%= Employed.find(report.employed_id).first_name %> <%= Employed.find(report.employed_id).first_last_name %></td>
        



         <td><%= report.proceso.name %></td>
           
        
         <td class="text-center"> <%=report.rseguimientos.count %></td>
       <td class="text-center"> <%=report.source.correccion ? get_state_report(report.source.correccion, report.id, "C") : get_state_report(report.source.correccion, report.id, "C").html_safe %></td>
       <td class="text-center"><%= report.source.causa ? get_state_report(report.source.causa, report.id, "AC") : get_state_report(report.source.causa, report.id, "AC").html_safe %></td>
       <td class="text-center"><%= report.source.accion ? get_state_report(report.source.accion, report.id, "ACC") : get_state_report(report.source.accion, report.id, "ACC").html_safe %></td>
       <td class="text-center"><%= report.source.accion ? get_state_report(report.source.accion, report.id, "ACT") : get_state_report(report.source.accion, report.id, "ACT").html_safe %></td>
       <td class="text-center"><%= report.source.task ? get_state_report(report.source.task, report.id, "T") : get_state_report(report.source.task, report.id, "T").html_safe %></td>
      </tr>
      <% end %>
   </tbody>
</table>
</div>

<% end %>









  <div class = "col-md-12 paginate text-center title-table1">
     
<%= will_paginate @reports%>
   </div>












</div>
<script>
   $(document).on('turbolinks:load',function() {
   
      
      
      /*
   
      $('.shs').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '100%',
            placeholder_text_single: "Tipo de Hallazgo",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });

      $('.sh7').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '100%',
            placeholder_text_single: "Fuente",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
   
      $('.sh4').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '100%',
            placeholder_text_single: "Parte Interesada",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
     
      
     
   
      $('.sh1').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '100%',
            placeholder_text_single: "Responsable",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
      
     
      
      $('.shs2').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '100%',
            placeholder_text_single: "Proceso",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
    
*/
    $('.chosen-container span').addClass("shi") ;
     }); 
   $('.shs').val("<%=params[:search2]%>") ;
   $('.shs2').val("<%=params[:search4]%>") ;
   $('.sh3').val("<%=params[:search5]%>") ;
   $('.sh7').val("<%=params[:search7]%>") ;
   $('.sh1').val("<%=params[:search3]%>") ;
   $('.sh4').val("<%=params[:search6]%>") ;
   $('.sh0').val("<%=params[:search0]%>") ;
   $('.sh00').val("<%=params[:search]%>") ;
      
     
      /*$('.filtrost').hide();
      if ("<%=params[:commit]%>" != "")
      {
      $('.filtrost').fadeIn();
      $('.filtros1').fadeOut();
      }
      
      $('.filtros1').click(function(){
      
      $('.filtrost').fadeIn();
      $('.filtros1').fadeOut();
      
      });*/
      
      
      
      
</script>
<style>
   .shi
   {
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   }
   .shi1
   {
   width: 60px;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
   text-align: center;
   }
   .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
</style>
<style>
   .btn-danger{background-color: #d9534f
   !important}
</style>
<script>
   $(document).on('turbolinks:load',function() {
      $('.btn-danger').hide();
      
      $('#all_id').click(function(){
      
        if ( $(this).is(':checked') )
        {
                $('.ck').prop('checked', true);
                $('.btn-danger').fadeIn();
                 $('td').css('background-color', 'whitesmoke');
           }
            else{
                $('.ck').prop('checked', false);
                $('.btn-danger').fadeOut();
                $('td').css('background-color', 'white');
             }
        });
      
      $('.ck').click(function(){
      
      if ( $(this).is(':checked') )
        {
                $('td').css('background-color', 'whitesmoke');
                $('.btn-danger').fadeIn();
           }
            else{
                $('td').css('background-color', 'white');
                $('.btn-danger').fadeOut();
             }
        });
      
    



   if ("<%=params[:filtros]%>" != "" ||  "<%=params[:commit]%>" != "")
   {
 $('.busqueda').show();
 $('.canf').show();
 $('.canf1').hide();

   }
   else
   {
    $('.busqueda').hide();
     $('.canf1').show();

   }

     



       });
   
   
      
     
</script>
<style>
  .seg
  {
    
    padding: 10px;
    color: gray;

    border: 1px solid #cecece;
  font-size: 13px;
     -webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.3s;
        border-bottom: 3px solid #ababab !important;
  }
  .seg:hover
  {
  
    box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
  }
  .input_big
  {
    width: 100% !important;
  }
</style>




