<div class="row" >
   <div class="col-md-12 ">
      <p><%= link_to "Inicio ",  root_path, :class => "linka" %> </p>
   </div>
</div>
<div class = "row title-table">
   <div class = "col-md-5">
      <p>Reportes <span class="label label-primary"><%=@reports.count%></span> <span style = "font-size:12px;margin-left:20px;"> <%= page_entries_info @reports, :entry_name => 'Reporte' %></span> </p>


     
   </div>
   <div class = "col-md-5 paginate text-left title-table1">
     
<%= will_paginate @reports%>
   </div>

   <div class = "col-md-2">
      <%= link_to 'Nuevo', new_report_path, class: "btn btn-primary"  if current_user.role == "SuperAdmin" || current_user.rol.report_crear %>
   </div>
</div>

<% if action_name == "index"%>
<%= (link_to "filtros", reports_path + "?filtros=true", class: "linka canf1") if !params[:commit]  %>
<%elsif action_name =="abiertos"%>
<%= (link_to "filtros", reports_abiertos_path + "?filtros=true", class: "linka canf1") if !params[:commit]  %>
<%else %>
<%= (link_to "filtros", reports_cerrados_path + "?filtros=true", class: "linka canf1") if !params[:commit]  %>
<%end%>
<div class="row busqueda" style = "display:none;">
   <div class="col-md-12">
   <%= form_tag(@route, :method => "get", id: "search-form", class: "form-inline form1") do %>
<%= text_field_tag :search0, params[:search0], placeholder: "Fecha Desde",class: "form-control datepicker shi1 sh0" %><%= text_field_tag :search, params[:search], placeholder: "Fecha Hasta",class: "form-control datepicker1 shi1 sh00" %>
<script>
   $(function() {
   $.datepicker.regional['es'] = {
   closeText: 'Cerrar',
   prevText: '< Ant',
   nextText: 'Sig >',
   currentText: 'Hoy',
   monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
   monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
   dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
   dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
   dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
   weekHeader: 'Sm',
   dateFormat: 'dd/mm/yy',
   firstDay: 1,
   isRTL: false,
   showMonthAfterYear: false,
   yearSuffix: ''
   };
   $.datepicker.setDefaults($.datepicker.regional['es']);
   $('.datepicker').datepicker({
     altField: "#actualDate",
     changeMonth: true,
     changeYear: true,
     dateFormat: 'mm-dd-yy'
   });
   $.datepicker.setDefaults($.datepicker.regional['es']);
   $('.datepicker1').datepicker({
     altField: "#actualDate",
     changeMonth: true,
     changeYear: true,
      dateFormat: 'mm-dd-yy'
   });
   
   });
   
   
</script>
<%=select_tag 'search2', options_for_select(get_sources.collect{ |u| [u.name, u.id, ] }),{:class => "form-control sh filter", include_blank: true , placeholder: "hola"}%>
<%=select_tag 'search3', options_for_select(get_employeds.collect{ |u| ["#{u.first_name} #{u.first_last_name}", u.id, ] }),{:class => "form-control sh1 filter", include_blank: true , placeholder: "hola"}%>
<%=select_tag 'search4', options_for_select(get_procesos.collect{ |u| [u.name, u.id, ] }),{:class => "form-control sh2 filter shi", include_blank: true , placeholder: "hola"}%>
<%= text_field_tag :search5, params[:search5], placeholder: " Descripcion", class: "form-control shi sh3" %>

<%= submit_tag "Buscar", :class => "btn btn-primary submit-btn", style: "margin-left:10px;padding:3px 20px;" %>
<% end %>
   </div>
</div>

<div class = "row">
<% if action_name == "index"%>
<%= (link_to "Cancelar filtros", reports_path, class: "linka canf") if (params[:commit] || params[:filtros])  %>
<%elsif action_name =="abiertos"%>
<%= (link_to "Cancelar filtros", reports_abiertos_path, class: "linka canf") if (params[:commit] || params[:filtros]) %>
<%else %>
<%= (link_to "Cancelar filtros", reports_cerrados_path, class: "linka canf") if (params[:commit] || params[:filtros])  %>
<%end%>
<%= form_tag delete_reports_path, method: :delete, data: { confirm: 'Esta seguro de eliminar estos Reportes' } do %>
<p><%= submit_tag "Eliminar", name: 'eliminar', class: "btn btn-danger submit-btn1" %></p>

<!--<table class="table">
   <thead>
      <tr class = "tr-table">
         <th><%= check_box_tag "all_id", 0 %></th>
         <th style = "width:13%">F Creacion</th>
         <th style = "width:13%">Fuente</th>
         <th style = "width:13%">Responsable</th>
         <th style = "width:13%">Proceso</th>
         <th style = "width:30%">Descripcion</th>
         <th style = "width:10%">Estado</th>
         <th style = "width:10%"></th>
      </tr>
   </thead>
   <tbody>
      <% @reports.each do |report| %>
      <tr>
         <td><%= check_box_tag "report_ids[]", report.id ,false ,class:"ck"%></td>
         <td><%= get_date(report.created_at) %></td>
         <td><%= report.source.name %></td>
         <td><%= Employed.find(report.employed_id).first_name %> <%= Employed.find(report.employed_id).first_last_name %></td>
         <td><%= report.proceso.name %></td>
         <td>
            <div class="descnum">
               <%= report.description %>
         </td>
         <td><%if report.state == "Abierto"  %>
         <i style = "font-size:20px"  class="fa fa-unlock" aria-hidden="true"></i>
         <%else%>
         <i  style = "font-size:20px" class="fa fa-lock" aria-hidden="true"></i>
         <%end%>
         </td>
         <td style = "width:13%"><%= link_to  report, :class => "opciones" do %>
         <i class="fa fa-eye" aria-hidden="true"></i>
         <% end %>
         <%= link_to  edit_report_path(report), :class => "opciones" do %>
         <i class="fa fa-pencil" aria-hidden="true"></i>
         <% end %>
         <%= link_to  report,  method: :delete, class: "",data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
         <i class="fa fa-trash" aria-hidden="true"></i>
         <% end %></td>
      </tr>
      <% end %>
   </tbody>
</table>-->


<%if @reports.count != 0%><p class="linka"> <%= check_box_tag "all_id", 0 %> Seleccionar totos</p><%end%>
<% @reports.each do |report| %>



<div class="col-md-2 text-left hidden-xs" style = "padding-left: 40px !importan;padding-top: 5px !important;
    padding-bottom: 0px !important;">
  <%= check_box_tag "report_ids[]", report.id ,false ,class:"ck"%> </div>

  
<div class="col-md-10 text-right" style = "padding-left: 40px !importan;padding-top: 5px !important;
    padding-bottom: 0px !important;">
  
         <%= link_to  edit_report_path(report), :class => "opciones" do %>
         <i class="fa fa-pencil" aria-hidden="true"></i>
         <% end %>
         <%= link_to  report,  method: :delete, class: "",data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
         <i class="fa fa-trash" aria-hidden="true"></i>
         <% end %>
</div>

<%= link_to  report_path(report) do %>
<div class="row seg">


<div class="col-md-10 name text-left" style = "padding:0px 10px !important;margin-left:15px;color:<%=estado_contador(report.contador_seg)%>">

  <strong><%= report.name%></strong>


</div>

<div class="col-md-12">
<hr class = "hr" style = "border: 0.5px solid #dedede !important;">
<div class="col-md-3"> <strong>Creado:</strong> <%= get_date(report.created_at)%>
</div>
<div class="col-md-3">
 <strong>Codigo:</strong> <%=report.codigo%>
</div>
<div class="col-md-3">
<% employed = Employed.find(report.employed_id)%>
   <strong>Responsable:</strong> <button type="button" class="btn numerb" data-container="body" data-toggle="popover" data-placement="top" data-content="<p style='text-align:center;margin:0px;padding:0px;'><img src='<%= employed.avatare_url(:thumb) %>'></p><br><strong>Cargo:</strong> <%= employed.cargo.name %><br> <strong>Email:</strong> <%= employed.email%><br><strong>Cedula:</strong> <%= employed.document %>"><%= employed.first_name %> <%= employed.first_last_name %></button>
</div>

<div class="col-md-1">
<%if report.state == "Abierto"  %>
         <i style = "font-size:20px"  class="fa fa-unlock" aria-hidden="true"></i>
         <%else%>
         <i  style = "font-size:20px" class="fa fa-lock" aria-hidden="true"></i>
         <%end%>
</div>

  
</div>

<div class="col-md-12">

<div class="col-md-3">
 <strong>Fuente:</strong> <%=report.source.name%>
</div>
<div class="col-md-3">
 <strong>Costo:</strong> <%=report.costo%>
</div>

<div class="col-md-3">
  <strong>Compromiso:</strong> <%= get_date(report.f_compromiso)%>
</div>

  
</div>


  
</div>
<br>

 <% end %>
<% end %>
<% end %>























</div>
<script>
   $(document).on('turbolinks:load',function() {
   
      
      
      
   
      $('.sh').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '150px',
            placeholder_text_single: "Fuente",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
   
      $('.sh4').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '150px',
            placeholder_text_single: "Estado",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
     
      
     
   
      $('.sh1').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '150px',
            placeholder_text_single: "Responsable",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
      
     
      
      $('.sh2').chosen(
          {
      
            allow_single_deselect: true,
            no_results_text: 'No hay resultados',
            width: '150px',
            placeholder_text_single: "Proceso",
            placeholder_text_multiple: "Seleccione una varias opciones"
      
          });
    $('.chosen-container span').addClass("shi") ;
     }); 
   $('.sh').val("<%=params[:search2]%>") ;
    $('.sh2').val("<%=params[:search4]%>") ;
      $('.sh3').val("<%=params[:search5]%>") ;
       $('.sh1').val("<%=params[:search3]%>") ;
      $('.sh4').val("<%=params[:search6]%>") ;
      $('.sh0').val("<%=params[:search0]%>") ;
      $('.sh00').val("<%=params[:search]%>") ;
      
     
      /*$('.filtrost').hide();
      if ("<%=params[:commit]%>" != "")
      {
      $('.filtrost').fadeIn();
      $('.filtros1').fadeOut();
      }
      
      $('.filtros1').click(function(){
      
      $('.filtrost').fadeIn();
      $('.filtros1').fadeOut();
      
      });*/
      
      
      
      
</script>
<style>
   .shi
   {
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   }
   .shi1
   {
   width: 60px;
   display: inline-block;
   height:  30px !important;
   color:gray !important;
   font-size: 10px !important;
   padding: 6px 2px;
   text-align: center;
   }
   .busqueda
   {
        display: block;
    padding: 10px;
    background: #e8e8e8;
   }
</style>
<style>
   .btn-danger{background-color: #d9534f
   !important}
</style>
<script>
   $(document).on('turbolinks:load',function() {
      $('.btn-danger').hide();
      
      $('#all_id').click(function(){
      
        if ( $(this).is(':checked') )
        {
                $('.ck').prop('checked', true);
                $('.btn-danger').fadeIn();
                 $('td').css('background-color', 'whitesmoke');
           }
            else{
                $('.ck').prop('checked', false);
                $('.btn-danger').fadeOut();
                $('td').css('background-color', 'white');
             }
        });
      
      $('.ck').click(function(){
      
      if ( $(this).is(':checked') )
        {
                $('td').css('background-color', 'whitesmoke');
                $('.btn-danger').fadeIn();
           }
            else{
                $('td').css('background-color', 'white');
                $('.btn-danger').fadeOut();
             }
        });
      
    



   if ("<%=params[:filtros]%>" != "" ||  "<%=params[:commit]%>" != "")
   {
 $('.busqueda').show();
 $('.canf').show();
 $('.canf1').hide();

   }
   else
   {
    $('.busqueda').hide();
     $('.canf1').show();

   }

     



       });
   
   
      
     
</script>
<style>
  .seg
  {
    
    padding: 10px;
    color: gray;

    border: 1px solid #cecece;
  font-size: 13px;
     -webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.3s;
        border-bottom: 3px solid #ababab !important;
  }
  .seg:hover
  {
  
    box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
  }
</style>




