<div class = "row title-table">
   <div class = "col-md-10">
      <p >Hallazgos <span class="label label-primary"><%=@reports.count%></span></p>
   </div>
   <div class = "col-md-2">
      <%= link_to 'Nuevo', new_report_path, class: "btn btn-primary"  if current_user.rol == "SuperAdmin" || current_user.rol == "Admin" %>
   </div>
</div>
<div class = "row">
   <div class = "col-md-6">
      <div class="form-group">
         <%= form_tag(@route, :method => "get", id: "search-form") do %>
         <%= text_field_tag :search, params[:search], placeholder: "Buscar", class: "form-control search1" %>
                 
         <%= submit_tag "Search", :class => "btn btn-primary" %>
         <% end %>
      </div>
   </div>
   <div class = "col-md-6 paginate">
  
    <div class="page_info">
      <%= page_entries_info @reports, :entry_name => 'Reporte' %>
    </div>
    <%= will_paginate @reports%>
  
   
</div>
<div class = "row">
   <table class="table">
      <thead>
         <tr class = "tr-table">
    
      <th>Source</th>
      <th>Employed</th>
      <th>Proceso</th>
      <th>Description</th>
      <th>Requisito</th>
      <th>Evidencia</th>
      <th>Nc type</th>
      <th>Accion</th>
      <th>Justificacion</th>
      <th>User</th>
      <th>Admin user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.source.name %></td>
        <td><%= Employed.find(report.employed_id).first_name %> </td>
        <td><%= report.proceso.name %></td>
        <td><%= report.description %></td>
        <td><%= report.requisito %></td>
        <td><%= report.evidencia %></td>
        <td><%= report.nc_type %></td>
        <td><%= report.accion %></td>
        <td><%= report.justificacion %></td>
        <td><%= report.user_id %></td>
        <td><%= report.admin_user %></td>
        <td><%= link_to  report, :class => "opciones" do %>
               <i class="fa fa-eye" aria-hidden="true"></i>
               <% end %>
               <%= link_to  edit_report_path(report), :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               <%= link_to  report,  method: :delete, data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
               <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

