<div class="row" >
  <div class="col-md-12 ">
    <p><%= link_to "Inicio ",  root_path, :class => "linka" %> </p>
  </div>
</div>

<div class = "row title-table">
   <div class = "col-md-10">
      <p >Hallazgos <span class="label label-primary"><%=@reports.count%></span></p>
   </div>
   <div class = "col-md-2">
      <%= link_to 'Nuevo', new_report_path, class: "btn btn-primary"  if current_user.rol == "SuperAdmin" || current_user.rol == "Admin" %>
   </div>
</div>
 <div class = "row ">
   


   <div class = "col-md-6" style = "margin-top: 32px;     background: #e6e6e6;
    border-radius: 4px;
    
    padding: 10px;">
      
         <%= form_tag(@route, :method => "get", id: "search-form", class: "form-inline") do %>
         <div class="form-group">
         <%= text_field_tag :search, params[:search], placeholder: "Ingrese texto", class: "form-control shi" %>
         </div>
          <div class="form-group">
         <%=select_tag 'search2', options_for_select(get_sources.collect{ |u| [u.name, u.id, ] }),{:class => "form-control sh", include_blank: true , placeholder: "hola"}%>

          </div>
        
                 
         <%= submit_tag "Buscar", :class => "btn btn-primary", style: "margin-left:10px;padding:3px 20px;" %>

         <% end %>
<% if action_name == "index"%>
<%= (link_to "Cancelar filtros", reports_path, class: "linka") if params[:commit]  %>
<%elsif action_name =="abiertos"%>
<%= (link_to "Cancelar filtros", reports_abiertos_path, class: "linka") if params[:commit]  %>
<%else%>
<%= (link_to "Cancelar filtros", reports_cerrados_path, class: "linka") if params[:commit]  %>
<%end%>





      
   </div>

   <div class = "col-md-6 paginate text-right">
  
    
      <span class="page_info" style = "margin-right:10px;"><%= page_entries_info @reports, :entry_name => 'Reporte' %> </span>
    <br>
    <%= will_paginate @reports%>
  
   </div>
   </div>
  

<br>
<div class = "row">
   <table class="table">
      <thead>
         <tr class = "tr-table">
      <th style = "width:13%">F Creacion</th>
      <th style = "width:13%">Fuente</th>
      <th style = "width:13%">Responsable</th>
      <th style = "width:13%">Proceso</th>
      <th style = "width:25%">Descripcion</th>
      <th style = "width:13%">Estado<th>
   
      
    
      <th style = "width:13%"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
      <td><%= get_date(report.created_at) %></td>
        <td><%= report.source.name %></td>
        <td><%= Employed.find(report.employed_id).first_name %> <%= Employed.find(report.employed_id).first_last_name %></td>
        <td><%= report.proceso.name %></td>
        <td><%= report.description %></td>
       

        <td><%if report.state == "Abierto"  %>
          
<i style = "font-size:20px"  class="fa fa-unlock" aria-hidden="true"></i>

          <%else%>
          <i  style = "font-size:20px" class="fa fa-lock" aria-hidden="true"></i>
          <%end%>

        </td>
       
        <td style = "width:13%"><%= link_to  report, :class => "opciones" do %>
               <i class="fa fa-eye" aria-hidden="true"></i>
               <% end %>
               <%= link_to  edit_report_path(report), :class => "opciones" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
               <% end %>
               <%= link_to  report,  method: :delete, data: { confirm: 'Are you sure?' }, :class => "opciones" do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
               <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>
  
  

    $('.sh').val("<%=params[:search2]%>") ;

$('.sh').chosen(
        {

          allow_single_deselect: true,
          no_results_text: 'No hay resultados',
          width: '200px;',
          placeholder_text_single: "Seleccione una Fuente",
          placeholder_text_multiple: "Seleccione una varias opciones"

        });

</script>
<style>



  
</style>

