<div class="info">
  

  <table class="table1" style = "width:1000px;font-size:16px;">
        <tr>
         <td  colspan="5" class=""><strong>Descripcion Corta: </strong> <%=@report.name%></td>
      </tr>

</table>
<hr>
<table class="table1" style = "width:1000px;font-size:16px;">
   
    
      <tr>
         <td><strong>Creado:</strong> <%= get_date(@report.created_at) %></td>
          <td><strong>Fuente:</strong> <%= @report.source.name %></td>
           <td><strong>Proceso:</strong> <%= @report.proceso.name %></td>
            <td><strong>Estado: </strong><%= @report.state %></td>
            
      </tr></table>

<hr>

<%if @report.source.tipo == "Externa"%>
<table class="table1" style = "width:1000px;font-size:16px;">
   
    
      <tr>
         <td><strong><%= @report.clinte_proveedor.tipo%>: </strong> <%= @report.clinte_proveedor.name%></td>
          <td><%if @report.contact%><strong>Contacto: </strong> <%= @report.contact.name%> <strong>Email: </strong> </strong> <%= @report.contact.email%><%end%></td>
         
            
      </tr></table>

<hr>

 <%end%>

<table class="table1" style = "width:1000px;font-size:16px;">
       <tr>
         <td><strong>Reporta: </strong> <%= Employed.find(@report.employed_reporta).first_name%> <%= Employed.find(@report.employed_reporta).first_last_name%></td>
          <td><strong>Ejecuta: </strong> <%= Employed.find(@report.employed_id).first_name%> <%= Employed.find(@report.employed_id).first_last_name%></td>
           <td><strong>Cierra: </strong> <%= Employed.find(@report.cierra_id).first_name%> <%= Employed.find(@report.cierra_id).first_last_name%></td>
        
      </tr>

      <tr>
         <td colspan="3"><strong>Otros Interesados: </strong><% 
            cm = 0 
            @report.employeds.each do |resp|
              %><%= "," if cm != 0 %> 
         <%= resp.first_name%> <%=resp.first_last_name%>
         <%  cm = cm + 1 %> 
         <%end%></td>
 
           
      </tr>
</table>
<hr>
<table class="table1" style = "width:1000px;font-size:16px;">
     
      <tr>
         <td><strong>Fecha de compromiso: </strong> <%= get_date(@report.f_compromiso) if @report.f_compromiso %></td>
          <td><strong>Fecha de Cierre: </strong> <%= get_date(@report.f_real) if @report.f_real %></td>
         
            
      </tr>   
   
</table>
<hr>
<table class="table1" style = "width:1000px;font-size:16px;">
     
      <tr>
         <td><strong>Descripción detallada:</strong> <%= @report.description%></td>
          
         
            
      </tr>  
      <tr>
         <td><%if @report.source.evidencia%>
         <strong>Evidencia que soporta el Reporte:</strong> <%= @report.evidencia%> </div>
         <%end%> 
      </td>
          
         
            
      </tr>  

         <tr>
         <td> <%if @report.source.requisito%>
      <strong>Requisito Legal y/o Interno:</strong>: <%= @report.requisito%>
 <%end%> 
      </td>
          
         
            
      </tr>  
   
</table>

<hr>
<table class="table1" style = "width:1000px;font-size:16px;">
     
      <tr>
         <td><%cm = 0
          if @report.source.numerales%>
            
         <strong>Requisito Aplicable:</strong> <% @report.numerals.each do |numr|%>
<%= "," if cm != 0 %> 
       <%= numr.norma_name%>-<%= numr.numeral%>-<%= numr.name%>

       
         <%cm = cm + 1
         end%>
      
    
<%end%>
      </td>
    
         
            
      </tr>  
   
</table>
</div>
<style>
.info
{
  border:1px solid #cecece;
}
 .table1
    {

        color: #7a7a7a;
        font-size:12px;
        padding-left: 20px;
    padding-right: 20px;
    



    }
  .table1 td, th
  {
        padding: 6px 20px;
    
  }
</style>







<div class="row" >
  
<div class="col-md-12 wihtout-padding" style = "width: 1200px;">
<h3 class = "linka htitle text-center">Reporte (<%= @report.codigo %>)</h3>

<div class="conteinter reporte cnt">
 <div class="row rtr name">
      <div class="col-md-12 rtd"><%=@report.name%></div>
    
   </div>
   <hr>
   <div class="row rtr">
      <div class="col-md-2 rtd"><strong>Creado:</strong> <%= get_date(@report.created_at) %></div>
      <div class="col-md-2 rtd"><strong>Fuente:</strong> <%= @report.source.name %></div>
      
      <div class="col-md-3 rtd"><strong>Proceso:</strong> <%= @report.proceso.name %></div>
      <div class="col-md-2 rtd"><strong>Estado: </strong><%= @report.state %></div>
   
      <div class="col-md-2 rtd"><strong>Costo: </strong><%= number_to_currency(@report.costo) %></div>
   </div>
   <hr>
   <div class="row rtr">
    
  <div class="col-md-4 rtd"><strong>Reporta: </strong> <%= Employed.find(@report.employed_reporta).first_name%> <%= Employed.find(@report.employed_reporta).first_last_name%></div>
   <div class="col-md-4 rtd"><strong>Ejecuta: </strong> <%= Employed.find(@report.employed_id).first_name%> <%= Employed.find(@report.employed_id).first_last_name%></div>
   <div class="col-md-4 rtd"><strong>Cierra: </strong> <%= Employed.find(@report.cierra_id).first_name%> <%= Employed.find(@report.cierra_id).first_last_name%></div>
   <div class="col-md-12 rtd"><strong>Otros Interesados: </strong><% 
            cm = 0 
            @report.employeds.each do |resp|
              %><%= "," if cm != 0 %> 
         <%= resp.first_name%> <%=resp.first_last_name%>
         <%  cm = cm + 1 %> 
         <%end%></div>

   </div>
   <%if @report.source.tipo == "Externa"%>
   <hr>
   <div class="row rtr">
      <div class="col-md-4 rtd"><strong><%= @report.clinte_proveedor.tipo%>: </strong> <%= @report.clinte_proveedor.name%></div>
     
   </div>
   <%end%>
   <hr>
   <div class="row rtr">
      <!--<div class="col-md-12 rtd"><strong>Descripcion</strong></div>-->
      <div class="col-md-12 rtd text-left">
        
         <div class="descnum"><strong>Descripción detallada:</strong> <%= @report.description%></div>
      </div>

   </div>
   <hr>
      <div class="row rtr">
      <!--<div class="col-md-12 rtd"><strong>Descripcion</strong></div>-->
     
      <div class="col-md-12 rtd text-left">
     <strong>Adjunto:</strong>  <% if @report.archivo_url%>
         <%= link_to "Descargar Archivo", @report.archivo_url , :class => "linka" %>
         <!--<%= image_tag get_extension(@report.archivo.file.extension), class: "extension"%>-->
         <%else%>
         No hay archivo
         <%end%><br>
         <%if @report.source.evidencia%>
         <div class="descnum"> <strong>Evidencia:</strong> <%= @report.evidencia%> </div>
         <%end%> 
      </div>
   </div>
   <hr>

   <div class="row rtr">
      <!--<div class="col-md-12 rtd"><strong>Descripcion</strong></div>-->
       <%if @report.source.requisito%>
      <div class="col-md-12 rtd text-left"> <strong>Requisito Legal y/o Interno:</strong>: <%= @report.requisito%></div>
 <%end%>
 <%if @report.source.numerales%>
      <div class="col-md-12 rtd text-left">
         <strong>Requisito Aplicable:</strong> <% @report.numerals.each do |numr|%>
         <!-- Large modal -->
         <button class="btn numerb" id = "<%=numr.id%>" data-toggle="modal" data-target="#myModal" value="<%=numr.description%>"><%= numr.norma_name%>-<%= numr.numeral%>-<%= numr.name%></button>
         <!-- Modal -->
         <br>
         <%end%></strong> 
         <script>
            $('.numerb').click(function(){
            a = $(this).prop('value');
            b = $(this).text();
            
            $('.modalp').html(a);
            $('.modalp1').text(b);
            
            });
            
              
         </script>
    
<%end%>

</div>


<style>
   .imaacc img
   {
   border-radius: 40px;
   }
   .cnt
   {
   border: 1px solid #c3c3c3;
   margin-bottom: 10px;
   }
   .rtr
   {
   }
   .rtd
   {
   padding: 10px;
   }
   .titulo
   {
   background:#f2f2f2;
   }
   hr
   {
   margin-top: 0px;
   margin-bottom: 0px;
   }

</style>
<script>
   $(function () {
   $('[data-toggle="popover"]').popover({
     trigger: 'hover',
     html: true
     
   
   })
   })
   
</script>











