<!--<div class="container border">
   <div class="col-md-12 text-center margitop"><br>
   
     <small>Descripcion Corta: </small><br>
       <b><%=@report.name%></b>
     <hr class="hr">
   </div>
   
   <div class="col-md-3 text-center">
     <small>Creado:</small><br>
     <b><%= get_date(@report.created_at) %></b>
   </div>
   
   <div class="col-md-3 text-center">
     <small>Fuente:</small><br>
     <b><%= @report.source.name %></b>
   </div>
   
   <div class="col-md-3 text-center">
     <small>Proceso:</small><br>
     <b><%= @report.proceso.name %></b>
   </div>
   
   <div class="col-md-3 text-center" style="margin-top: 10px;">
     <small>Estado:</small><br>
     <b><%= @report.state %></b>
   </div>
   
   
   <div class="col-md-6 text-center" style="margin-top: 10px;">
     <small style="color: #0db497;">Fecha de compromiso</small><br>
     <b><%= get_date(@report.f_compromiso) if @report.f_compromiso %></b>
   </div>
   
   
   <div class="col-md-6 text-center">
     <small style="color: #0db497;">Fecha de Cierre</small><br>
     <b><%= get_date(@report.f_real) if @report.f_real %></b>
   </div>
   
   <div class="col-md-12" style="padding: 0px; margin-top: 10px;">
     <legend>Responsabilidad</legend>
   </div>
   
   <div class="col-md-3" style="padding-left: 0px;">
     <small>Reporta:</small><br>
     <b><%= Employed.find(@report.employed_reporta).first_name%> <%= Employed.find(@report.employed_reporta).first_last_name%></b>
   </div>
   
   <div class="col-md-3" style="padding-left: 0px;">
     <small>Ejecuta:</small><br>
     <b><%= Employed.find(@report.employed_id).first_name%> <%= Employed.find(@report.employed_id).first_last_name%></b>
   </div>
   
   <div class="col-md-3 margin" style="padding-left: 0px;">
     <small>Cierra: </small><br>
     <b> <%= Employed.find(@report.cierra_id).first_name%> <%= Employed.find(@report.cierra_id).first_last_name%></b>
   </div>
   
   <div class="col-md-3" style="margin-left: 0px;">
     <small>Otros Interesados:</small><br>
     <% 
      cm = 0 
      @report.employeds.each do |resp|
        %><%= "," if cm != 0 %> 
      <b class="show-intere"><%= resp.first_name%> <%=resp.first_last_name%></b>
      <%  cm = cm + 1 %> 
     <% end -%>
   
   </div>
   
   <%if @report.source.tipo == "Externa"%>
   <div class="col-md-12"  style="padding: 0px; margin-top: 10px;">
   
     <legend>Cliente Proveedor</legend>
   
     <div class="col-md-3"  style="padding-left: 0px;">
       <small>Tipo de Cliente Proveedor <%= @report.clinte_proveedor.tipo if @report.clinte_proveedor %></small><br>
         <b><%= @report.clinte_proveedor.name if @report.clinte_proveedor%></b>
     </div>
   
     <div class="col-md-3"  style="padding-left: 0px;">
       <small>Nombre Contacto</small><br>
       <b><%= @report.contact.name if @report.contact %></b>
     </div>
   
     <div class="col-md-3"  style="padding-left: 0px;">
       <small>Email</small><br>
       <b> <%= @report.contact.email if @report.contact %></b>
     </div>
   
     <br><br><br>
   
   </div>
   <% end -%>
   
   </div>
   
   <%if @report.source.correccion%>
   <div class="container border" style="margin-top: 32px;">
   
     <div class="col-md-12 text-center margitop"><br>
       <strong>Correcciones</strong>
       <hr class="hr">
     </div>
   
     <%@report.accions.where(tipo:"Correccion").each do |correccion|%>
   
     <div class="col-md-6 text-center">
       <strong>Descripcion:</strong>
       <p><%= correccion.name %></p>
     </div>
   
     <div class="col-md-6 text-center">
       <strong>Eficaz:</strong>
       <p><%= correccion.eficaz %></p>
     </div>
   
   <% end -%>
   </div>
   <% end -%>
   
   <%if @report.source.causa%>
   <div class="container border" style="margin-top: 32px;">
   
     <div class="col-md-12 text-center margitop"><br>
       <strong>Analisis de Causas (<%=@report.causas.first.tipo if @report.causas.first%>)</strong>
       <hr class="hr">
     </div>
   
     <%@report.accions.where(tipo:"Accion").each do |correccion|%>
   
     <div class="col-md-6 text-center">
       <strong>Descripcion:</strong>
       <p><%= correccion.name %></p>
     </div>
   
     <div class="col-md-6 text-center">
       <strong>Eficaz:</strong>
       <p><%= correccion.eficaz %></p>
     </div>
   
   <% end -%>
   </div>
   <% end -%>
   
   <%if @report.source.accion%>
   <div class="container border" style="margin-top: 32px;">
   
     <div class="col-md-12 text-center margitop"><br>
       <strong>Acciones</strong>
       <hr class="hr">
     </div>
   
     <%@report.accions.where(tipo:"Accion").each do |accion|%>
   
     <div class="col-md-6 text-center">
       <strong>Descripcion:</strong>
       <p><%= accion.name %></p>
     </div>
   
     <div class="col-md-6 text-center">
       <strong>Eficaz:</strong>
       <p><%= accion.eficaz %></p>
     </div>
   
   <% end -%>
   </div>
   <% end -%>
   
   <div class="info">
   
   
   <table class="table1" >
   
   </table>
   
   <table class="table1" >
    <tr>
      <td><strong>Reporta: </strong> <%= Employed.find(@report.employed_reporta).first_name%> <%= Employed.find(@report.employed_reporta).first_last_name%></td>
       <td><strong>Ejecuta: </strong> <%= Employed.find(@report.employed_id).first_name%> <%= Employed.find(@report.employed_id).first_last_name%></td>
        <td><strong>Cierra: </strong> <%= Employed.find(@report.cierra_id).first_name%> <%= Employed.find(@report.cierra_id).first_last_name%></td>
     
   </tr>
   
   <tr>
      <td colspan="3"><strong>Otros Interesados: </strong><% 
      cm = 0 
      @report.employeds.each do |resp|
        %><%= "," if cm != 0 %> 
      <%= resp.first_name%> <%=resp.first_last_name%>
      <%  cm = cm + 1 %> 
      <%end%></td>
   
        
   </tr>
   </table>
   <hr>
   <table class="table1" >
   
   <tr>
      <td><strong>Fecha de compromiso: </strong> <%= get_date(@report.f_compromiso) if @report.f_compromiso %></td>
       <td><strong>Fecha de Cierre: </strong> <%= get_date(@report.f_real) if @report.f_real %></td>
      
         
   </tr>   
   
   </table>
   <hr>
   <table class="table1" >
   
   <tr>
       
      
         
   </tr>  
   <tr>
      <td><%if @report.source.evidencia%>
      <strong>Evidencia que soporta el Reporte:</strong> <%= @report.evidencia%> </div>
      <%end%> 
   </td>
       
      
         
   </tr>  
   
      <tr>
      <td> <%if @report.source.requisito%>
   <strong>Requisito Legal y/o Interno:</strong>: <%= @report.requisito%>
   <%end%> 
   </td>
       
      
         
   </tr>  
   
   </table>
   
   <hr>
   <table class="table1" >
   
   <tr>
      <td><%cm = 0
      if @report.source.numerales%>
         
      <strong>Requisito Aplicable:</strong> <% @report.numerals.each do |numr|%>
   <%= "," if cm != 0 %> 
    <%= numr.norma_name%>-<%= numr.numeral%>-<%= numr.name%>
   
    
      <%cm = cm + 1
      end%>
   
   
   <%end%>
   </td>
   
      
         
   </tr>  
   
   </table>
   
   </div>
   
   
   
   <style>
   .info
   {
   border:1px solid #cecece;
   }
   .table1
   {
   
     color: #7a7a7a;
     font-size:12px;
    
   width:1100px;font-size:16px;
   
   
   
   }
   .table1 td, th
   {
     padding: 6px 20px;
   
   }
   .tit
   {
   font-size: 22px;
   
   }
   
   .border{
   border: 5px solid  #e8e8e8;
   border-radius: 4px;
   }
   
   .margitop{
   margin-bottom: 16px;
   }
   
   .margin{
   margin-bottom: 20px;
   }
   
   .show-intere{
   background-color: #e8e8e8;
   padding: 3px;
   border-radius: 4px;
   }
   
   small{
   color: #0db497 !important;
   }
   
   
   </style>
   
   -->
<div class="info">
   <table class="table1"  >
      <tr>
         <td  colspan="4" style="text-align:center;margin-bottom: 20px;    border-bottom: 1px solid #c2c2c2;">
            <strong>Descripcion</strong>
            <br> 
            <p style="text-align: left;padding: 0px 30px;"> <%=@report.description%></p>
         </td>
      </tr>
      <tr>
         <td style="text-align: center;width:25%"><strong>Creado:</strong><br> <%= get_date(@report.created_at) %></td>
         <td style="text-align: center;width:25%"><strong>Proceso:</strong><br> <%= @report.proceso.name %></td>
         <td style="text-align: center;width:25%"><strong>Fuente:</strong><br> <%= @report.source.name %></td>
         <td style="text-align: center;width:25%"><strong>Tipo de Reporte:</strong><br> <%= @report.proceso.name %></td>
      </tr>
   </table>
   <%if @report.source.tipo == "Externa"%>
   <table class="table1 tditems" style="margin-bottom: 40px !important; margin-top: 40px !important; margin-left: 20px;border-top:1px solid gray;border-top:1px solid #c2c2c2">
      <tr>
         <td>
            <strong> Tipo de Cliente Proveedor <%= @report.clinte_proveedor.tipo  if @report.clinte_proveedor %></strong><br>
            <p><%= @report.clinte_proveedor.name if @report.clinte_proveedor %></p>
         </td>
         <td>
            <% if @report.contact%><strong>Contacto: </strong><br> 
            <p><%= @report.contact.name%></p>
            <% end %>
         </td>
         <td>
            <strong>Email: </strong><br>
            <p><%= @report.contact.email%></p>
         </td>
      </tr>
   </table>
   <% end %>
   <table class="table1 responsables tditems" style="border-top:1px solid #c2c2c2">
   <tr>
      <td><strong>Reporta: </strong><br> <%= Employed.find(@report.employed_reporta).first_name%> <%= Employed.find(@report.employed_reporta).first_last_name%></td>
      <td><strong>Ejecuta: </strong> <br> <%= Employed.find(@report.employed_id).first_name%> <%= Employed.find(@report.employed_id).first_last_name%></td>
      <td><strong>Cierra: </strong><br> <%= Employed.find(@report.cierra_id).first_name%> <%= Employed.find(@report.cierra_id).first_last_name%></td>
      <td ><strong>Otros Interesados: </strong><br> <% 
         cm = 0 
         @report.employeds.each do |resp|
           %><%= "," if cm != 0 %> 
         <%= resp.first_name%> <%=resp.first_last_name%>
         <%  cm = cm + 1 %> 
         <%end%>
      </td>
   </tr>
   <table class="table1 responsables tditems" style="border-top:1px solid #c2c2c2">
      <tr>
         <td><strong>Fecha de compromiso: </strong> <br><%= get_date(@report.f_compromiso) if @report.f_compromiso %></td>
         <td><strong>Fecha de Cierre: </strong> <br><%= get_date(@report.f_real) if @report.f_real %></td>
         <td><strong>Costo Presupuestado: </strong><br> <%= @report.costo_presupuestado %></td>
         <td><strong>Costo Real: </strong><%= @report.costo %></td>
      </tr>
   </table>
   <table class="table1" style="border-top:1px solid #c2c2c2">
      <tr>
         <td><%if @report.source.evidencia%>
            <strong>Evidencia que soporta el Reporte:</strong> <%= @report.evidencia%> 
</div>
<%end%> 
</td>
</tr>  
<tr>
<td> <%if @report.source.requisito%>
<strong>Requisito Legal y/o Interno:</strong>: <%= @report.requisito%>
<%end%> 
</td>
</tr>  
</table>
<table class="table1" >
   <tr>
      <td><%cm = 0
         if @report.source.numerales%>
         <strong>Requisito Aplicable:</strong> <% @report.numerals.each do |numr|%>
         <%= "," if cm != 0 %> 
         <%= numr.norma_name%>-<%= numr.numeral%>-<%= numr.name%>
         <%cm = cm + 1
            end%>
         <%end%>
      </td>
   </tr>
</table>
</div>
<br>
<%if @report.source.correccion%>
<div class="info">
   <table class="table1" >
      <tr>
         <th colspan="4" class="tit">CORRECCIONES</th>
      </tr>
      <tr>
         <th style="width:40%">Descripcion</th>
         <th style="width:20%">Entrega</th>
         <th style="width:20%">Cumplio</th>
         <th style="width:20%">Eficaz</th>
      </tr>
      <%@report.accions.where(tipo:"Correccion").each do |correccion|%>
      <tr>
         <td><%=correccion.name%></td>
         <td><%=correccion.f_compromiso%></td>
         <td><%=if correccion.estado == "Cerrada"
            correccion.contador_seg > 0  ? "Si" : "No"
            else
            "Sin Cerrar"
            end %></td>
         <td><%=if correccion.estado == "Cerrada"
            correccion.eficaz  ? "Si" : "No"
            else
            "Sin Cerrar"
            end %>
         </td>
      </tr>
      <%end%>
      </tr>  
   </table>
   <% end %>
</div>
<div class="info">
   <%if @report.source.causa%>
   <table class="table1">
      <tr>
         <th colspan="4" class="tit">ANALIS DE CAUSAS (<%=@report.causas.first.tipo if @report.causas.first%>)</td>
      </tr>
      <% @report.causa_efectos.where(estado: "vital").each do |causa|%>
      <tr>
         <td><strong>Causa</strong><%= causa.name %></td>
      </tr>
      <tr>
         <td>Acciones</td>
      </tr>
      <tr>
         <th style="width:40%">Descripcion</th>
         <th style="width:20%">Entrega</th>
         <th style="width:20%">Cumplio</th>
         <th style="width:20%">Eficaz</th>
      </tr>
      <%causa.accions.where(tipo:"Accion").each do |accion|%>
      <tr>
         <td><%=accion.name%></td>
         <td><%=accion.f_compromiso%></td>
         <td><%=if accion.estado == "Cerrada"
            accion.contador_seg > 0  ? "Si" : "No"
            else
            "Sin Cerrar"
            end %></td>
         <td><%=if accion.estado == "Cerrada"
            accion.eficaz  ? "Si" : "No"
            else
            "Sin Cerrar"
            end %>
         </td>
      </tr>
      <%end%>
      </tr>   
      <%end%>
   </table>
   <% end %>
   <%if @report.source.accion%>
   <% ax = 0
      @report.accions.where(tipo:"Accion").each do |acc|
         if acc.causa_efectos.count < 1 
             ax = 1
         end
      
       end%>
   <% if ax == 1 %>
   <table class="table1" >
      <tr>
         <th colspan="4" class=" tit">ACCIONES</td>
      </tr>
      <tr>
         <th style="width:40%">Descripcion</th>
         <th style="width:20%">Entrega</th>
         <th style="width:20%">Cumplio</th>
         <th style="width:20%">Eficaz</th>
      </tr>
      <%@report.accions.where(tipo:"Accion").each do |accion|%>
      <tr>
         <td><%=accion.name%></td>
         <td><%=accion.f_compromiso%></td>
         <td><%=if accion.estado == "Cerrada"
            accion.contador_seg > 0  ? "Si" : "No"
            else
            "Sin Cerrar"
            end %></td>
         <td><%=if accion.estado == "Cerrada"
            accion.eficaz  ? "Si" : "No"
            else
            "Sin Cerrar"
            end %>
         </td>
      </tr>
      <%end%>
      </tr>   
   </table>
   <%end%>
   <%end%>
</div>
<style>
   .info
   {
   border:1px solid #cecece;
   width:1100px;
   }
   .table1
   {
   color: #7a7a7a;
   font-size:12px;
   width:1100px;
   font-size:16px;
   }
   .table1 th
   {
   padding: 6px 20px;
   }
   .table1 td
   {
   padding: 15px 20px;
   }
   .tit
   {
   font-size: 22px;
   }
</style>
<style type="text/css">
   #orgChart{
   width: auto;
   height: auto;
   }
   #orgChartContainer{
   width: 1000px;
   height: 500px;
   overflow: auto;
   background: #eeeeee;
   }
   .responsables td
   {
   text-align: center;
   }
   .tditems td
   {
   width:25%;
   }
</style>