<table class = "reporte">
<tr>
  
  <th>Fecha de Apertura</th>
  <td><%= @report.created_at.strftime("%m/%d/%Y") %></td>
  <th>Fuente</th>
  <td><%= @report.source.name %></td>
  <th>Proceso</th>
  <td><%= @report.proceso.name %></td>
</tr>
<tr>
  
  <th>Tipo de NC</th>
  <td><%= @report.nc_type %></td>
  <th>Estado del Hallazgo</th>
  <td><%= @report.state %></td>
  <th></th>
  <td>0</td>
</tr>
<tr>
  
  <th>Reporta</th>
  <td><%= @report.user.name %></td>
  <th>Asignado Responsable</th>
  <td><%= Employed.find(@report.employed_id).first_name %> <%= Employed.find(@report.employed_id).first_last_name %></td>
  <th>Otros interesados</th>
  <td><% @responsables.each do |resp| %>
    <%= resp.first_name%> <%= resp.first_last_name%><br>
    <%end%>
  </td>
</tr>
<tr>
  
  <th colspan="6">Description</th>
   
</tr>
<tr>
  
 
  <td colspan="6"><%= @report.description %></td>
   
</tr>
<tr>
  
  <th>Evidencia</th>
  <td colspan="2"><%= @report.nc_type %></td>
  <th>Evidencia Adjunta</th>
  <td colspan="2"><%= link_to "Descargar Archivo", @report.archivo_url if @report.archivo_url %></td>
  
</tr>

<tr>
  
  <th>Requisito Legal o Interno</th>
  <td colspan="2"><%= @report.requisito %></td>
  <th>Requisto Aplicable</th>
  <td colspan="2"><% @requisitos.each do |req|
   numr = Numeral.find(req.numeral_id)%>
   
<!-- Large modal -->


<button class="btn numerb" id = "<%=numr.id%>" data-toggle="modal" data-target="#myModal" value="<%=numr.description%>"><%= numr.norma_name%>-<%= numr.numeral%>-<%= numr.name%></button>

  <!-- Modal -->
  <br>

    <%end%></td>
  <script>
    
$('.numerb').click(function(){
a = $(this).prop('value');
b = $(this).text();

$('.modalp').html(a);
$('.modalp1').text(b);

});

  </script>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title modalp1">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p class = "modalp"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</tr>
</table>




  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p class ="holas">Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @report.source.name %>
</p>

<p>
  <strong>Employed:</strong>
  <%= @report.employed_id %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @report.proceso_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Requisito:</strong>
  <%= @report.requisito %>
</p>

<p>
  <strong>Evidencia:</strong>
  <%= @report.evidencia %>
</p>

<p>
  <strong>Nc type:</strong>
  <%= @report.nc_type %>
</p>

<p>
  <strong>Accion:</strong>
  <%= @report.accion %>
</p>

<p>
  <strong>Justificacion:</strong>
  <%= @report.justificacion %>
</p>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @report.admin_user %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>

<script>
  $(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

<!-- Large modal -->

