<div class="row sign_form">
<div class="col-md-4 col-md-offset-4 login1" style="padding-top: 10px;">
<p class = "logop" style = "color:#9a9a9a;"><img style= "width:40px;" id="slack" src="https://c1.staticflickr.com/5/4184/34455208672_b8f967e15e_o.png"> Mejora<span>App</span></p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<% if  devise_error_messages? %>
   <div class="alert alert-danger alert-devise">
   <%= devise_error_messages!  %></div>
<% end %>


<div class="form-group">
    <%= f.label "Usuario" %>
    <%= f.text_field :name, :class => "form-control required", :title => "Es un Campo Obligatorio" %>
  </div>

   <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true , :class => "form-control required", :title => "Es un Campo Obligatorio"%>
  </div>


<div class="form-group">
    <%= f.label "Empresa" %><br />
    <%= f.text_field :company , :class => "form-control required", :title => "Es un Campo Obligatorio"%>
  </div>



  <%= f.hidden_field :role, :value => "SuperAdmin" %>





   <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" , :class => 'form-control minlength'%>
  </div>

   <div class="form-group">
    <%= f.label "Confirmar Contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , :class => 'form-control'%>
  </div>


   <div class="form-group">
    <%= f.submit "Sign up", :class => 'btn btn-primary btn-block is'  %>
  </div>
<% end %>

<div class="col-md-10 col-md-offset-1 text-center color-gray" style="margin-top:10px;">
Ya estas Registrado <%= link_to "Inicia Sesión", new_session_path(resource_name), class:"linka" %><br />
</div>
  </div>  </div>


  <style>
  .alert-devise h2
 {
     font-size: 18px !important;
     text-align: left !important;

 }
   .alert-devise li
 {

     text-align: left !important;

 }

.alert {
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 12px;
}

.alert-devise h2 {
    font-size: 16px !important;
    text-align: left !important;
    margin-top:5px;
}

.form-control {

    height: 30px;
} 

.sign_form {
    margin-top: 5px;
}
 .error
   {
   color: red !important;
   }
 </style> 


<script>
  $(document).ready(function(){
     $('#new_user').validate();



      $( "#new_user" ).rules( "add", {
    required: true,
    minlength: 2,
    messages: {
      required: "Campo Requerido",
      minlength: jQuery.validator.format("Please, at least {0} characters are necessary")
    }
});

   });
</script>